<!-- /templates/list-collections.liquid -->
{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}

{% assign page_title = "Artists" %}
{% assign alphabet = "a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" | split: '|' %}
<section class="section bg--section m0 py3 f--main">
    <div class="wrapper section--wrapper">
      <h1 class="collections-heading t--section-title text-align--center f--main font-size--l lg--font-size--xl m0 py3">{{ page_title }}{{filter}}</h1>
      <div class="wrapper text-center mb4">
        <div class="release-filter inline-block f--main font-weight--medium">
          <span class="filter-word left">Filter:&nbsp;</span>
          <div class="dropdown left text-align--left">
            <span class="filterValue label--hidden color--shop-accent">Alphabetically</span> {% include 'svg-icon', icon: 'chevron-down-header' %}
            <div class="label--hidden filter-options f--main font-weight--medium">
              <div class="option color--shop-accent genre"><span>By Genre</span></div>
              <div class="option active color--shop-accent"><span>Alphabetically</span></div>
            </div>
          </div>
        </div>
        <!--<div class="label--hidden filter-options f--main font-weight--medium">
          <div class="option color--shop-accent genre"><span>Genre</span></div>
          <div class="option active color--shop-accent"><span>Alphabetically</span></div>
        </div>-->
      </div>
      <!-- By genre is hidden -->
      <div id="genre-filter" class="label--hidden wrapper text-align--center mb4 f--main font-weight--bold filter-links">
        {% assign counter = 0 %}
        {% for tag in collections.all.all_tags %}
          {% assign tag_type = tag | slice: 0, 5 %}
          {% if tag_type == "genre" %}
            {% assign counter = counter | plus: 1 %}
          {% endif %}
        {% endfor %}
        {% assign counter = counter | plus: 1 %}
        {% assign percentage = 100 | divided_by: counter %}
        {% for tag in collections.all.all_tags %}
          {% assign tag_type = tag | slice: 0, 5 %}
          {% if tag_type == "genre" %}
            {% assign tag_size = tag | size %}
            <div class="left one-seventh" style="width: {{percentage}}%"><a href="/collections?filter={{tag}}">{{tag | slice: 5, tag_size}}</a></div>
          {% endif %}
        {% endfor %}
        <div class="left one-seventh" style="width: {{percentage}}%"><a href="/collections">All</a></div>
      </div>
      <!-- Monthly is showing up -->
      <div id="month-filter" class="wrapper text-align--center mb4 f--main font-weight--bold filter-links">
        {% for letter in alphabet %}
          <div class="left one-twelfth"><a href="/collections?filter={{letter}}">{{letter | capitalize}}</a></div>
        {% endfor %}
        <div class="left one-twelfth"><a href="/collections">All</a></div>
      </div>
      <div class="non-padded grid grid-uniform  py2">
        {% for collection in collections %}
          {% unless collection.handle == 'frontpage' %}
            <!--{% assign grid_class = 'lg--one-half' %}
            {% assign extra_class = 'mb3' %}
            {% assign text_color = 'white' %}-->
            {% include 'collection-list_item', collection: collection, text_color: text_color %}
          {% endunless %}
        {% endfor %}
        <p class="empty-list main-fontstack text-center font-size--xl label--hidden">No artists available</p>
      </div>
    </div>
</section>

<style>
  .collections-heading  {
    font-size: 48px;
    line-height: 54px;
    font-weight: normal;
  }
  .non-padded {
    margin-left: 0;
  }
  .artist-tile {
    float: left;
    width: 23%;
    margin-right: 2.5%;
    padding-left: 0;
  }
  .artist-tile.last {
    margin-right: 0;
  }
  .artist-tile .cover {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .artist-tile .cover .overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
  }
  .artist-tile p {
    color: #5C6F7C;
    font-family: "Avenir Next";
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 12px 0 0;
  }
  .artist-tile p.mobile-show {
    display: none;
  }
  .artist-tile p.genre {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
  .artist-tile:hover .cover .overlay {
    opacity: 0.25;
  }
  .artist-tile:hover p {
    color: #00b0b7;
  }
  #month-filter .one-twelfth {
    width: 3.5%;
    white-space: nowrap;
  }
  @media screen and (max-width: 1259px) {
    .collections-heading  {
      font-size: 36px;
      line-height: 42px;
    }
  }
  @media screen and (max-width: 767px) {
    .artist-tile {
      width: 46%;
      margin-right: 8%;
      margin-bottom: 34px;
      min-height: 0;
    }
    .artist-tile.mobile-last {
      margin-right: 0;
    }
    .artist-tile p {
      margin: 5px 0 0;
    }
    .artist-title p.genre {
      margin-top: 2px;
    }
    .artist-tile p.mobile-show {
      display: block;
    }
    .artist-tile p.mobile-hide {
      display: none;
    }
    #genre-filter,
    #month-filter {
      margin-top: -32px;
      margin-bottom: 32px;
    }
    #genre-filter .one-seventh,
    #month-filter .one-twelfth {
      width: 33% !important;
      line-height: 44px;
      margin-bottom: 0;
    }
    #month-filter .one-twelfth {
      width: 8% !important;
    }
  }
</style>

<script type="text/javascript">
  function initSizes() {
    var initialHeight = 0,
        newHeight = 0;
    $(".artist-tile").height("");
    $(".artist-tile .cover").each(function(index, element) {
      $(element).height($(element).width());
      newHeight = $($(element).parent().parent()[0]).height();
      if (newHeight > initialHeight) {
        initialHeight = newHeight;
      }
    });
    $(".artist-tile").height(initialHeight);
  };
  $(document).ready(function() {
    $(window).on("resize", initSizes);
    initSizes();
    $(document).prop("title", "Artists – Floating World Records");
    // Filtering
    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    };

    var filter = getParameterByName("filter");
    if (filter) {
      $(".artist-tile").css({display: "none"}).removeClass("last mobile-last");
      if ($(".artist-tile." + filter).length === 0) {
        $(".empty-list").removeClass("label--hidden");
      } else {
        $(".artist-tile." + filter).each(function(index, element) {
          $(element).css({display: ""});
          if ((index+1) % 2 === 0) {
            $(element).addClass("mobile-last");
          }
          if ((index+1) % 4 === 0) {
            $(element).addClass("last");
          }
        });
      }
    }

    // Set active state on filter links
    $(".filter-links a").each(function(index, element) {
      if ($(element).attr("href") === "/collections?filter=" + filter) {
        $(element).addClass("active");
      }
      if (filter && filter.indexOf("genre") !== -1) {
        $("#genre-filter").removeClass("label--hidden");
        $("#month-filter").addClass("label--hidden");
        $(".release-filter .filterValue").text("By Genre");
        $(".filter-options .option").removeClass("active")
        $(".filter-options .option.genre").addClass("active");
      }
      if (!filter && $(element).attr("href") === "/collections") {
        $(element).addClass("active");
      }
    });
    // Filter dropdown
    $(".release-filter").on("click", function(e) {
      e.preventDefault();
      $(".filter-options").toggleClass("label--hidden");
    });
    $(".filter-options .option").each(function(index, element) {
      $(element).on("click", function(e) {
        e.preventDefault();
        $(".release-filter .filterValue").text($(element).find("span").text());
        $(".filter-options .option").removeClass("active");
        $(element).addClass("active");
        if (index === 0) {
          $("#genre-filter").removeClass("label--hidden");
          $("#month-filter").addClass("label--hidden");
        } else {
          $("#genre-filter").addClass("label--hidden");
          $("#month-filter").removeClass("label--hidden");
        }
      });
    });
    $(".release-filter span").removeClass("label--hidden"); 
  });
</script>