{% assign products = collections.all.products | sort: "created_at" | reverse %}

<section class="section section-page bg--section m0 pt3 pb4">
  <div class="wrapper section--wrapper">

    <h4 class="font-size--s font-weight--medium caps f--main ls2 m0 mt2 mb4 px2 text-align--center sub-color">{{ page.title }}</h4>
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte rte--page text-align--center">
      {{ page.content }}
    </div>

  </div>
</section>
<section class="section m0 pb4 bg--section">
  <div class="wrapper section--wrapper collection-wrapper">
    <h4>Latest releases</h4>
    {% for product in products limit:4 %}
      <div class="album-item{% if forloop.last == true %} last{% endif %}{% if forloop.index == 2 %} mobile-last{% endif %}">
        <a href="{{product.url}}"><div class="cover" style="background-image: url({{ product.featured_image.src | img_url: 'large' }})"><div class="overlay"></div></div></a>
        <a href="{{product.url}}"><p class="title">{{product.title}}</p></a>
        <a href="{{product.url}}">
          <p class="artist">
            {% assign collections_size = product.collections | size %}
            {% if collections_size > 4 %}
              Various
            {% else %}
              {% for collection in product.collections %}
                {{ collection.title }}
                {% if forloop.last == false %}/{% endif %}
              {% endfor %}
            {% endif %}
          </p>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

<section class="section section--newsletter m0 py3">
  <div class="wrapper section--wrapper text-align--center px2">
    <div class="py3">
      <h3 class="f--title font-size--xl newsletter-heading">Sign-up to our newsletter</h3>
      <p class="font-size--s lg--font-size--m newsletter-copy">Receive special offers and first look at new products</p>

      <div class="newsletter__form mx--auto mt3">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form--success newsletter-copy">{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
          <div class="input-group">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email"
              name="contact[email]"
              id="Email"
              class="input-group-field input-underline f--main newsletter-input"
              value="{% if customer %}{{ customer.email }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
              autocorrect="off"
              autocapitalize="off">
            <span class="input-group-btn submit-newsletter">
              <button type="submit" class="newsletter__submit button" name="commit" id="Subscribe">
                {{ 'general.newsletter_form.submit' | t }}
              </button>
            </span>
          </div>
        {% endif %}
      {% endform %}
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  function initSizes() {
    $(".collection-wrapper .album-item .cover").each(function(index, element) {
      $(element).height($(element).width());
    });
  };
  $(document).ready(function() {
    $(window).on("resize", initSizes);
    initSizes();
  });
</script>