<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}


<section class="section section-page bg--section m0 pt3 pb4">
  <div class="wrapper section--wrapper">

    <h2 class="t--section-title t--section-title text-align--center f--main lg--font-size--header m0 pb3">{{ page.title }}</h2>
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte rte--page text-center">
      {{ page.content }}
    </div>


    {% comment %}
      Contact form starts here
    {% endcomment %}
    <div class="form-vertical page--contact-form f-secondary mt4">
      {% form 'contact' %}

        {% comment %}
          Successful message
        {% endcomment %}
        {% if form.posted_successfully? %}
          <p class="note form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

        {% assign name_attr = 'contact.form.name' | t | handle %}
        <label for="ContactFormName" class="text-align--left font-size--m block pl-holder">{{ 'contact.form.name' | t }}</label>
        <input type="text" id="ContactFormName" class="mb7 full--w input-underline input-underline--primary" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" autocomplete="off">

        <label for="ContactFormEmail" class="text-align--left font-size--m block pl-holder">{{ 'contact.form.email' | t }}</label>
        <input type="email" id="ContactFormEmail" class="mb7 full--w input-underline input-underline--primary" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" autocomplete="off">

        {% assign name_attr = 'contact.form.phone' | t | handle %}
        <label for="ContactFormPhone" class="text-align--left font-size--m block pl-holder">{{ 'contact.form.phone' | t }}</label>
        <input type="tel" id="ContactFormPhone" class="mb7 full--w input-underline input-underline--primary" name="contact[{{ name_attr }}]" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}" autocomplete="off">

        <label for="ContactFormMessage" class="text-align--left font-size--m block">{{ 'contact.form.message' | t }}</label>
        <textarea rows="10" id="ContactFormMessage" class="mb7 full--w input-underline--primary" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <input type="submit" class="mt3 btn btn--full button no-line-height" value="{{ 'contact.form.send' | t }}">

      {% endform %}
    </div>
  </div>
</section>
