{% assign count = 1 %}
{% assign current_article_tags = article.tags %}
{% assign current_article_title = article.title %}
{% assign related_article_handles = '' %}

<section class="related-articles-section section bg--section m0 py4">
  <div class="wrapper section--wrapper collection-wrapper article-wrapper">
    <hr />
    <h4>Related articles</h4>
    {% for article in blog.articles %}
      {% unless article.title == current_article_title %}
        {% if count < 5 %}
          {% for tag in article.tags %}
            {% if current_article_tags contains tag %}
              {% assign related_article_handles = related_article_handles | append: article.handle %}
              <div class="album-item{% if forloop.last == true %} last{% endif %}">
                <a href="{{article.url}}"><div class="cover" style="background-image: url({{ article.image.src | img_url: 'large' }})"><div class="overlay"></div></div></a>
                <a href="{{article.url}}"><p class="title">{{article.title}}</p></a>
                <a href="{{article.url}}"><p class="artist">{% include 'date', date_object: article.published_at  %}</p></a>
              </div>
              {% assign count = count | plus: 1 %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endunless %}
    {% endfor %}
    {% for article in blog.articles %}

      {% unless article.title == current_article_title or related_article_handles contains article.handle %}
        {% if count < 5 %}
          <div class="album-item{% if forloop.last == true %} last{% endif %}">
            <a href="{{article.url}}"><div class="cover" style="background-image: url({{ article.image.src | img_url: 'large' }})"><div class="overlay"></div></div></a>
            <a href="{{article.url}}"><p class="title">{{article.title}}</p></a>
            <a href="{{article.url}}"><p class="artist">{% include 'date', date_object: article.published_at  %}</p></a>
          </div>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endunless %}
    {% endfor %}

  </div>
  <script type="text/javascript">
    function initSizes() {
      $(".article-wrapper .album-item .cover").each(function(index, element) {
          $(element).height($(element).width()/1.56);
      });
    };
    $(document).ready(function() {
      $(window).on("resize", initSizes);
      initSizes();
    });  
  </script>

  <style>
    @media screen and (max-width: 1259px) {
      .related-articles-section {
        padding-top: 0;
      }
      .related-articles-section .album-item {
        display: block;
        width: 100%;
        margin-bottom: 43px;
      }
      .related-articles-section .album-item.last {
        margin-bottom: 0;
      }
      .related-articles-section .album-item .cover {
        float: left;
        max-width: 244px;
        width: 48% !important;
        margin-right: 16px;
      }
      .related-articles-section .album-item .title {
        white-space: normal;
        font-size: 24px;
        line-height: 30px;
        margin-top: 0 !important;
        margin-bottom: 25px !important;
        font-weight: normal;
      }
    }
    @media screen and (max-width: 767px) {
      .related-articles-section .album-item .cover {
        float: none;
        max-width: none;
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 22px;
      }
    }
  </style>
</section>