{% assign module = forloop.index | modulo: 4 %}
{% assign mobile_module = forloop.index | modulo: 2 %}
{% assign products_size = collection.products | size %}
<div class="artist-tile grid__item {{ extra_class }}{% if module == 0 %} last{% endif %}{% if mobile_module == 0 %} mobile-last{% endif %}{% for tag in collection.tags %} {{tag}}{% endfor %} {{collection.title | slice: 0 | downcase}}">
  <a href="{{ shop.url }}{{ collection.url }}" class="block clearfix relative color--{{ text_color }}" >

    {% if collection.image %}
      <!--<img class="full left"  src="{{ collection.image | img_url: '1024x1024' }}" alt="{{ collection.title }}">-->
      <div class="cover" style="background-image: url({{ collection.image | img_url: '1024x1024' }})"><div class="overlay"></div></div>
    {% else %}
      {% if products_size > 0 %}
        {% for product in collection.products | sort: "created_at" | reverse | sort: "metafields.custom_fields.release_year" | reverse limit:1 %}
          <div class="cover" style="background-image: url({{ product.featured_image.src | img_url: '1024x1024' }})"><div class="overlay"></div></div>
        <!--<img class="full left" src="{{ product.featured_image.src | img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}">-->
        {% endfor %}
      {% else %}
        <div class="cover" style="background-image: url({{ product.featured_image.src | img_url: '1024x1024' }})"></div>
      {% endif %}
    {% endif %}
    <p class="artist mobile-hide">{{ collection.title }}</p>
    <p class="artist mobile-show">{{ collection.title }}</p>
    <p class="genre">
      {% if products_size > 0 %}{{ collection.products[0].metafields.custom_fields.genre }}{% else %}&nbsp;{% endif %}
    </p>
  </a>
</div>
