<section class="section section--newsletter m0 py3">
  <div class="wrapper section--wrapper text-align--center px2">
    <div class="py3">
      <h3 class="f--title font-size--xl newsletter-heading">{{ section.settings.title | escape }}</h3>
      <p class="font-size--s lg--font-size--m newsletter-copy">{{ section.settings.text | escape }}</p>

      <div class="newsletter__form mx--auto mt3">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form--success newsletter-copy">{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
          <div class="input-group">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email"
              name="contact[email]"
              id="Email"
              class="input-group-field input-underline f--main newsletter-input"
              value="{% if customer %}{{ customer.email }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
              autocorrect="off"
              autocapitalize="off">
            <span class="input-group-btn submit-newsletter">
              <button type="submit" class="newsletter__submit button" name="commit" id="Subscribe">
                {{ 'general.newsletter_form.submit' | t }}
              </button>
            </span>
          </div>
        {% endif %}
      {% endform %}
      </div>
    </div>
  </div>
</section>

<style>

</style>