<div class="page-form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <div class="form-metadata">
    Artist - {% for collection in product.collections %}{{ collection.title }}{% if forloop.last == false %}/{% endif %}{% endfor %}<br />
    Label - {{ product.metafields.custom_fields.label }}<br />
    Genre - {{ product.metafields.custom_fields.genre | capitalize }}
  </div>
  {% if product.metafields.custom_fields.embedded_playlist %}
    <h4 class="caps f--main font-size--s sub-color font-weight--medium mb2">Track highlights</h4>
    {{product.metafields.custom_fields.embedded_playlist}}
  {% endif %}
  {% if short_description %}
    <div>
      {{ short_description }}
    </div>
  {% endif %}

  <meta itemprop="priceCurrency" content="{{ shop.currency }}">

  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

  {% comment %}
    ID addToCartForm is a selector for the ajax cart plugin
  {% endcomment %}
  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

    {% comment %}
      Add product variants as a dropdown.
        - By default, each variant (or combination of variants) will display as its own <option>
        - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

      You can leverage jQuery to add a callback on page load and each time the select element changes:
        - Include option_selection.js (as seen at the bottom of this file)
        - This allows you to use JavaScript anytime the variant dropdown changes
        - This also separates out your variant options (ie. size, color, etc.) to separate select elements

      For more information on products with multiple options, visit:
        - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
    {% endcomment %}

    {% comment %}
    Product options from Debut
    {% endcomment %}
    {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js product-form__item t--meta">
            {% comment %}
            {% unless section.settings.hide_drop_down_labels %}
            <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            {% endunless %}
            {% endcomment %}
            <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input f--main t--meta mx--auto" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
              {% for value in option.values %}
                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" id="ProductSelect-{{ selectID }}" data-section="{{ section.id }}" class="product-form__variants no-js">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
          {% endif %}
        {% endfor %}
      </select>

    {% comment %}
    <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
    {% endcomment %}
    {% if show_quantity %}
      {% if settings.ajax_cart_method == "drawer" %}
        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector mx--auto f--main t--meta">
      {% else %}
        <div class="quantity--no-js relative mx--auto clearfix">
          <label for="Quantity" class="quantity-selector left f--main font-size--m">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector mx--auto f--main t--meta">
        </div>
      {% endif %}
    {% endif %}

    <button type="submit" name="add" id="AddToCart" class="btn addToCart mt2 mx--auto bg--primary color--primary-overlay hv-bg--shop-accent hv--shop-accent-overlay buy-now">
      <span class="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
    </button>
  </form>

</div>
