
<div class="share share--desktop f--main  t--meta clearfix relative font-size--s right mb3 pr3 py1 md-dn--hide">

  <div class="">
    <span class="left">{{ 'products.general.share' | t }}</span>
    <span class="share__icon right font-size--xs right">{% include 'svg-icon', icon: 'share' %}</span>
  </div>

  {% if template.name == 'product' %}
    {% capture share_url %}{{ shop.url }}{{ product.url }}{% endcapture %}
    {% assign share_image = product.featured_image.src | img_url: 'grande' %}
  {% endif %}

  {% if template.name == 'article' %}
    {% capture share_url %}{{ shop.url }}{{ article.url }}{% endcapture %}
    {% assign share_image = article.image.src | img_url: 'grande' %}
  {% endif %}

  {% capture tweet %}{{ product.title }}: {{ product_url }}{% endcapture %}
  <ul class="share__links list--reset m0 p0 font-size--xs">
      <li  class="inline-block">
        <a href="//twitter.com/home?url={{ share_url }}text={{ tweet }}" target="_blank" class="block twitter">
          {% include 'svg-icon', icon: 'twitter' %}
        </a>
      </li>
      <li class="inline-block">
        <a href="//www.facebook.com/sharer/sharer.php?u={{ share_url }}" target="_blank" class="block facebook">
          {% include 'svg-icon', icon: 'facebook' %}
        </a>
      </li>

      {% if template.name == 'product' %}
      <li  class="inline-block">
        <a href="//pinterest.com/pin/create/button/?url={{ share_url }}&media={{ share_image }}&description={{ product.title }}" class="block pinterest" target="_blank" >
          {% include 'svg-icon', icon: 'pinterest' %}
        </a>
      </li>
      {% endif %}


      {% if template.name == 'article' %}
      <li  class="inline-block">
        <a href="//pinterest.com/pin/create/button/?url={{ share_url }}&media={{ share_image }}&description={{ product.title }}" class="block pinterest" target="_blank" >
          {% include 'svg-icon', icon: 'pinterest' %}
        </a>
      </li>
      {% endif %}


      <li  class="inline-block">
        <a href="mailto:?&subject=Product Title&body={{ share_url }}" class="block email" target="_blank" >
          {% include 'svg-icon', icon: 'email' %}
        </a>
      </li>
    </ul>

</div>


<div class="share share--mobile f--main   t--meta clearfix relative font-size--s inline-block mb3 pr3 py1 lg--hide">

  <div class="">
    <span class="right">{{ 'products.general.share' | t }}</span>
    <span class="share__icon share__icon--arrow right font-size--xs">{% include 'svg-icon', icon: 'share' %}</span>
    <span class="share__icon share__icon--close right font-size--xs hide">{% include 'svg-icon', icon: 'close' %}</span>
  </div>

  {% capture product_url %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture tweet %}{{ product.title }}: {{ product_url }}{% endcapture %}
  <ul class="share__links list--reset m0 p0 font-size--xs">
      <li  class="inline-block">
        <a href="//twitter.com/home?status={{ tweet }}" target="_blank" class="block twitter">
          {% include 'svg-icon', icon: 'twitter' %}
        </a>
      </li>
      <li class="inline-block">
        <a href="//www.facebook.com/sharer/sharer.php?u={{ product_url }}" target="_blank" class="block facebook">
          {% include 'svg-icon', icon: 'facebook' %}
        </a>
      </li>

      <li  class="inline-block">
        <a href="//pinterest.com/pin/create/button/?url={{ product_url }}&media={{ featured_image | img_url: 'large' }}&description={{ product.title }}" class="block pinterest" target="_blank" >
          {% include 'svg-icon', icon: 'pinterest' %}
        </a>
      </li>
      <li  class="inline-block">
        <a href="mailto:?&subject=Product Title&body={{ product_url }}" class="block email" target="_blank" >
          {% include 'svg-icon', icon: 'email' %}
        </a>
      </li>
    </ul>

</div>
