<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
  <symbol id="icon-arrow-right" viewBox="0 0 32 32">
  <title>arrow-right</title>
  <path d="M3.996 14.981h21.32v2.315h-21.32v-2.315z"></path>
  <path d="M18.829 22.524l7.947-7.947 1.637 1.637-7.947 7.947z"></path>
  <path d="M20.492 8.17l7.947 7.947-1.637 1.637-7.947-7.947z"></path>
  </symbol>
  <symbol id="icon-cart" viewBox="0 0 32 32">
  <title>cart</title>
  <path fill="#5C6F7C" d="M3.731 8l-1.231 20h27l-1.231-20h-24.538zM5.722 10.103h20.557l0.972 15.794h-22.502l0.972-15.794z"></path>
  <path fill="#5C6F7C" d="M20.718 8.134c0-2.375-1.932-4.307-4.307-4.307s-4.307 1.932-4.307 4.307h-2.084c0-3.524 2.867-6.391 6.391-6.391s6.391 2.867 6.391 6.391h-2.084z"></path>
  </symbol>
  <symbol id="icon-chevron-down-header" viewBox="0 0 32 32">
  <title>chevron-down-header</title>
  <path fill="#00B0B7" d="M22.8 11l-6.804 6.667-6.797-6.66-1.7 1.666 8.498 8.327 8.502-8.333z"></path>
  </symbol>
  <symbol id="icon-chevron-down" viewBox="0 0 32 32">
  <title>chevron-down</title>
  <path d="M22.8 11l-6.804 6.667-6.797-6.66-1.7 1.666 8.498 8.327 8.502-8.333z"></path>
  </symbol>
  <symbol id="icon-chevron-left" viewBox="0 0 32 32">
  <title>chevron-left</title>
  <path fill="#00B0B7" d="M21 22.8l-6.667-6.804 6.66-6.797-1.666-1.7-8.327 8.498 8.333 8.502z"></path>
  </symbol>
  <symbol id="icon-chevron-right" viewBox="0 0 32 32">
  <title>chevron-right</title>
  <path fill="#00B0B7" d="M11 9.2l6.667 6.804-6.66 6.797 1.666 1.7 8.327-8.498-8.333-8.502z"></path>
  </symbol>
  <symbol id="icon-chevron-up" viewBox="0 0 32 32">
  <title>chevron-up</title>
  <path fill="#00B0B7" d="M9.2 21l6.804-6.667 6.797 6.66 1.7-1.666-8.498-8.327-8.502 8.333z"></path>
  </symbol>
  <symbol id="icon-close" viewBox="0 0 32 32">
  <title>close</title>
  <path d="M23.25 7l-7.004 7.059-6.996-7.051-1.75 1.764 8.748 8.817 8.752-8.824z"></path>
  <path d="M9.25 24.642l7.004-7.059 6.996 7.051 1.75-1.764-8.748-8.817-8.752 8.824z"></path>
  </symbol>
  <symbol id="icon-close-cart" viewBox="0 0 32 32">
  <title>close</title>
  <path fill="#00B0B7" d="M23.25 7l-7.004 7.059-6.996-7.051-1.75 1.764 8.748 8.817 8.752-8.824z"></path>
  <path fill="#00B0B7" d="M9.25 24.642l7.004-7.059 6.996 7.051 1.75-1.764-8.748-8.817-8.752 8.824z"></path>
  </symbol>
  <symbol id="icon-menu" viewBox="0 0 32 32">
  <title>menu</title>
  <path d="M4 23h24v2h-24v-2z"></path>
  <path d="M4 15h24v2h-24v-2z"></path>
  <path d="M4 7h24v2h-24v-2z"></path>
  </symbol>
  <symbol id="icon-minus" viewBox="0 0 32 32">
  <title>minus</title>
  <path d="M6 15h20v2h-20v-2z"></path>
  </symbol>
  <symbol id="icon-play" viewBox="0 0 32 32">
  <title>play</title>
  <path d="M30.409 16.080c0-7.914-6.415-14.329-14.329-14.329s-14.329 6.415-14.329 14.329c0 7.914 6.415 14.329 14.329 14.329s14.329-6.415 14.329-14.329zM2.929 16.080c0-7.263 5.888-13.151 13.151-13.151s13.151 5.888 13.151 13.151c0 7.263-5.888 13.151-13.151 13.151s-13.151-5.888-13.151-13.151z"></path>
  <path d="M12 22v-12l10 6z"></path>
  </symbol>
  <symbol id="icon-plus" viewBox="0 0 32 32">
  <title>plus</title>
  <path d="M8.5 15h15v2h-15v-2z"></path>
  <path d="M17 8.5v15h-2v-15h2z"></path>
  </symbol>
  <symbol id="icon-search" viewBox="0 0 32 32">
  <title>search</title>
  <path fill="#5C6F7C" d="M18.193 19.081l7.797 9.155 1.513-1.251-7.797-9.155z"></path>
  <path fill="#5C6F7C" d="M13.796 5.569c-3.745 0-6.791 3.162-6.791 7.049s3.046 7.049 6.791 7.049c3.745 0 6.791-3.162 6.791-7.049s-3.046-7.049-6.791-7.049zM13.796 21.841c-4.961 0-8.996-4.137-8.996-9.222s4.036-9.222 8.996-9.222c4.961 0 8.997 4.137 8.997 9.222s-4.036 9.222-8.997 9.222z"></path>
  </symbol>
  <symbol id="icon-share" viewBox="0 0 32 32">
  <title>share</title>
  <path fill="#00B0B7" d="M4.237 27.261c0-8.969 7.264-16.266 16.194-16.266h6.709v1.631h-6.709c-8.034 0-14.57 6.565-14.57 14.634h-1.624z"></path>
  <path fill="#00B0B7" d="M21.745 19.084l-1.148-1.154 6.086-6.114-6.086-6.113 1.148-1.154 7.235 7.267z"></path>
  </symbol>
  <symbol id="icon-user" viewBox="0 0 32 32">
  <title>user</title>
  <path fill="#5C6F7C" d="M16 4.883c-2.546 0-4.617 2.071-4.617 4.617s2.072 4.618 4.617 4.618 4.617-2.071 4.617-4.618c0-2.546-2.072-4.617-4.617-4.617zM16 16c-3.584 0-6.5-2.916-6.5-6.5s2.916-6.5 6.5-6.5c3.584 0 6.5 2.916 6.5 6.5s-2.916 6.5-6.5 6.5z"></path>
  <path fill="#5C6F7C" d="M29 28h-2v-1.429c-0.002-0.27-0.117-6.667-7-6.667h-8c-6.812 0-6.995 6.409-7 6.681v1.414h-2v-1.429c0.049-2.974 1.992-8.571 9-8.571h8c7.119 0 9 5.607 9 8.571v1.429z"></path>
  </symbol>
  <symbol id="icon-email" viewBox="0 0 32 32">
  <title>email</title>
  <path d="M4.919 8l10.77 8.675 10.767-8.675z"></path>
  <path d="M3.5 22.975l7.588-7.705-7.588-6.112z"></path>
  <path d="M15.719 18.945l-0.025 0.032-0.005-0.003-0.016 0.011-0.058-0.071-3.145-2.533-7.961 8.086h22.641l-8.088-8.211z"></path>
  <path d="M20.445 15.14l7.899 8.022v-14.381z"></path>
  </symbol>


<symbol id="icon-pinterest" viewBox="0 0 32 32">
<title>pinterest</title>
<path class="path1" d="M15.962 4.131c-6.535 0-11.831 5.295-11.831 11.829 0 4.845 2.913 9.003 7.082 10.835-0.034-0.826-0.008-1.819 0.205-2.717 0.227-0.959 1.522-6.445 1.522-6.445s-0.378-0.756-0.378-1.873c0-1.753 1.016-3.061 2.282-3.061 1.076 0 1.594 0.806 1.594 1.775 0 1.084-0.689 2.698-1.044 4.199-0.296 1.255 0.629 2.279 1.867 2.279 2.242 0 3.75-2.879 3.75-6.291 0-2.592-1.745-4.532-4.922-4.532-3.588 0-5.825 2.675-5.825 5.663 0 1.032 0.305 1.759 0.782 2.322 0.219 0.259 0.247 0.362 0.171 0.66-0.059 0.216-0.188 0.742-0.242 0.948-0.079 0.301-0.322 0.407-0.592 0.298-1.654-0.675-2.424-2.486-2.424-4.522 0-3.36 2.834-7.389 8.456-7.389 4.518 0 7.489 3.269 7.489 6.777 0 4.641-2.581 8.109-6.383 8.109-1.277 0-2.478-0.692-2.889-1.476 0 0-0.688 2.725-0.833 3.252-0.25 0.911-0.742 1.824-1.19 2.535 1.064 0.313 2.188 0.484 3.354 0.484 6.533 0 11.828-5.296 11.828-11.829 0-6.535-5.295-11.829-11.828-11.829z"></path>
</symbol>
<symbol id="icon-facebook" viewBox="0 0 32 32">
<title>facebook</title>
<path class="path1" d="M21.897 3.273v4.445h-2.845c-0.556 0-1.128 0.586-1.128 1.014v2.916h3.959c-0.157 2.244-0.486 4.288-0.486 4.288h-3.486v12.676h-5.203v-12.676h-2.543v-4.274h2.543v-3.488c0-0.628-0.128-4.902 5.331-4.902h3.859z"></path>
</symbol>
<symbol id="icon-instagram" viewBox="0 0 32 32">
<title>instagram</title>
<path class="path1" d="M16.022 4.621c-3.199 0-3.601 0.014-4.857 0.071-1.253 0.056-2.109 0.256-2.859 0.548-0.775 0.3-1.432 0.703-2.086 1.358-0.656 0.656-1.058 1.313-1.36 2.086-0.291 0.75-0.49 1.605-0.546 2.859-0.058 1.256-0.071 1.659-0.071 4.857 0 3.2 0.014 3.601 0.071 4.857 0.056 1.253 0.255 2.111 0.546 2.859 0.302 0.775 0.704 1.432 1.36 2.086 0.654 0.656 1.311 1.058 2.086 1.36 0.75 0.291 1.605 0.49 2.859 0.548 1.256 0.056 1.659 0.070 4.857 0.070s3.601-0.014 4.857-0.070c1.253-0.058 2.109-0.256 2.859-0.548 0.775-0.302 1.432-0.704 2.086-1.36 0.656-0.654 1.058-1.311 1.36-2.086 0.291-0.748 0.49-1.605 0.546-2.859 0.058-1.256 0.071-1.657 0.071-4.857 0-3.199-0.014-3.601-0.071-4.857-0.056-1.253-0.255-2.109-0.546-2.859-0.302-0.774-0.704-1.431-1.36-2.086-0.654-0.656-1.311-1.058-2.086-1.358-0.75-0.291-1.605-0.492-2.859-0.548-1.256-0.058-1.659-0.071-4.857-0.071zM16.022 6.744c3.146 0 3.517 0.012 4.76 0.068 1.149 0.053 1.772 0.244 2.188 0.405 0.549 0.214 0.941 0.469 1.354 0.882s0.668 0.804 0.882 1.355c0.161 0.414 0.354 1.038 0.405 2.187 0.058 1.243 0.068 1.615 0.068 4.76s-0.011 3.519-0.068 4.76c-0.052 1.149-0.244 1.772-0.405 2.188-0.214 0.549-0.469 0.942-0.882 1.354-0.413 0.413-0.804 0.668-1.354 0.882-0.416 0.161-1.039 0.354-2.188 0.405-1.243 0.058-1.615 0.070-4.76 0.070s-3.519-0.012-4.76-0.070c-1.149-0.052-1.772-0.244-2.188-0.405-0.549-0.214-0.941-0.469-1.354-0.882-0.413-0.411-0.668-0.804-0.882-1.354-0.161-0.416-0.354-1.039-0.405-2.188-0.058-1.241-0.068-1.615-0.068-4.76s0.011-3.517 0.068-4.76c0.052-1.149 0.244-1.772 0.405-2.187 0.214-0.551 0.469-0.942 0.882-1.355s0.804-0.668 1.354-0.882c0.416-0.161 1.039-0.352 2.188-0.405 1.243-0.056 1.615-0.068 4.76-0.068z"></path>
<path class="path2" d="M16.022 20.328c-2.168 0-3.927-1.759-3.927-3.927s1.759-3.926 3.927-3.926c2.168 0 3.927 1.757 3.927 3.926s-1.759 3.927-3.927 3.927zM16.022 10.352c-3.341 0-6.048 2.709-6.048 6.048 0 3.341 2.707 6.050 6.048 6.050s6.048-2.709 6.048-6.050c0-3.34-2.707-6.048-6.048-6.048z"></path>
<path class="path3" d="M23.724 10.113c0 0.78-0.633 1.414-1.414 1.414-0.78 0-1.413-0.634-1.413-1.414s0.633-1.414 1.413-1.414c0.781 0 1.414 0.634 1.414 1.414z"></path>
</symbol>
<symbol id="icon-snapchat" viewBox="0 0 32 32">
<title>snapchat</title>
<path class="path1" d="M28.799 22.13c-3.549-0.585-5.146-4.227-5.213-4.382-0.003-0.008-0.008-0.018-0.011-0.026-0.19-0.385-0.232-0.706-0.126-0.956 0.205-0.483 0.96-0.722 1.459-0.88 0.141-0.045 0.272-0.086 0.379-0.129 0.885-0.35 1.33-0.778 1.32-1.275-0.008-0.39-0.312-0.738-0.794-0.911l-0.002-0.002c-0.163-0.067-0.356-0.104-0.545-0.104-0.129 0-0.321 0.018-0.5 0.102-0.42 0.197-0.799 0.304-1.125 0.318-0.216-0.010-0.358-0.064-0.438-0.109 0.010-0.181 0.022-0.364 0.034-0.558l0.005-0.075c0.112-1.774 0.251-3.982-0.329-5.281-1.723-3.862-5.379-4.163-6.459-4.163h-0.066c0 0-0.419 0.005-0.451 0.005-1.077 0-4.727 0.3-6.45 4.16-0.578 1.299-0.439 3.504-0.328 5.278 0.013 0.208 0.027 0.425 0.038 0.634-0.089 0.050-0.251 0.112-0.508 0.112-0.342 0-0.745-0.109-1.2-0.321-0.121-0.058-0.26-0.085-0.414-0.085-0.532 0-1.17 0.35-1.269 0.873-0.072 0.376 0.097 0.924 1.306 1.401 0.11 0.043 0.241 0.085 0.379 0.129 0.5 0.158 1.254 0.398 1.461 0.88 0.105 0.249 0.062 0.572-0.126 0.956-0.005 0.008-0.008 0.018-0.013 0.027-0.066 0.153-1.663 3.797-5.211 4.38-0.273 0.045-0.468 0.289-0.452 0.564 0.005 0.083 0.024 0.165 0.058 0.244 0.265 0.622 1.389 1.077 3.434 1.395 0.069 0.093 0.139 0.419 0.182 0.618 0.043 0.197 0.088 0.398 0.15 0.612 0.062 0.209 0.222 0.46 0.633 0.46 0.168 0 0.363-0.038 0.59-0.083 0.342-0.066 0.809-0.157 1.392-0.157 0.324 0 0.66 0.027 0.997 0.083 0.66 0.11 1.221 0.507 1.87 0.965 0.93 0.658 1.983 1.403 3.584 1.403 0.043 0 0.088-0.002 0.131-0.005 0.053 0.002 0.12 0.005 0.192 0.005 1.601 0 2.654-0.745 3.583-1.401 0.65-0.46 1.211-0.857 1.871-0.967 0.337-0.056 0.673-0.083 0.997-0.083 0.558 0 0.997 0.070 1.392 0.147 0.246 0.048 0.444 0.073 0.588 0.073h0.030c0.304 0 0.519-0.161 0.604-0.452 0.061-0.209 0.105-0.406 0.149-0.606 0.043-0.198 0.115-0.524 0.182-0.615 2.045-0.318 3.169-0.773 3.434-1.393 0.035-0.080 0.054-0.161 0.059-0.244 0.016-0.276-0.179-0.519-0.452-0.564z"></path>
</symbol>
<symbol id="icon-tumblr" viewBox="0 0 32 32">
<title>tumblr</title>
<path class="path1" d="M18.368 28.538c1.007 0 1.948-0.104 2.818-0.303 0.87-0.207 1.84-0.559 2.911-1.060v-3.958c-1.256 0.826-2.518 1.238-3.788 1.238-0.715 0-1.349-0.166-1.904-0.497-0.417-0.248-0.803-0.673-0.954-1.085-0.156-0.412-0.134-1.253-0.134-2.705v-6.432h5.795v-4.474h-5.795v-5.8h-3.569c-0.16 1.292-0.453 2.36-0.878 3.197s-0.987 1.554-1.694 2.152c-0.7 0.598-1.844 1.059-2.828 1.375v3.551h3.406v8.797c0 1.148 0.121 2.023 0.36 2.626 0.243 0.603 0.674 1.173 1.296 1.71 0.622 0.533 1.371 0.946 2.253 1.238 0.881 0.29 1.557 0.432 2.705 0.432z"></path>
</symbol>
<symbol id="icon-twitter" viewBox="0 0 32 32">
<title>twitter</title>
<path class="path1" d="M27.545 9.995c0.012 0.257 0.015 0.515 0.015 0.777 0 7.949-6.049 17.116-17.113 17.116-3.398 0-6.557-0.994-9.22-2.703 0.469 0.058 0.948 0.083 1.434 0.083 2.817 0 5.412-0.96 7.471-2.574-2.632-0.046-4.855-1.788-5.621-4.177 0.367 0.073 0.748 0.11 1.135 0.11 0.545 0 1.076-0.076 1.584-0.212-2.753-0.554-4.827-2.984-4.827-5.898v-0.076c0.812 0.449 1.74 0.722 2.727 0.751-1.616-1.081-2.678-2.921-2.678-5.006 0-1.103 0.296-2.136 0.816-3.026 2.967 3.64 7.4 6.034 12.398 6.289-0.102-0.442-0.155-0.902-0.155-1.375 0-3.322 2.693-6.014 6.015-6.014 1.728 0 3.291 0.732 4.387 1.9 1.375-0.27 2.659-0.771 3.825-1.461-0.454 1.404-1.404 2.584-2.649 3.327 1.218-0.139 2.379-0.466 3.456-0.945-0.807 1.206-1.823 2.263-3.001 3.115z"></path>
</symbol>
<symbol id="icon-vimeo" viewBox="0 0 32 32">
<title>vimeo</title>
<path class="path1" d="M23.169 19.928c3.265-4.19 4.945-7.487 5.061-9.899 0.15-3.224-1.056-4.875-3.616-4.949-3.449-0.111-5.782 1.818-7.005 5.782 0.629-0.258 1.244-0.389 1.838-0.389 1.257 0 1.815 0.705 1.668 2.115-0.075 0.852-0.633 2.093-1.668 3.724-1.041 1.633-1.818 2.449-2.333 2.449-0.672 0-1.283-1.262-1.839-3.783-0.188-0.741-0.52-2.63-0.999-5.671-0.45-2.818-1.635-4.133-3.562-3.948-0.814 0.074-2.037 0.816-3.665 2.225-1.19 1.074-2.393 2.148-3.618 3.225l1.166 1.501c1.113-0.781 1.767-1.166 1.945-1.166 0.853 0 1.653 1.332 2.397 3.997 0.662 2.452 1.331 4.896 2.001 7.344 0.997 2.666 2.225 4.004 3.667 4.004 2.334 0 5.194-2.186 8.563-6.562z"></path>
</symbol>
<symbol id="icon-youtube" viewBox="0 0 32 32">
<title>youtube</title>
<path class="path1" d="M19.252 16.646l-6.092 3.194v-7.279l0.424 0.221 6.518 3.418-0.85 0.446zM24.734 7.273c0 0-6.367-0.142-8.909-0.142h-0.064c-2.541 0-8.909 0.142-8.909 0.142-2.129 0.15-3.539 1.641-3.811 3.811 0 0-0.284 2.802-0.284 5.089 0 2.289 0.284 5.089 0.284 5.089 0.22 2.18 1.544 3.664 3.811 3.813 0 0 5.188 0.281 8.909 0.281h0.064c3.72 0 8.909-0.281 8.909-0.281 2.266-0.149 3.588-1.633 3.813-3.813 0 0 0.282-2.801 0.282-5.089 0-2.287-0.282-5.089-0.282-5.089-0.272-2.17-1.686-3.661-3.813-3.811v0z"></path>
</symbol>
<symbol id="icon-subscribe" viewBox="0 0 32 32">
<title>subscribe</title>
<path d="M10.379 24.196c0 1.687-1.428 3.055-3.189 3.055s-3.189-1.368-3.189-3.055 1.428-3.055 3.189-3.055c1.761 0 3.189 1.368 3.189 3.055z"></path>
<path d="M4.004 16.495c2.989 0 5.797 1.119 7.909 3.151 2.114 2.034 3.279 4.743 3.279 7.626h4.605c0-8.374-7.084-15.187-15.792-15.187v4.41z"></path>
<path d="M4.011 8.677c10.65 0 19.315 8.344 19.315 18.599h4.605c0-12.687-10.73-23.009-23.92-23.009v4.41z"></path>
</symbol>

<symbol id="icon-dogecoin" viewBox="0 0 32 32">
<title>dogecoin</title>
<path class="path1" d="M16 3.2c-7.058 0-12.8 5.742-12.8 12.8s5.742 12.8 12.8 12.8c7.058 0 12.8-5.742 12.8-12.8s-5.742-12.8-12.8-12.8v0zM21.925 18.779c-0.293 0.914-0.768 1.646-1.317 2.194-0.439 0.439-1.024 0.768-1.755 0.987-0.549 0.183-1.28 0.256-2.231 0.256h-4.718v-5.266h-2.194v-1.829h2.194v-5.339h4.571c1.024 0 1.829 0.073 2.377 0.219 0.731 0.219 1.353 0.585 1.865 1.134s0.914 1.207 1.17 2.011c0.256 0.805 0.402 1.755 0.402 2.926 0 1.061-0.11 1.938-0.366 2.706v0z"></path>
<path class="path2" d="M18.743 12.599c-0.293-0.293-0.695-0.475-1.17-0.585-0.366-0.073-1.024-0.11-2.048-0.11h-1.134v3.218h2.121v1.829h-2.121v3.182h1.865c0.695 0 1.207-0.037 1.499-0.11 0.402-0.11 0.731-0.256 1.024-0.512 0.256-0.256 0.475-0.658 0.658-1.207s0.256-1.317 0.256-2.267c0-0.951-0.073-1.682-0.256-2.231-0.146-0.512-0.402-0.914-0.695-1.207v0z"></path>
</symbol>
<symbol id="icon-dwolla" viewBox="0 0 75 32">
<title>dwolla</title>
<path class="path1" d="M74.080 23.68c-0.48 0-0.96 0-1.44 0-0.48-1.44-1.12-2.72-1.6-4.16-2.080 0-4 0-6.080 0-0.48 1.44-1.12 2.72-1.6 4.16-3.2 0-6.4 0-9.76 0 0-4.64 0-13.6 0-13.6h1.28c0 0 0 8.16 0 12.32 2.56 0 4.96 0 7.52 0 1.6-4.16 4.96-12.48 4.96-12.48h1.44c0 0 0.48 1.12 0.8 1.76 1.44 3.68 2.88 7.52 4.32 11.36 0 0.16 0 0.32 0.16 0.32 0 0.16 0 0.32 0 0.32zM68.16 11.68c-0.96 2.24-1.92 4.32-2.72 6.72 1.76 0 3.36 0 5.12 0-0.8-2.4-1.6-4.64-2.4-6.72z"></path>
<path class="path2" d="M24.16 21.6c0.96-3.84 3.040-11.52 3.040-11.52h1.28c0 0-2.4 9.12-3.68 13.6-0.48 0-0.96 0-1.44 0-1.12-4-2.24-8-3.36-12 0 0-0.16 0-0.16 0-1.12 4-2.24 8-3.36 11.84-0.48 0.16-0.96 0-1.44 0-1.28-4.48-3.68-13.6-3.68-13.6h1.44c0 0 1.92 7.68 3.040 11.52 0 0 0.16 0 0.16 0 1.12-3.84 2.080-7.68 3.2-11.52 0.64 0 1.12 0 1.6 0 1.12 3.84 2.080 7.68 3.2 11.52 0 0.16 0.16 0.16 0.16 0.16z"></path>
<path class="path3" d="M0 23.68c0-4.64 0-13.76 0-13.76h2.080c0 0 2.56 0 3.84 0.16 2.56 0.32 4.32 1.76 4.96 4.32 0.48 1.76 0.48 3.68 0 5.44-0.64 2.4-2.24 3.52-4.64 3.84-2.24 0.16-4.16 0-6.24 0zM1.28 22.56c1.28 0 2.56 0.16 3.84 0 2.56-0.16 3.84-1.44 4.32-3.68 0.32-1.44 0.32-2.88-0.16-4.32-0.32-1.44-1.28-2.4-2.72-2.88-1.76-0.64-3.52-0.32-5.44-0.32 0.16 3.68 0.16 7.36 0.16 11.2z"></path>
<path class="path4" d="M28.8 16.96c0-1.76 0.32-3.2 1.28-4.64 2.4-3.68 8.8-3.68 10.72 0.8 1.12 2.4 1.12 4.96 0 7.36-1.12 2.56-3.2 3.68-6.080 3.52-2.56-0.16-4.48-1.44-5.44-3.84-0.32-0.96-0.48-2.080-0.48-3.2zM40.32 16.8c0-1.28-0.32-2.56-0.96-3.68-1.76-2.72-5.92-3.040-7.84-0.48-1.76 2.24-1.76 6.24-0.16 8.48 1.76 2.4 6.080 2.4 7.84-0.16 0.8-1.28 1.12-2.56 1.12-4.16z"></path>
<path class="path5" d="M44.64 22.56c2.56 0 5.12 0 7.52 0 0.32 0.32 0.16 0.64 0.16 1.12-3.040 0-5.92 0-8.96 0 0-4.48 0-13.44 0-13.44h1.28c0 0 0 8.16 0 12.32z"></path>
</symbol>
<symbol id="icon-forbrugsforeningen" viewBox="0 0 32 32">
<title>forbrugsforeningen</title>
<path class="path1" d="M11.733 29.251c0.615-0.164 1.169-0.41 1.682-0.759 1.538-1.026 2.503-2.441 2.954-4.205 0.246-0.964 0.369-1.928 0.349-2.933-0.041-1.046-0.020-2.092 0-3.159 0-0.492 0.020-0.513 0.492-0.513 1.108 0 2.215 0 3.323 0 0.164 0 0.328 0 0.492 0 0.41-0.020 0.472-0.062 0.492-0.492 0.020-1.128 0.020-2.256 0-3.405 0-0.513-0.041-0.574-0.574-0.574-1.21 0-2.441 0-3.651 0-0.595 0-0.615 0-0.574-0.595 0.062-1.251 0.595-2.215 1.785-2.728 0.513-0.205 1.026-0.39 1.6-0.369 0.062 0 0.103 0 0.164 0 1.251-0.082 1.251-0.082 1.251-1.333 0-1.456 0-2.913 0-4.328 0.205-0.185 0.349-0.103 0.513-0.041 2.482 0.862 4.123 2.564 5.005 5.005 0.595 1.62 0.903 3.323 0.985 5.046 0.062 1.497 0.103 2.995 0 4.472-0.144 2.113-0.574 4.164-1.6 6.051-1.046 1.908-2.585 3.241-4.595 4.062-1.744 0.697-3.569 1.026-5.456 0.985-1.354-0.020-2.708 0-4.062-0.020-0.205 0.041-0.41 0.123-0.574-0.164z"></path>
<path class="path2" d="M18.031 3.097c-0.020 0.144-0.144 0.123-0.246 0.144-1.723 0.062-3.056 0.862-4.308 1.969-1.19 1.067-1.662 2.4-1.887 3.897-0.164 1.087-0.328 2.174-0.349 3.262 0 0.082 0 0.164-0.021 0.246-0.103 0.595-0.103 0.595-0.718 0.595-2.338 0-4.697 0-7.036 0-0.144 0-0.267 0.041-0.431-0.082 0.123-1.579 0.328-3.138 0.882-4.677 0.882-2.462 2.564-4 5.046-4.759 1.169-0.349 2.338-0.492 3.528-0.636 1.785-0.226 3.569-0.082 5.354-0.103 0.082 0.021 0.164 0.041 0.185 0.144z"></path>
<path class="path3" d="M8 28.656c-1.969-0.656-3.303-1.969-4.021-3.897-0.472-1.251-0.759-2.564-0.862-3.918-0.062-0.903-0.123-1.805-0.164-2.708-0.021-0.308 0.062-0.451 0.41-0.451 2.462 0.020 4.903 0 7.364 0 0.308 0 0.431 0.082 0.431 0.41-0.021 1.108-0.021 2.215 0 3.303 0 0.328-0.144 0.574-0.328 0.82-0.615 0.862-1.395 1.436-2.462 1.6-0.287 0.041-0.246 0.246-0.246 0.431 0 1.272 0 2.544 0 3.815-0.041 0.185 0.041 0.39-0.123 0.595z"></path>
</symbol>
<symbol id="icon-litecoin" viewBox="0 0 32 32">
<title>litecoin</title>
<path class="path1" d="M16 3.2c-7.058 0-12.8 5.742-12.8 12.8s5.742 12.8 12.8 12.8c7.058 0 12.8-5.742 12.8-12.8s-5.742-12.8-12.8-12.8v0zM20.901 22.107h-10.094l1.024-3.95-1.39 0.512 0.366-1.573 1.426-0.512 1.682-6.656h4.096l-1.426 5.047 1.646-0.622-0.475 1.609-1.646 0.585-0.914 3.218h6.327l-0.622 2.341z"></path>
</symbol>
<symbol id="icon-amazon_payments" viewBox="0 0 51 32">
<title>amazon_payments</title>
<path class="path1" d="M10.287 19.333c-0.256 0-0.482 0.030-0.729 0.108v3.151c0.246 0.118 0.443 0.167 0.709 0.167 0.955 0 1.526-0.66 1.526-1.753 0-1.054-0.561-1.674-1.506-1.674z"></path>
<path class="path2" d="M29.566 19.333c-0.591 0-1.024 0.512-1.073 1.25h2.058c-0.039-0.64-0.354-1.25-0.985-1.25z"></path>
<path class="path3" d="M13.989 21.342c-0.236 0.118-0.364 0.345-0.364 0.63 0 0.482 0.295 0.788 0.758 0.788 0.522 0 0.916-0.345 1.172-0.61v-1.004l-0.729 0.020c-0.374 0.020-0.63 0.069-0.837 0.177z"></path>
<path class="path4" d="M13.635 10.55c-0.64 0-1.329 0.138-1.329 0.896 0 0.384 0.197 0.65 0.542 0.65 0.246 0 0.473-0.158 0.62-0.404 0.177-0.305 0.167-0.601 0.167-0.945v-0.197z"></path>
<path class="path5" d="M33.465 8.876c-0.66 0-0.699 0.896-0.699 1.457s-0.010 1.753 0.689 1.753c0.689 0 0.729-0.965 0.729-1.556 0-0.384-0.020-0.847-0.138-1.211-0.098-0.315-0.305-0.443-0.581-0.443z"></path>
<path class="path6" d="M23.993 11.456c0 0.384 0.197 0.65 0.542 0.65 0.246 0 0.473-0.158 0.62-0.404 0.177-0.305 0.167-0.601 0.167-0.945v-0.197c-0.64-0.010-1.329 0.128-1.329 0.896z"></path>
<path class="path7" d="M42.957 3.195h-34.855c-1.654 0-3.003 1.506-3.003 3.358v18.885c0 1.861 1.349 3.358 3.003 3.358h34.855c1.654 0 3.003-1.506 3.003-3.358v-18.885c0-1.851-1.339-3.358-3.003-3.358zM27.498 11.988c0-0.108 0-0.286 0.108-0.453l1.762-2.521h-1.536c-0.089 0-0.167-0.069-0.167-0.167v-0.65c0-0.098 0.079-0.167 0.167-0.167h2.934c0.089 0 0.167 0.069 0.167 0.167v0.561c0 0.089-0.079 0.217-0.217 0.414l-1.516 2.166c0.561-0.010 1.162 0.069 1.674 0.354 0.118 0.069 0.148 0.158 0.158 0.256v0.699c0 0.098-0.108 0.207-0.217 0.148-0.906-0.473-2.097-0.522-3.102 0.010-0.098 0.049-0.207-0.059-0.207-0.148v-0.67zM27.587 13.602c0.955-0.67 2.53-0.482 2.708-0.256 0.187 0.226-0.049 1.802-0.945 2.55-0.138 0.118-0.266 0.049-0.207-0.098 0.207-0.502 0.66-1.634 0.443-1.91s-1.418-0.128-1.959-0.069c-0.167 0.030-0.187-0.118-0.039-0.217zM25.214 9.073c-0.108-0.167-0.315-0.236-0.502-0.236-0.345 0-0.64 0.177-0.719 0.542-0.020 0.079-0.079 0.158-0.158 0.167l-0.866-0.089c-0.069-0.020-0.158-0.079-0.138-0.187 0.197-1.054 1.142-1.369 1.999-1.369 0.433 0 1.004 0.118 1.339 0.443 0.433 0.404 0.394 0.945 0.394 1.536v1.388c0 0.414 0.177 0.601 0.335 0.827 0.059 0.079 0.069 0.177 0 0.236-0.187 0.158-0.502 0.433-0.689 0.591v0c-0.059 0.049-0.148 0.059-0.207 0.020-0.295-0.246-0.345-0.364-0.512-0.591-0.492 0.502-0.837 0.65-1.467 0.65-0.748 0-1.339-0.463-1.339-1.388 0-0.729 0.394-1.221 0.955-1.457 0.482-0.217 1.162-0.256 1.674-0.305v-0.118c0.010-0.226 0.030-0.473-0.098-0.66zM15.919 8.207c0-0.089 0.079-0.167 0.167-0.167h0.827c0.089 0 0.158 0.069 0.167 0.158v0.601h0.020c0.217-0.581 0.62-0.847 1.172-0.847 0.561 0 0.906 0.266 1.152 0.847 0.217-0.581 0.709-0.847 1.231-0.847 0.374 0 0.788 0.158 1.034 0.502 0.286 0.384 0.226 0.945 0.226 1.438v2.885c0 0.089-0.079 0.167-0.177 0.167h-0.886c-0.089-0.010-0.158-0.079-0.158-0.167v-2.432c0-0.197 0.020-0.67-0.020-0.857-0.069-0.305-0.266-0.394-0.522-0.394-0.217 0-0.443 0.148-0.532 0.374s-0.079 0.62-0.079 0.876v2.422c0 0.089-0.079 0.167-0.167 0.167h-0.896c-0.089-0.010-0.158-0.079-0.158-0.167v-2.422c0-0.512 0.079-1.26-0.551-1.26-0.64 0-0.62 0.729-0.62 1.26v2.422c0 0.089-0.079 0.167-0.167 0.167h-0.896c-0.089-0.010-0.158-0.069-0.158-0.148v-4.578zM22.871 15.483c1.861 0 3.899-0.384 5.77-1.182 0.286-0.118 0.522 0.187 0.246 0.394-1.674 1.231-4.106 1.89-6.193 1.89-2.934 0-5.573-1.083-7.562-2.885-0.158-0.138-0.020-0.335 0.167-0.226 2.156 1.25 4.815 2.009 7.572 2.009zM13.527 9.073c-0.108-0.167-0.315-0.236-0.502-0.236-0.345 0-0.64 0.177-0.719 0.542-0.010 0.079-0.069 0.158-0.158 0.167l-0.866-0.089c-0.069-0.020-0.158-0.079-0.138-0.187 0.197-1.054 1.142-1.369 1.999-1.369 0.433 0 1.004 0.118 1.339 0.443 0.433 0.404 0.394 0.945 0.394 1.536v1.388c0 0.414 0.177 0.601 0.335 0.827 0.059 0.079 0.069 0.177 0 0.236-0.187 0.158-0.502 0.433-0.689 0.591v0c-0.059 0.049-0.148 0.059-0.207 0.020-0.295-0.246-0.345-0.364-0.512-0.591-0.492 0.502-0.837 0.65-1.467 0.65-0.748 0-1.339-0.463-1.339-1.388 0-0.729 0.394-1.221 0.955-1.457 0.482-0.217 1.162-0.256 1.674-0.305v-0.118c0.010-0.226 0.020-0.473-0.098-0.66zM10.268 23.399c-0.236 0-0.482-0.049-0.709-0.128v2.087c0 0.059-0.049 0.098-0.098 0.098h-0.482c-0.059 0-0.098-0.049-0.098-0.098v-6.302c0-0.039 0.030-0.079 0.059-0.089 0.433-0.167 0.916-0.256 1.349-0.256 1.378 0 2.206 0.866 2.206 2.324 0.010 1.388-0.906 2.363-2.225 2.363zM15.772 23.311c-0.049 0-0.089-0.030-0.098-0.079l-0.069-0.345c-0.384 0.345-0.807 0.512-1.25 0.512-0.847 0-1.438-0.581-1.438-1.408 0-0.571 0.276-1.014 0.788-1.25 0.305-0.138 0.64-0.177 1.093-0.197l0.768-0.020v-0.226c0-0.61-0.305-0.945-0.866-0.945-0.522 0-0.847 0.167-1.152 0.354-0.020 0.020-0.049 0.020-0.079 0.010s-0.049-0.020-0.059-0.049l-0.207-0.374c-0.030-0.049-0.010-0.108 0.030-0.138 0.571-0.374 1.122-0.453 1.487-0.453 0.975 0 1.536 0.551 1.536 1.516v1.359c0 0.876 0.030 1.369 0.089 1.595 0.010 0.030 0 0.059-0.020 0.089-0.020 0.020-0.049 0.039-0.079 0.039h-0.473zM20.527 18.939l-1.585 4.716c-0.542 1.585-1.231 1.802-1.89 1.802-0.286 0-0.482-0.039-0.709-0.128-0.049-0.020-0.069-0.069-0.059-0.118l0.108-0.423c0.010-0.030 0.030-0.049 0.049-0.069 0.030-0.010 0.059-0.010 0.079 0 0.167 0.069 0.345 0.098 0.532 0.098 0.601 0 1.024-0.492 1.329-1.556l-1.871-4.313c-0.010-0.030-0.010-0.069 0.010-0.098s0.049-0.049 0.079-0.049h0.551c0.039 0 0.079 0.020 0.089 0.059l1.457 3.426 1.113-3.417c0.010-0.039 0.049-0.069 0.098-0.069h0.522c0.030 0 0.059 0.020 0.079 0.039 0.020 0.039 0.030 0.069 0.020 0.098zM27.105 23.202c0 0.059-0.049 0.098-0.098 0.098h-0.482c-0.059 0-0.098-0.049-0.098-0.098v-2.737c0-0.788-0.207-1.113-0.699-1.113-0.502 0-0.975 0.354-1.339 0.679 0.010 0.089 0.010 0.177 0.010 0.266v2.914c0 0.059-0.049 0.098-0.098 0.098h-0.482c-0.059 0-0.098-0.049-0.098-0.098v-2.737c0-0.788-0.207-1.113-0.699-1.113s-0.935 0.325-1.339 0.679v3.18c0 0.059-0.049 0.098-0.098 0.098h-0.482c-0.059 0-0.098-0.049-0.098-0.098v-4.293c0-0.059 0.049-0.098 0.098-0.098h0.404c0.049 0 0.089 0.039 0.098 0.089l0.049 0.404c0.502-0.404 0.965-0.591 1.438-0.591 0.512 0 0.916 0.256 1.132 0.699 0.542-0.463 1.073-0.699 1.575-0.699 0.63 0 1.31 0.414 1.31 1.585v2.885zM31.289 21.095c0 0.059-0.049 0.098-0.098 0.098h-2.698c0.039 0.738 0.423 1.566 1.418 1.566 0.414 0 0.768-0.148 0.994-0.276 0.020-0.010 0.049-0.020 0.079-0.010s0.049 0.030 0.059 0.049l0.167 0.354c0.020 0.049 0.010 0.098-0.039 0.128-0.354 0.236-0.886 0.394-1.359 0.394-1.241 0-2.038-0.945-2.038-2.412 0-1.339 0.738-2.274 1.792-2.274 1.063 0 1.723 0.866 1.723 2.274v0.108zM35.464 23.202c0 0.059-0.049 0.098-0.098 0.098h-0.482c-0.059 0-0.098-0.049-0.098-0.098v-2.737c0-1.004-0.414-1.113-0.729-1.113-0.492 0-0.935 0.325-1.339 0.679v3.18c0 0.059-0.049 0.098-0.098 0.098h-0.482c-0.059 0-0.098-0.049-0.098-0.098v-4.293c0-0.059 0.049-0.098 0.098-0.098h0.404c0.049 0 0.089 0.039 0.098 0.089l0.049 0.404c0.502-0.404 0.965-0.591 1.438-0.591 0.65 0 1.339 0.414 1.339 1.585v2.895zM33.455 13.031c-1.3 0-2.009-1.142-2.009-2.55 0-1.428 0.719-2.53 2.009-2.53 1.319 0 2.038 1.132 2.038 2.58 0 1.388-0.788 2.501-2.038 2.501zM38.693 22.996c-0.246 0.187-0.64 0.404-1.063 0.404-0.61 0-0.945-0.364-0.945-1.034v-2.934h-0.601c-0.059 0-0.098-0.049-0.098-0.098v-0.414c0-0.059 0.049-0.098 0.098-0.098h0.601v-0.866c0-0.039 0.030-0.079 0.069-0.098l0.482-0.167c0.030-0.010 0.069-0.010 0.089 0.010 0.030 0.020 0.039 0.049 0.039 0.079v1.034h1.172c0.030 0 0.069 0.020 0.079 0.039 0.020 0.030 0.020 0.059 0.010 0.089l-0.167 0.414c-0.020 0.039-0.049 0.059-0.098 0.059h-1.004v2.895c0 0.394 0.197 0.433 0.354 0.433 0.256 0 0.512-0.148 0.699-0.286 0.020-0.020 0.059-0.020 0.079-0.010 0.030 0.010 0.049 0.030 0.069 0.059l0.167 0.354c0.020 0.059 0 0.108-0.030 0.138zM38.595 12.785v-2.481c0-0.502 0.059-1.231-0.561-1.231-0.217 0-0.414 0.148-0.512 0.364-0.128 0.276-0.138 0.561-0.138 0.866v2.462c0 0.089-0.079 0.167-0.177 0.167h-0.886c-0.089-0.010-0.158-0.079-0.158-0.167v-4.578c0.010-0.079 0.079-0.148 0.167-0.148h0.827c0.079 0 0.138 0.059 0.158 0.128v0.699h0.020c0.246-0.63 0.601-0.926 1.211-0.926 0.404 0 0.788 0.148 1.044 0.542 0.236 0.364 0.236 0.985 0.236 1.428v2.885c-0.010 0.079-0.079 0.148-0.167 0.148h-0.896c-0.089-0.020-0.158-0.079-0.167-0.158zM40.328 23.399c-0.581 0-1.014-0.226-1.221-0.364-0.039-0.030-0.059-0.079-0.039-0.118l0.167-0.394c0.010-0.030 0.030-0.049 0.059-0.059s0.059-0.010 0.079 0.010c0.197 0.118 0.492 0.286 0.985 0.286 0.266 0 0.886-0.069 0.886-0.679 0-0.414-0.374-0.581-0.817-0.778l-0.079-0.039c-0.492-0.226-1.113-0.502-1.113-1.329 0-0.61 0.453-1.231 1.467-1.231 0.433 0 0.798 0.108 1.024 0.207 0.039 0.020 0.059 0.049 0.059 0.089v0.443c0 0.030-0.020 0.069-0.049 0.079-0.030 0.020-0.069 0.020-0.098 0.010-0.226-0.108-0.522-0.207-0.926-0.207-0.542 0-0.817 0.187-0.817 0.561 0 0.384 0.325 0.561 0.817 0.788l0.059 0.030c0.305 0.138 0.61 0.286 0.837 0.522 0.207 0.217 0.305 0.492 0.305 0.837 0.030 0.817-0.601 1.339-1.585 1.339z"></path>
</symbol>
<symbol id="icon-american_express" viewBox="0 0 32 32">
<title>american_express</title>
<path class="path1" d="M13.88 13.303v-0.599h-2.302v2.875h2.302v-0.591h-1.616v-0.573h1.572v-0.591h-1.572v-0.521zM17.121 13.477c0-0.321-0.13-0.513-0.348-0.634-0.226-0.13-0.478-0.139-0.834-0.139h-1.581v2.884h0.686v-1.051h0.738c0.252 0 0.4 0.026 0.504 0.122 0.122 0.139 0.113 0.391 0.113 0.565v0.365h0.695v-0.565c0-0.261-0.017-0.382-0.113-0.53-0.061-0.087-0.191-0.182-0.339-0.243 0.174-0.078 0.478-0.313 0.478-0.773zM16.217 13.885c-0.096 0.061-0.208 0.061-0.339 0.061h-0.834v-0.643h0.851c0.122 0 0.243 0.009 0.33 0.052s0.148 0.13 0.148 0.252c-0.009 0.13-0.061 0.226-0.156 0.278zM4.655 14.945h1.433l0.261 0.643h1.398v-2.258l0.999 2.258h0.608l0.999-2.258v2.258h0.704v-2.884h-1.138l-0.825 1.954-0.903-1.954h-1.121v2.727l-1.173-2.727h-1.025l-1.155 2.693v0.182h0.669l0.269-0.634zM5.368 13.19l0.469 1.147h-0.938l0.469-1.147zM19.987 13.321h0.651v-0.617h-0.669c-0.478 0-0.825 0.104-1.042 0.339-0.295 0.313-0.374 0.695-0.374 1.129 0 0.521 0.122 0.851 0.365 1.103 0.191 0.261 0.539 0.356 0.999 0.321h0.808l0.261-0.643h1.433l0.269 0.643h1.399v-2.163l1.303 2.163h0.973v-2.884h-0.704v2.007l-1.207-2.007h-1.051v2.727l-1.164-2.727h-1.025l-0.973 2.267h-0.313c-0.182 0-0.374-0.035-0.478-0.148-0.13-0.148-0.191-0.365-0.191-0.678 0-0.304 0.078-0.53 0.2-0.651 0.139-0.148 0.278-0.182 0.53-0.182zM21.707 13.19l0.478 1.147h-0.947l0.469-1.147zM17.52 12.704h0.704v2.884h-0.704v-2.884zM20.074 18.437c0-0.33-0.139-0.513-0.356-0.643-0.226-0.122-0.478-0.139-0.825-0.139h-1.59v2.884h0.695v-1.051h0.738c0.252 0 0.408 0.026 0.504 0.13 0.13 0.13 0.113 0.391 0.113 0.565v0.356h0.695v-0.573c0-0.252-0.017-0.382-0.113-0.53-0.061-0.087-0.182-0.182-0.339-0.243 0.165-0.061 0.478-0.295 0.478-0.756zM19.171 18.845c-0.096 0.052-0.208 0.061-0.339 0.061h-0.834v-0.643h0.851c0.122 0 0.243 0 0.33 0.052 0.087 0.043 0.139 0.139 0.139 0.261s-0.061 0.217-0.148 0.269zM15.818 17.664h-2.198l-0.877 0.947-0.851-0.947h-2.762v2.884h2.727l0.877-0.956 0.851 0.956h1.338v-0.964h0.86c0.599 0 1.199-0.165 1.199-0.964-0.009-0.808-0.617-0.956-1.164-0.956zM11.5 19.94h-1.685v-0.573h1.511v-0.591h-1.511v-0.521h1.729l0.756 0.843-0.799 0.843zM14.237 20.279l-1.060-1.173 1.060-1.138v2.311zM15.809 18.993h-0.886v-0.73h0.895c0.252 0 0.417 0.104 0.417 0.356 0 0.243-0.165 0.374-0.426 0.374zM22.749 18.255v-0.591h-2.293v2.875h2.293v-0.599h-1.607v-0.573h1.572v-0.591h-1.572v-0.521zM28.126 19.097v0c-0.017-0.026-0.035-0.052-0.061-0.069-0.156-0.156-0.408-0.226-0.782-0.235l-0.374-0.009c-0.113 0-0.191-0.009-0.269-0.035-0.087-0.035-0.148-0.104-0.148-0.217 0-0.096 0.026-0.156 0.104-0.208 0.069-0.043 0.156-0.052 0.278-0.052h1.251v-0.617h-1.372c-0.721 0-0.99 0.443-0.99 0.86 0 0.912 0.808 0.869 1.451 0.895 0.122 0 0.191 0.017 0.243 0.061s0.087 0.104 0.087 0.191c0 0.078-0.035 0.139-0.078 0.191-0.052 0.052-0.148 0.069-0.278 0.069h-1.32v0.617h1.329c0.443 0 0.764-0.122 0.938-0.365v0 0c0.096-0.139 0.148-0.321 0.148-0.539-0.009-0.252-0.061-0.408-0.156-0.539zM27.119 21.104h-1.781v-0.261c-0.208 0.165-0.582 0.261-0.938 0.261h-5.62v-0.93c0-0.113-0.009-0.122-0.122-0.122h-0.087v1.051h-1.85v-1.086c-0.313 0.13-0.66 0.148-0.956 0.139h-0.217v0.956h-2.241l-0.556-0.625-0.582 0.625h-3.666v-4.022h3.709l0.53 0.617 0.565-0.617h2.484c0.287 0 0.756 0.026 0.973 0.235v-0.235h2.224c0.208 0 0.66 0.043 0.93 0.235v-0.235h3.362v0.235c0.165-0.156 0.521-0.235 0.825-0.235h1.885v0.235c0.2-0.139 0.478-0.235 0.86-0.235h1.277v-13.386h-24.409v10.137l0.747-1.711h1.798l0.234 0.478v-0.478h2.102l0.46 1.034 0.452-1.034h6.68c0.304 0 0.573 0.061 0.773 0.235v-0.235h1.833v0.235c0.313-0.174 0.704-0.235 1.147-0.235h2.649l0.243 0.478v-0.478h1.963l0.269 0.478v-0.478h1.911v4.013h-1.928l-0.365-0.608v0.608h-2.415l-0.261-0.643h-0.591l-0.269 0.643h-1.251c-0.495 0-0.86-0.113-1.103-0.243v0.243h-2.971v-0.912c0-0.13-0.026-0.139-0.104-0.139h-0.113v1.051h-5.75v-0.495l-0.208 0.495h-1.199l-0.208-0.495v0.486h-2.311l-0.261-0.643h-0.591l-0.269 0.643h-1.095v12.135h24.4v-7.366c-0.269 0.148-0.634 0.2-0.999 0.2zM24.495 19.922h-1.338v0.617h1.338c0.695 0 1.077-0.287 1.077-0.912 0-0.295-0.069-0.469-0.208-0.608-0.156-0.156-0.408-0.226-0.791-0.235l-0.374-0.009c-0.113 0-0.191-0.009-0.269-0.035-0.087-0.035-0.148-0.104-0.148-0.217 0-0.096 0.026-0.156 0.104-0.208 0.069-0.043 0.148-0.052 0.278-0.052h1.26v-0.617h-1.381c-0.721 0-0.982 0.443-0.982 0.86 0 0.912 0.808 0.869 1.451 0.895 0.122 0 0.191 0.017 0.243 0.061 0.043 0.043 0.087 0.104 0.087 0.191 0 0.078-0.035 0.139-0.078 0.191-0.043 0.061-0.139 0.078-0.269 0.078z"></path>
</symbol>
<symbol id="icon-bitcoin" viewBox="0 0 78 32">
<title>bitcoin</title>
<path class="path1" d="M10.906 5.8q3 0 5.547 1.453t4.031 3.969 1.484 5.484q0 3-1.453 5.547t-3.969 4.047-5.484 1.5q-3 0-5.547-1.453t-4.031-3.969-1.484-5.516 1.453-5.547 3.969-4.031 5.484-1.484zM11.125 21.55q1.531 0.406 2.656 0.047t1.594-1.672q0.688-1.969-1.094-2.906 1.344-0.313 1.563-1.781 0.281-1.844-2.406-2.781l0.5-2-1.219-0.281-0.469 1.906q-0.188-0.031-0.516-0.109t-0.453-0.109l0.469-1.938-1.188-0.313-0.5 1.969q-0.281-0.031-0.781-0.156v-0.031l-1.656-0.406-0.313 1.281 0.875 0.219q0.594 0.156 0.531 0.719l-0.563 2.25-0.813 3.156q-0.094 0.406-0.531 0.313l-0.875-0.25-0.625 1.406 1.594 0.375q0.281 0.094 0.844 0.219l-0.5 2.031 1.188 0.281 0.5-1.969q0.781 0.219 0.969 0.25l-0.5 1.969 1.219 0.313zM28.188 14.363q0.281-0.125 0.719-0.25 0.375-0.094 0.75-0.094 0.875 0 1.469 0.313 0.625 0.281 1.031 0.813 0.344 0.438 0.625 1.188 0.188 0.688 0.188 1.5 0 1.25-0.469 2.313-0.406 1.063-1.219 1.906-0.75 0.781-1.844 1.281-1.063 0.469-2.313 0.469-0.031 0-0.219-0.016t-0.344-0.016q-0.219 0-0.906-0.063-0.688-0.125-1.094-0.219-0.656-0.156-1.094-0.406l3.094-12.875 2.719-0.406zM39.406 11.3q0 0.313-0.156 0.688-0.125 0.281-0.406 0.563-0.219 0.25-0.563 0.375-0.281 0.156-0.719 0.156-0.563 0-0.969-0.313-0.469-0.313-0.469-1.031 0-0.313 0.156-0.688 0.125-0.281 0.406-0.563 0.25-0.219 0.563-0.375 0.375-0.156 0.719-0.156 0.5 0 1 0.344 0.438 0.344 0.438 1zM66.938 12.769q-0.438-0.313-0.438-1.031 0-0.406 0.156-0.688 0.156-0.313 0.375-0.563 0.313-0.25 0.594-0.375 0.375-0.156 0.688-0.156 0.5 0 1 0.344 0.438 0.344 0.438 1 0 0.313-0.156 0.688-0.125 0.344-0.375 0.563-0.313 0.25-0.594 0.375-0.281 0.156-0.688 0.156-0.594 0-1-0.313zM43.281 14.206h2.969l-0.531 2.156h-2.938l-0.781 3.281q-0.125 0.563-0.125 0.75-0.031 0.344 0.094 0.625 0.094 0.281 0.375 0.406 0.25 0.125 0.781 0.125 0.281 0 0.844-0.063 0.25-0.063 0.813-0.25l0.188 2.031q-0.75 0.25-1.156 0.344-0.531 0.125-1.469 0.125-1.25 0-1.906-0.344-0.656-0.375-0.938-1-0.313-0.563-0.25-1.438 0-0.781 0.25-1.719l1.719-7.344 2.75-0.438zM10.938 13.3q0.063 0 0.188 0.031 0.375 0.094 0.609 0.156t0.656 0.219 0.641 0.328 0.375 0.484 0.063 0.688q-0.063 0.281-0.234 0.469t-0.438 0.25-0.484 0.094-0.578-0.016-0.531-0.078-0.5-0.125-0.359-0.094zM53.563 16.581q-0.406-0.156-0.719-0.25-0.344-0.125-0.938-0.125-1.344 0-2.094 0.875-0.75 0.938-0.75 2.438 0 0.906 0.375 1.469 0.406 0.563 1.438 0.563 0.531 0 1-0.094 0.688-0.219 0.844-0.281l0.188 2.125q-0.531 0.219-1.063 0.344-0.688 0.156-1.469 0.156-1.063 0-1.844-0.344-0.688-0.25-1.281-0.844-0.531-0.625-0.688-1.281-0.25-0.75-0.25-1.5 0-1.125 0.406-2.281 0.375-1.063 1.125-1.875 0.656-0.75 1.75-1.25 1.031-0.469 2.313-0.469 0.719 0 1.438 0.156 0.469 0.094 1.125 0.406zM62.406 15.050q0.438 0.5 0.688 1.219 0.219 0.656 0.219 1.531 0 1.156-0.313 2.125-0.406 1.188-1 1.938-0.656 0.844-1.656 1.375-1 0.563-2.281 0.563-0.969 0-1.625-0.313-0.75-0.313-1.125-0.781-0.438-0.5-0.688-1.219-0.25-0.75-0.25-1.563 0-1.031 0.375-2.125 0.344-1.063 1-1.906t1.656-1.375q0.969-0.563 2.219-0.563 0.906 0 1.625 0.281 0.656 0.25 1.156 0.813zM71.188 14.644q0.063-0.031 0.156-0.047t0.172-0.047 0.172-0.063 0.156-0.063l0.813-0.188q0.469-0.094 1.031-0.188 0.375-0.031 1.25-0.031 2.156 0 2.875 1.188 0.781 1.219 0.281 3.313l-1.219 5.031h-2.625l1.156-4.938q0.125-0.656 0.156-0.906 0.094-0.406 0-0.75-0.031-0.313-0.313-0.531-0.344-0.219-0.813-0.219-0.344 0-1.031 0.125l-1.719 7.219h-2.656zM35.875 14.206h2.656l-2.25 9.344h-2.594zM66.25 14.206h2.625l-2.219 9.344h-2.625zM8.156 15.456l0.125 0.031q-0.063 0-0.125-0.031zM26.469 21.55q0.156 0 0.188 0.031h0.188q0.063 0.031 0.188 0.031h0.344q0.625 0 1.156-0.313 0.531-0.281 0.938-0.813 0.375-0.438 0.656-1.125 0.219-0.75 0.219-1.344 0-0.844-0.281-1.313-0.281-0.5-1.063-0.5-0.25 0-0.625 0.094t-0.719 0.375zM60.563 19.238q0.125-0.531 0.125-1.156 0-0.875-0.281-1.406-0.281-0.469-1.031-0.469-0.594 0-1.031 0.344t-0.719 0.844q-0.344 0.531-0.469 1.125-0.156 0.688-0.156 1.156 0 0.906 0.281 1.406 0.313 0.469 1.031 0.469 0.594 0 1.031-0.344 0.469-0.313 0.75-0.828t0.469-1.141zM10.031 16.925q0.063 0 0.297 0.063t0.375 0.094l0.422 0.094t0.438 0.141 0.438 0.188 0.406 0.203 0.328 0.25 0.25 0.313 0.125 0.375-0.047 0.438q-0.063 0.313-0.266 0.516t-0.516 0.266-0.578 0.094-0.688-0.031-0.625-0.094-0.609-0.141-0.438-0.109z"></path>
</symbol>
<symbol id="icon-cirrus" viewBox="0 0 37 32">
<title>cirrus</title>
<path class="path1" d="M22.375 19.406q-0.906 2.969-3.156 5.125 3.063 2.469 6.969 2.469 2.969 0 5.516-1.469t4.016-4.016 1.469-5.516q0-2.219-0.875-4.266t-2.344-3.516-3.516-2.344-4.266-0.875q-3.906 0-6.969 2.469 2.25 2.156 3.156 5.125h-0.875q-0.844-2.563-2.906-4.563-2.063 1.969-2.875 4.563h-0.906q0.844-2.906 3.094-5.125-3.094-2.469-6.906-2.469-2.969 0-5.516 1.469t-4.016 4.016-1.469 5.516 1.469 5.516 4.016 4.016 5.516 1.469q3.813 0 6.906-2.469-2.25-2.219-3.094-5.125h0.906q0.813 2.594 2.875 4.563 2.063-2 2.906-4.563h0.875zM11.531 12.719q-0.063 0.438-0.25 1.156-1.5-0.688-2.625 0-1 0.781-0.906 2.188 0.094 0.688 0.75 1.031 0.969 0.313 2.219-0.25-0.031 0.188-0.094 0.453t-0.109 0.469-0.109 0.359q-1.469 0.438-2.719 0.031-0.625-0.219-1.078-0.766t-0.484-1.172q-0.125-0.656 0.047-1.313t0.609-1.203 1.063-0.859q1.531-0.75 3.688-0.125zM17.219 14.938q-0.156-0.031-0.313 0.016t-0.297 0.141-0.25 0.219-0.172 0.281q-0.125 0.281-0.219 0.672t-0.156 0.672-0.156 0.734-0.125 0.672h-1.656l0.063-0.313q0.094-0.469 0.438-1.984t0.469-2.328h1.406q0 0.031-0.094 0.719l0.234-0.234t0.359-0.313 0.453-0.172 0.734-0.031l-0.469 1.313zM21.031 15l-0.25-0.063q-0.563-0.094-1 0.656-0.156 0.281-0.266 0.672t-0.156 0.672-0.141 0.734-0.125 0.672h-1.656l0.094-0.313q0.094-0.469 0.281-1.359t0.328-1.609 0.234-1.344h1.438q0.031 0.281-0.094 0.719l0.25-0.25t0.359-0.313 0.469-0.172 0.734-0.016zM27 17.313q0.75 0.188 1.438 0.188 0.875 0 0.875-0.406 0-0.188-0.125-0.281t-0.594-0.281q-1.219-0.406-1.219-1.313 0-0.344 0.125-0.609t0.406-0.484 0.75-0.344 1.125-0.125q1 0 1.438 0.094l-0.25 1.063q-0.406-0.031-1.125-0.031-0.813 0-0.813 0.344 0 0.188 0.125 0.281t0.625 0.25q1.125 0.406 1.125 1.313 0 1.563-2.469 1.563-0.188 0-0.875-0.063-0.344 0-0.438-0.031l-0.281-0.031h-0.094zM13.813 13.719l-0.938 4.625h-1.594l0.938-4.625h1.594zM26.188 17.156l-0.188 1.188h-1.469l0.125-0.75q-0.781 0.875-1.781 0.875-0.688 0-1.078-0.453t-0.391-1.141q0-0.031 0.125-0.969l0.438-2.156h1.563l-0.438 2.156q0 0.063-0.063 0.297t-0.063 0.391q0 0.219 0.203 0.391t0.484 0.141q0.969 0 1.219-1.25l0.438-2.125h1.625z"></path>
</symbol>
<symbol id="icon-discover" viewBox="0 0 84 32">
<title>discover</title>
<path class="path1" d="M36.156 22.188q-1.75 0.781-3.25 0.781-2.969 0-5-2.016t-2.031-4.984q0-2.875 2.078-4.922t5.016-2.047q1.656 0 3.188 0.813v3.063q-1.531-1.5-3.25-1.5-1.844 0-3.109 1.344t-1.266 3.25q0 2.031 1.266 3.313t3.234 1.281q1.688 0 3.125-1.438v3.063zM23.219 12.344q-0.938-1.063-2.125-1.063-0.844 0-1.391 0.422t-0.547 1.047q0 0.531 0.422 0.891t1.578 0.766q2.25 0.813 3.063 1.703t0.813 2.484q0 1.938-1.297 3.156t-3.328 1.219q-2.906 0-4.625-2.531l1.688-1.625q0.938 1.781 2.844 1.781 0.875 0 1.453-0.531t0.578-1.344q0-0.844-0.781-1.375-0.438-0.281-1.813-0.75-1.813-0.688-2.547-1.5t-0.734-2.219q0-1.625 1.203-2.719t2.953-1.094q2.219 0 3.938 1.531zM44.281 9.063q3 0 5.047 2.016t2.047 4.922-2.063 4.938-5.031 2.031q-3.063 0-5.109-2t-2.047-5.031q0-2.875 2.094-4.875t5.063-2zM3.813 9.281q3.156 0 5.172 1.875t2.016 4.813q0 1.469-0.625 2.828t-1.781 2.328q-1.938 1.563-4.781 1.563h-3.813v-13.406h3.813zM12.188 9.281h2.625v13.406h-2.625v-13.406zM60.875 9.281h2.844l-5.813 13.719h-1.375l-5.656-13.719h2.813l3.563 9zM64.875 9.281h7.406v2.281h-4.781v2.969h4.594v2.25h-4.594v3.625h4.781v2.281h-7.406v-13.406zM77.875 9.281q2.25 0 3.469 1.031t1.219 2.938q0 1.531-0.766 2.5t-2.234 1.281l4.188 5.656h-3.188l-3.625-5.438h-0.313v5.438h-2.625v-13.406h3.875zM77.375 15.438q2.531 0 2.531-2.063 0-1.969-2.531-1.969h-0.75v4.031h0.75zM3.344 20.406q2.375 0 3.531-1.063 0.688-0.625 1.078-1.516t0.391-1.859q0-2.031-1.469-3.313-1.188-1.094-3.531-1.094h-0.719v8.844h0.719z"></path>
</symbol>
<symbol id="icon-fancy" viewBox="0 0 24 32">
<title>fancy</title>
<path class="path1" d="M20.582 10.962q0-3.080-2.6-5.249t-6.243-2.169-6.226 2.169-2.583 5.249v9.902q0 0.596 0.546 1.043t1.308 0.447h4.802v4.802q0 0.762 0.629 1.292t1.523 0.53 1.54-0.53 0.646-1.292v-4.802h4.835q0.762 0 1.292-0.447t0.53-1.043v-9.902z"></path>
</symbol>
<symbol id="icon-interac" viewBox="0 0 32 32">
<title>interac</title>
<path class="path1" d="M26.306 2.738q0.95 0 1.625 0.688t0.675 1.637v20.95q0 0.95-0.675 1.637t-1.625 0.688h-20.8q-0.95 0-1.638-0.688t-0.688-1.637v-20.95q0-0.95 0.688-1.638t1.638-0.688h20.8zM28.106 5.063q0-0.75-0.525-1.288t-1.275-0.538h-20.8q-0.75 0-1.287 0.538t-0.538 1.288v20.95q0 0.75 0.538 1.288t1.287 0.538h20.8q0.75 0 1.275-0.538t0.525-1.288v-20.95zM25.856 7.988q-0.075-0.25-0.175-0.35-0.1-0.025-0.325 0-0.275 0.075-0.425 0.375-0.175 0.275-0.175 0.85 0 0.475 0.175 0.675 0.15 0.225 0.425 0.1 0.175-0.075 0.325-0.25 0.125-0.125 0.225-0.5l0.975-0.15q-0.025 0.375-0.25 0.825-0.2 0.45-0.475 0.65-0.35 0.3-0.75 0.4-0.55 0.15-0.725 0.1-0.35-0.050-0.5-0.2-0.225-0.2-0.35-0.5-0.1-0.4-0.1-0.875 0-0.6 0.15-1.050 0.050-0.2 0.3-0.6 0.2-0.35 0.35-0.45 0.225-0.225 0.8-0.4 0.65-0.225 1.025 0.025 0.35 0.225 0.5 0.825zM23.231 10.363q0 0.325 0.025 0.45 0 0.15 0.125 0.35l-1.025 0.3-0.050-0.2q-0.050-0.15-0.050-0.225-0.225 0.375-0.425 0.5-0.25 0.25-0.625 0.375-0.525 0.125-0.75-0.075-0.275-0.325-0.275-0.75t0.2-0.775q0.15-0.3 0.675-0.6 0.675-0.425 0.75-0.5 0.25-0.125 0.4-0.275 0-0.25-0.075-0.375-0.1-0.1-0.3-0.025-0.2 0.050-0.4 0.25-0.1 0.2-0.15 0.4l-1 0.15q0.075-0.4 0.175-0.625 0.050-0.2 0.275-0.475 0.25-0.2 0.425-0.3l0.55-0.225q0.55-0.125 0.75-0.125 0.275 0 0.5 0.15 0.125 0.125 0.2 0.375 0.075 0.3 0.075 0.575v1.675zM11.681 17.313q0.075 0.1 0.3 0.363t0.387 0.45 0.387 0.475 0.387 0.512 0.313 0.488 0.225 0.475 0.075 0.387v7.25h-4.325q-0.15-0.375-0.675-1.038t-0.525-1.137v-6.725q-0.225 0.1-1.237 0.438t-1.288 0.387q-0.075 0-0.237 0.012t-0.313-0.113-0.15-0.35v-8.3q0-0.475 0.525-0.7 2.475-1 5.45-1.95 0.3-0.075 0.5 0.050t0.2 0.45v8.575zM18.881 9.288q0.125-0.4 0.3-0.65 0.1-0.2 0.375-0.275 0.2-0.075 0.5 0.050l-0.3 1.15q-0.275-0.050-0.325-0.025-0.2 0.075-0.325 0.35-0.15 0.425-0.15 1.3v1.3l-1.050 0.3v-3.825l0.975-0.3v0.625zM11.381 8.913q0-0.1-0.025-0.188t-0.125-0.15-0.25-0.037l-3.3 1.15v9q0.375-0.125 0.55-0.225v-1.875q0-0.275 0.35-0.563t0.725-0.287q0.15 0 0.313 0.037t0.338 0.125 0.3 0.275 0.125 0.413v4.7h0.175v-3.725q0.825-0.225 0.825-0.575v-2.2l-1.050 0.325v-2.1q0-0.375-0.1-0.525-0.125-0.125-0.3-0.050-0.125 0.025-0.3 0.275-0.1 0.275-0.1 0.775v1.85l-1.050 0.325v-3.825l0.975-0.325v0.625q0.3-0.55 0.425-0.675 0.2-0.25 0.575-0.325 0.425-0.15 0.65 0.15 0.275 0.25 0.275 1.050v-3.425zM13.256 12.788q0 0.3 0.025 0.35 0.125 0.075 0.225 0.050 0.15-0.050 0.3-0.175l0.075 1q-0.425 0.225-0.725 0.325-0.425 0.125-0.575 0.050-0.175-0.1-0.25-0.35-0.125-0.25-0.125-0.925v-1.375l-0.375 0.15v-1.1l0.375-0.125v-0.7l1.050-1.050v1.45l0.6-0.175v1.075l-0.6 0.175v1.35zM17.331 11.988q-0.225 0.65-0.575 1.025-0.325 0.325-0.95 0.525-0.5 0.125-0.875 0.050-0.325-0.175-0.475-0.525-0.25-0.425-0.25-1.075 0-0.85 0.425-1.575 0.375-0.625 1.15-0.925 0.625-0.175 0.925-0.025 0.325 0.15 0.5 0.6 0.2 0.45 0.2 1.175v0.175l-2.125 0.625q0.050 0.4 0.125 0.475 0.2 0.25 0.425 0.125 0.175-0.050 0.3-0.2 0.075-0.075 0.175-0.275zM22.206 9.688q-0.025 0.025-0.2 0.15t-0.275 0.175q-0.35 0.275-0.4 0.35-0.075 0.15-0.075 0.275 0 0.225 0.075 0.3t0.25 0.025q0.125-0.025 0.35-0.2 0.15-0.225 0.225-0.375 0.050-0.25 0.050-0.475v-0.225zM6.381 10.188q-0.050 0.025-0.2 0.075t-0.237 0.088-0.213 0.088-0.2 0.1-0.15 0.113-0.112 0.137-0.037 0.175v8.175q0 0.3 0.35 0.3 0.275 0 0.8-0.3v-8.95zM16.306 11.038q0-0.4-0.15-0.6-0.125-0.125-0.35-0.075-0.2 0.075-0.4 0.425-0.1 0.2-0.1 0.55zM8.056 20.888q-0.125 0.025-0.537 0.163t-0.513 0.137q-0.375 0-0.588-0.288t-0.213-0.663q0-0.325 0.3-0.538t0.9-0.387 0.65-0.2v1.775zM8.056 22.613q-0.1 0.025-0.35 0.125t-0.425 0.15-0.275 0.050q-0.375 0-0.55-0.275t-0.175-0.525q0-0.3 0.225-0.5t0.438-0.262 0.638-0.15 0.475-0.087v1.475zM8.056 24.338q-0.6 0.325-0.85 0.325-0.925 0-0.925-0.875 0-0.125 0.063-0.238t0.162-0.188 0.237-0.137 0.275-0.113 0.3-0.087 0.287-0.050 0.25-0.038 0.2-0.050v1.45z"></path>
</symbol>
<symbol id="icon-jcb" viewBox="0 0 50 32">
<title>jcb</title>
<path class="path1" d="M32.344 13.338q-2.375-1.25-4.906-1.438-2.656-0.219-4.156 0.984t-1.5 3.516 1.5 3.516 4.156 0.984q2.469-0.188 4.906-1.438v2.781q-2.625 0.656-5.156 0.781-2.5 0.094-4.453-0.219t-3.172-0.922-2.016-1.5-1.109-1.875-0.313-2.109q0-1.438 0.531-2.609t1.734-2.172 3.453-1.484 5.344-0.359q1.125 0.063 2.406 0.25t2.031 0.375l0.719 0.156v2.781zM9.156 10.15h5.625v7.562q0 5.344-8.094 5.344-1.656 0-3.328-0.203t-2.516-0.391l-0.844-0.219v-2.781q3.031 1.438 5.625 1.438 1.656 0 2.594-0.875t0.938-2.313v-7.563zM46.688 16.244q1.656 0.156 2.703 0.984t1.047 2.172q0 0.969-0.547 1.719t-1.484 1.141-2.125 0.391h-12.125v-12.5h11.875q1.594 0.063 2.609 0.875t1.016 2.188q0 1.125-0.781 1.953t-2.188 1.047v0.031zM39.344 15.244h3.438q0.313 0 0.375-0.031 0.563-0.094 0.938-0.516t0.375-1.047q0-0.594-0.375-1.016t-0.938-0.516q-0.125-0.063-0.375-0.063h-3.438v3.188zM43.125 20.619q0.344 0 0.406-0.031 0.594-0.094 0.969-0.547t0.375-1.109q0-0.438-0.172-0.797t-0.469-0.578-0.703-0.313l-0.406-0.031h-3.781v3.406h3.781z"></path>
</symbol>
<symbol id="icon-master" viewBox="0 0 37 32">
<title>master</title>
<path class="path1" d="M28.163 16.955c-0.871 0-1.045 0.386-1.045 0.709 0 0.162 0.1 0.448 0.46 0.448 0.709 0 0.858-0.933 0.834-1.132-0.025 0-0.050-0.025-0.249-0.025zM17.948 15.374c-0.647 0-0.771 0.734-0.771 0.809h1.319c-0.012-0.062 0.112-0.809-0.547-0.809zM8.989 16.955c-0.871 0-1.045 0.386-1.045 0.709 0 0.162 0.1 0.448 0.46 0.448 0.709 0 0.859-0.933 0.834-1.132-0.025 0-0.050-0.025-0.249-0.025zM34.036 15.499c-0.523 0-0.933 0.61-0.933 1.518 0 0.56 0.199 0.921 0.622 0.921 0.647 0 0.946-0.834 0.946-1.456 0.012-0.684-0.212-0.983-0.635-0.983zM26.408 5.259c-2.7 0-5.176 0.995-7.080 2.625 1.406 1.331 2.464 3.011 3.048 4.902h-0.523c-0.572-1.754-1.58-3.322-2.899-4.566-1.319 1.244-2.327 2.8-2.899 4.566h-0.523c0.61-1.966 1.742-3.72 3.235-5.064-1.953-1.692-4.492-2.713-7.266-2.713-6.147 0-11.124 4.977-11.124 11.123s4.977 11.123 11.124 11.123c2.775 0 5.313-1.020 7.266-2.7-1.344-1.219-2.389-2.75-3.036-4.479h0.535c0.597 1.518 1.518 2.874 2.688 3.969 1.17-1.095 2.090-2.451 2.688-3.969h0.535c-0.61 1.655-1.593 3.123-2.849 4.305 1.904 1.63 4.38 2.625 7.080 2.625 5.997 0 10.875-4.878 10.875-10.875s-4.877-10.875-10.875-10.875zM5.070 19.020l0.672-4.243-1.518 4.243h-0.809l-0.1-4.243-0.722 4.243h-1.145l0.946-5.636h1.729l0.050 3.459 1.17-3.459h1.866l-0.933 5.636h-1.207zM9.113 19.020l0.037-0.448c-0.025 0-0.373 0.547-1.219 0.547-0.435 0-1.145-0.236-1.145-1.269 0-1.319 1.070-1.754 2.103-1.754 0.162 0 0.51 0.025 0.51 0.025s0.037-0.075 0.037-0.299c0-0.361-0.323-0.411-0.759-0.411-0.771 0-1.294 0.211-1.294 0.211l0.174-1.020c0 0 0.622-0.261 1.431-0.261 0.423 0 1.63 0.050 1.63 1.431l-0.46 3.26h-1.045zM13.506 17.577c0 1.568-1.518 1.506-1.792 1.506-0.995 0-1.294-0.137-1.331-0.149l0.162-1.033c0-0.012 0.498 0.174 1.045 0.174 0.323 0 0.734-0.025 0.734-0.411 0-0.572-1.481-0.436-1.481-1.792 0-1.194 0.883-1.543 1.767-1.543 0.672 0 1.095 0.087 1.095 0.087l-0.149 1.045c0 0-0.647-0.050-0.809-0.050-0.423 0-0.647 0.087-0.647 0.386 0 0.61 1.406 0.311 1.406 1.779zM15.235 15.561l-0.336 2.053c-0.025 0.162 0.025 0.386 0.435 0.386 0.1 0 0.224-0.037 0.299-0.037l-0.149 1.008c-0.124 0.037-0.46 0.149-0.883 0.149-0.547 0-0.946-0.311-0.946-1.008 0-0.473 0.672-4.33 0.697-4.355h1.182l-0.124 0.697h0.585l-0.149 1.107h-0.61zM18.109 18.074c0.597 0 1.257-0.286 1.257-0.286l-0.212 1.145c0 0-0.386 0.199-1.244 0.199-0.946 0-2.041-0.398-2.041-2.066 0-1.443 0.883-2.725 2.065-2.725 1.294 0 1.692 0.946 1.692 1.73 0 0.311-0.149 1.082-0.149 1.082h-2.414c0-0.025-0.224 0.921 1.045 0.921zM22.041 15.772c-0.821-0.286-0.883 1.294-1.232 3.26h-1.219l0.734-4.579h1.107l-0.1 0.659c0 0 0.398-0.722 0.921-0.722 0.149 0 0.224 0.012 0.224 0.012-0.149 0.323-0.299 0.61-0.436 1.369zM25.438 18.958c0 0-0.635 0.162-1.033 0.162-1.406 0-2.128-0.971-2.128-2.451 0-2.227 1.331-3.409 2.7-3.409 0.61 0 1.331 0.286 1.331 0.286l-0.199 1.257c0 0-0.485-0.336-1.082-0.336-0.809 0-1.53 0.771-1.53 2.165 0 0.684 0.336 1.331 1.17 1.331 0.398 0 0.983-0.286 0.983-0.286l-0.212 1.282zM28.287 19.020l0.037-0.448c-0.025 0-0.373 0.547-1.219 0.547-0.436 0-1.145-0.236-1.145-1.269 0-1.319 1.070-1.754 2.103-1.754 0.162 0 0.51 0.025 0.51 0.025s0.037-0.075 0.037-0.299c0-0.361-0.323-0.411-0.759-0.411-0.771 0-1.294 0.211-1.294 0.211l0.174-1.020c0 0 0.622-0.261 1.431-0.261 0.423 0 1.63 0.050 1.63 1.431l-0.46 3.26c-0.012-0.012-1.045-0.012-1.045-0.012zM30.738 19.032h-1.219l0.734-4.579h1.107l-0.1 0.659c0 0 0.398-0.722 0.921-0.722 0.149 0 0.224 0.012 0.224 0.012-0.162 0.323-0.299 0.61-0.435 1.369-0.821-0.286-0.883 1.307-1.232 3.26zM34.359 19.020l0.050-0.423c0 0-0.398 0.498-1.107 0.498-0.983 0-1.468-0.946-1.468-1.916 0-1.506 0.908-2.812 1.991-2.812 0.697 0 1.145 0.61 1.145 0.61l0.261-1.58h1.182l-0.908 5.624h-1.145zM36.574 18.995c-0.062 0.037-0.112 0.050-0.174 0.050s-0.124-0.012-0.174-0.050c-0.062-0.037-0.1-0.075-0.137-0.137s-0.050-0.112-0.050-0.174 0.012-0.124 0.050-0.174c0.037-0.062 0.075-0.1 0.137-0.137s0.112-0.050 0.174-0.050c0.062 0 0.124 0.012 0.174 0.050 0.062 0.025 0.1 0.075 0.137 0.137s0.050 0.112 0.050 0.174c0 0.062-0.012 0.124-0.050 0.174-0.037 0.062-0.087 0.112-0.137 0.137zM36.537 18.423c-0.050-0.025-0.1-0.037-0.149-0.037s-0.1 0.012-0.149 0.037c-0.050 0.025-0.087 0.062-0.112 0.112s-0.037 0.1-0.037 0.149 0.012 0.1 0.037 0.149c0.025 0.050 0.062 0.087 0.112 0.112s0.1 0.037 0.149 0.037c0.050 0 0.1-0.012 0.149-0.037s0.087-0.062 0.112-0.112 0.037-0.1 0.037-0.149-0.012-0.1-0.037-0.149c-0.025-0.050-0.062-0.087-0.112-0.112zM36.487 18.883l-0.037-0.062c-0.025-0.050-0.050-0.075-0.062-0.087s-0.025-0.012-0.050-0.012h-0.037v0.162h-0.062v-0.386h0.137c0.050 0 0.075 0 0.1 0.012s0.037 0.025 0.050 0.037c0.012 0.012 0.012 0.037 0.012 0.062s-0.012 0.050-0.025 0.075c-0.025 0.025-0.050 0.037-0.075 0.037 0.012 0 0.025 0.012 0.037 0.025s0.037 0.037 0.062 0.075l0.050 0.075h-0.1zM36.462 18.609c0-0.012 0-0.025-0.012-0.025-0.012-0.012-0.012-0.012-0.025-0.025-0.012 0-0.037-0.012-0.062-0.012h-0.075v0.112h0.075c0.037 0 0.062 0 0.075-0.012 0.025-0.012 0.025-0.025 0.025-0.037z"></path>
</symbol>
<symbol id="icon-paypal" viewBox="0 0 57 32">
<title>paypal</title>
<path class="path1" d="M53.906 9.825h3.219l-2.656 12h-3.188zM8.531 9.856q1.469 0 2.484 1.078t0.609 2.984q-0.375 1.844-1.703 2.891t-3.141 1.047h-2.469l-0.875 3.969h-3.438l2.625-11.969h5.906zM39.156 9.856q1.469 0 2.5 1.078t0.625 2.984q-0.25 1.219-0.953 2.125t-1.719 1.359-2.234 0.453h-2.438l-0.844 3.969h-3.438l2.625-11.969h5.875zM12.844 12.887q0.156-0.031 0.672-0.156t0.859-0.203 0.906-0.156 1.094-0.078q0.875-0.031 1.641 0.125t1.406 0.5 0.906 1.031 0.047 1.625l-1.313 6.25h-3.156l0.219-0.938q-0.656 0.656-1.656 0.938t-1.891 0.141-1.422-0.984-0.281-2.219q0.344-1.625 1.953-2.328t4.391-0.703q0.094-0.469-0.094-0.75t-0.563-0.391-1-0.078q-0.813 0.031-1.75 0.25t-1.25 0.406zM43.531 12.887q0.188-0.031 0.547-0.125t0.672-0.172 0.703-0.141 0.813-0.109 0.859-0.047q0.906-0.031 1.672 0.125t1.406 0.5 0.922 1.031 0.063 1.625l-1.344 6.25h-3.188l0.219-0.938q-0.656 0.656-1.672 0.938t-1.922 0.141-1.438-0.984-0.281-2.219q0.219-1.125 1.094-1.797t2.156-0.953 3.156-0.281q0.156-0.719-0.266-0.984t-1.391-0.234q-0.563 0-1.219 0.125t-1.141 0.266-0.734 0.266zM6.406 15.575q0.438 0 0.859-0.219t0.719-0.594 0.391-0.844q0.188-0.688-0.156-1.156t-1-0.469h-1.656l-0.75 3.281h1.594zM37.063 15.575q0.656 0 1.25-0.484t0.75-1.172-0.203-1.156-0.984-0.469h-1.75l-0.688 3.281h1.625zM21.813 12.481l1.281 9.406-2.313 3.938h3.531l7.5-13.344h-3.25l-3.125 5.563-0.5-5.563h-3.125zM16.625 18.7q0-0.313 0.156-0.844h-0.813q-1.469 0-1.875 0.781-0.313 0.563-0.016 0.938t0.859 0.375q1.375-0.063 1.688-1.25zM47.344 18.7q0.063-0.531 0.188-0.844h-0.781q-1.563 0-1.906 0.781-0.313 0.563-0.016 0.938t0.859 0.375q1.406-0.063 1.656-1.25z"></path>
</symbol>
<symbol id="icon-stripe" viewBox="0 0 44 32">
<title>stripe</title>
<path class="path1" d="M23 10.5q0.75 0 1.25-0.516t0.5-1.234-0.5-1.234-1.25-0.516q-0.469 0-0.875 0.234t-0.625 0.641-0.219 0.875q0 0.719 0.5 1.234t1.219 0.516zM13.719 18.875q-0.063 0-0.266 0.031t-0.375 0.063-0.359 0.047-0.25 0.016q-0.313 0-0.453-0.172t-0.141-0.641v-4.313h1.406l0.438-2.219h-1.844v-2.938l-3.031 0.75-0.469 2.188h-1.313v2.219h1.313v4.969q0 0.563 0.109 1t0.281 0.734 0.422 0.5 0.484 0.313 0.547 0.172 0.516 0.078 0.484 0.016q1.25 0 2.5-0.313v-2.5zM4.281 15.313q-0.406-0.188-0.531-0.25t-0.234-0.203-0.109-0.328q0-0.5 0.75-0.5 1.031 0 2.188 0.406v-2.469q-1.219-0.438-2.563-0.438-0.719 0-1.344 0.141t-1.203 0.469-0.906 0.984-0.328 1.594q0 1.906 2 2.844l0.438 0.219q0.469 0.188 0.656 0.344t0.188 0.406q0 0.594-0.969 0.594-0.781 0-2.188-0.469v2.563q1.594 0.469 2.844 0.469 3.75 0 3.75-3.344 0-0.656-0.188-1.156t-0.531-0.828-0.641-0.5-0.703-0.359zM17.969 14.781q0.625-0.313 1.156-0.313 0.656 0 1.281 0.188v-2.938q-0.25-0.188-1.063-0.188-1.25 0-1.563 1.125l-0.531-0.969h-2.781v9.813h3.5v-6.719zM29.75 21.469q0.813 0.219 1.25 0.219 0.375 0 0.625-0.016t0.688-0.125 0.734-0.297 0.656-0.563 0.578-0.906 0.375-1.375 0.156-1.875q0-1.344-0.203-2.297t-0.484-1.469-0.734-0.797-0.828-0.359-0.875-0.078q-1.219 0-2.094 0.813l-0.5-0.656h-2.844v13.313h3.5v-3.531zM43.969 17.781v-1.156q0-2.781-1.016-3.938t-2.859-1.156q-4.344 0-4.344 5.094 0 1.344 0.313 2.328t0.75 1.5 1.156 0.813 1.281 0.359 1.375 0.063q1.469 0 2.875-0.5v-2.563q-2.313 0.406-2.875 0.406-0.469 0-0.75-0.078t-0.453-0.375-0.172-0.797h4.719zM24.781 21.5v-9.813h-3.5v9.813h3.5zM39.25 15.875v-0.375t0.016-0.375 0.016-0.344 0.031-0.328 0.063-0.266 0.094-0.234 0.156-0.172 0.203-0.125 0.266-0.031q0.219 0 0.359 0.141t0.188 0.516 0.063 0.672 0.016 0.922h-1.469zM29.75 14.406q0.438-0.313 0.813-0.313 0.469 0 0.625 0.438t0.156 2q0 1.531-0.25 2.109t-0.75 0.578q-0.313 0-0.594-0.094v-4.719z"></path>
</symbol>
<symbol id="icon-visa" viewBox="0 0 43 32">
<title>visa</title>
<path class="path1" d="M30.656 12.344q-1.25-0.563-2.594-0.531-0.969 0-1.484 0.359t-0.516 0.813 0.453 0.813 1.516 0.891q2.969 1.344 2.938 3.656 0 2.125-1.656 3.391t-4.438 1.266q-2.313-0.031-3.906-0.719l0.469-3.063 0.438 0.25q1.781 0.719 3.313 0.719 0.844 0 1.469-0.359t0.656-1.016q0-0.438-0.406-0.797t-1.469-0.891q-0.594-0.313-1.047-0.594t-0.953-0.734-0.781-1.063-0.281-1.297q0.031-1.969 1.703-3.203t4.266-1.234q1.656 0 3.125 0.531l-0.438 2.969zM16.031 9.25l-5.531 13.563h-3.688l-2.875-10.813q1.5 0.594 2.734 1.813t1.766 2.656q-1.938-5.344-8.438-6.969l0.031-0.25h5.656q1.313 0 1.594 1.094l1.219 6.25 0.406 1.875 3.406-9.219h3.719zM20.969 9.25l-2.188 13.563h-3.5l2.188-13.563h3.5zM43.281 22.813h-3.281q-0.25-1.594-0.375-2.031l-4.5-0.031-0.719 2.063h-3.719l5.219-12.469q0.469-1.094 1.844-1.094h2.688zM38.031 12.875q-0.094 0.25-0.219 0.578t-0.203 0.547-0.047 0.188q-1.125 3-1.406 3.813h2.844l-0.75-3.938z"></path>
</symbol>
<symbol id="icon-diners_club" viewBox="0 0 28 32">
<title>diners_club</title>
<path class="path1" d="M16.25 5q3.031 0 5.641 1.375t4.234 3.953 1.625 5.734q0 2.938-1.609 5.469t-4.266 3.984-5.625 1.453h-5.188q-2.969 0-5.531-1.453t-4.047-3.984-1.484-5.469q0-3.188 1.5-5.734t4.016-3.938 5.547-1.391h5.188zM11.094 26.031q2.75 0 5.063-1.344t3.656-3.656 1.344-5.063q0-2.719-1.344-5.031t-3.656-3.656-5.063-1.344q-2.719 0-5.031 1.344t-3.656 3.656-1.344 5.031q0 2.75 1.344 5.063t3.656 3.656 5.031 1.344zM8.813 21.906q-1.813-0.688-2.938-2.313t-1.156-3.625q0.031-2 1.172-3.641t2.922-2.297v11.875zM13.406 10.031q1.781 0.656 2.922 2.297t1.141 3.641-1.141 3.625-2.922 2.313v-11.875z"></path>
</symbol>
<symbol id="icon-dankort" viewBox="0 0 35 32">
<title>dankort</title>
<path class="path1" d="M3.344 7.25q-0.656 0.063-1.594 0.625-0.813 0.5-1.281 1.344t-0.438 1.813q0.031 0 0.031-0.063h11.5q1.094 0.094 2.094 0.406 1.094 0.313 1.922 1.313t1.078 2.125q0.031-0.563 0.063-1.203t0.063-1.422 0.063-1.219h6.656q-0.094 0.625-0.156 1.406t-0.125 1.609-0.125 1.422q1.156-1.344 3.406-4.094 0.063-0.063 0.188-0.219t0.188-0.188h8.031q0.031-1-0.469-1.859t-1.375-1.328q-0.5-0.313-1.234-0.406t-1.391-0.047-1.406-0.016h-25.688zM35 11.031l0.031 0.063 0.031-0.063h-0.063zM34.906 11.063h-0.031q-0.406 0.313-0.828 0.719t-0.703 0.672-0.781 0.797-0.656 0.688-0.766 0.828-0.672 0.734l-0.063 0.063q0.25 0.313 0.719 0.922t0.734 0.984 0.703 0.922 0.781 0.969 0.75 0.906 0.813 0.891v-10.094zM6.406 17.375q0.313-0.031 1.141 0.016t1.359-0.031 0.938-0.391q0.688-0.594 0.656-1.188-0.125-0.438-0.438-0.703t-0.781-0.344-0.875-0.094-0.969 0-0.813 0.016zM23.031 15.906q-0.188 2.531-0.281 5.438-4.438-0.031-6.563 0 0.063-0.531 0.313-4.375-0.531 1.281-0.875 1.781-1.344 2.156-4.344 2.594h-11.25q0 0.75 0.25 1.406 0.375 0.906 1.219 1.547t1.781 0.672h27.875q0.969 0 1.625-0.344 0.969-0.406 1.578-1.359t0.547-1.984h-7.953t-0.156-0.031-0.172-0.109-0.094-0.203z"></path>
</symbol>
<symbol id="icon-maestro" viewBox="0 0 37 32">
<title>maestro</title>
<path class="path1" d="M22.375 12.594q-0.906-2.969-3.156-5.125 3.063-2.469 6.969-2.469 2.969 0 5.5 1.469t4.016 4.016 1.484 5.516-1.484 5.516-4.016 4.016-5.5 1.469q-3.906 0-6.969-2.469 2.25-2.156 3.156-5.125h-0.906q-0.875 2.594-2.875 4.563-2.031-1.938-2.906-4.563h-0.906q0.875 2.938 3.125 5.125-3.125 2.469-6.906 2.469-2.969 0-5.516-1.469t-4.016-4.016-1.469-5.516 1.469-5.516 4.016-4.016 5.516-1.469q3.781 0 6.906 2.469-2.25 2.188-3.125 5.125h0.906q0.875-2.625 2.906-4.563 2 1.969 2.875 4.563h0.906zM10.063 18.531l1.094-5.563h-2.188l-1.5 3.438-0.094-3.438h-2.125l-1.063 5.563h1.25l0.813-4.25 0.219 4.25h1.25l1.844-4.281-0.844 4.281h1.344zM25.375 17.469q-0.094 0.031-0.344 0.031-0.469 0-0.469-0.313 0-0.094 0.031-0.219l0.344-1.875h0.688l0.188-1.063h-0.688l0.188-1.063h-1.344l-0.656 3.438-0.031 0.375-0.063 0.438q-0.063 0.25-0.063 0.406 0 1 1.094 1 0.313 0 0.938-0.156zM14.875 16.125q0.125-0.656 0.125-0.906 0-0.313-0.109-0.563t-0.344-0.422-0.563-0.266-0.734-0.094-1.656 0.281l-0.188 1 0.125-0.031 0.219-0.063q0.563-0.125 1.094-0.125 0.875 0 0.875 0.438 0 0.031-0.016 0.125t-0.016 0.188q-0.219-0.063-0.563-0.063-1.156 0-1.781 0.469t-0.625 1.281q0 0.563 0.344 0.891t0.906 0.328q0.938 0 1.406-0.563v0.5h1.125v-0.125l0.031-0.188 0.031-0.219 0.063-0.281zM19.156 17.313q-0.656 0.25-1.438 0.25-1.156 0-1.156-0.781v-0.156h2.688q0.188-0.656 0.188-1.094 0-0.75-0.484-1.203t-1.359-0.453q-1.031 0-1.703 0.766t-0.672 1.922q0 2.031 2.313 2.031 0.781 0 1.406-0.156zM33.344 16.469q0.031-0.25 0.031-0.531 0-0.906-0.563-1.484t-1.594-0.578q-1.188 0-1.906 0.75t-0.719 1.938q0 2.063 2.125 2.063 2.313 0 2.625-2.156zM23.094 14q-1.031-0.094-1.219-0.094-0.719 0-1.188 0.219t-0.672 0.547-0.203 0.766q0 0.844 1.063 1.219 0.031 0.031 0.094 0.063 0.281 0.125 0.375 0.172t0.141 0.125 0.047 0.172q0 0.406-0.813 0.406-0.438 0-1.219-0.156l-0.188 1.031h0.063l0.25 0.063q0.031 0 0.156 0.016t0.219 0.016q0.188 0 0.438 0.016t0.313 0.016q2.125 0 2.125-1.5 0-0.875-1-1.281-0.438-0.188-0.531-0.25t-0.094-0.188q0-0.406 0.688-0.406 0.219 0 0.969 0.063zM27 18.531q0.344-2.063 0.594-2.672t0.75-0.609h0.156l0.156 0.094 0.5-1.281q-0.125-0.063-0.188-0.063h-0.25q-0.594 0-1.156 0.688l0.125-0.656h-1.25l-0.813 4.5h1.375zM16.688 15.719q0.219-0.813 0.906-0.813 0.625 0 0.625 0.594 0 0.063-0.016 0.125t-0.016 0.094h-1.5zM31.219 14.969q0.719 0 0.719 0.938 0 0.094-0.016 0.266t-0.016 0.234q-0.063 0.344-0.25 0.609t-0.406 0.391-0.375 0.125q-0.781 0-0.781-1.031 0-0.563 0.313-1.047t0.813-0.484zM12.063 17.188q0-0.719 1.156-0.719 0.031 0 0.109 0.016t0.172 0.016q0 0.344-0.125 0.594t-0.344 0.391-0.5 0.141q-0.469 0-0.469-0.438z"></path>
</symbol>
<symbol id="icon-trash" viewBox="0 0 32 32">
<title>trash</title>
<path class="path1" d="M21 6h4v1h-17v-1h4v-1c0-1.112 0.894-2 1.997-2h5.005c1.102 0 1.997 0.895 1.997 2v1zM8 8h17v18.999c0 1.658-1.343 3.001-3 3.001h-11c-1.666 0-3-1.344-3-3.001v-18.999zM9 9v18.009c0 1.099 0.893 1.991 1.992 1.991h11.016c1.1 0 1.992-0.898 1.992-1.991v-18.009h-15zM12 11v16h1v-16h-1zM16 11v16h1v-16h-1zM20 11v16h1v-16h-1zM14.003 4c-0.554 0-1.003 0.444-1.003 1v1h7v-1c0-0.552-0.438-1-1.003-1h-4.994z"></path>
</symbol>
</defs>
</svg>
