<!-- /templates/customers/login.liquid -->

<section class="section bg--section m0 py4 f--main">
  <div class="wrapper section--wrapper text-align--center">

    <div class="grid">

      <div class="grid__item lg--one-third push--lg--one-third text-center">

        {% comment %}
          If a user has successfully requested a new password, the form.posted_successfully? variable
          is set to true within the 'recover_customer_password' form only. Within that form you'll see
          the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
        {% endcomment %}
        <div class="note form-success" id="ResetSuccess" style="display:none;">
          {{ 'customer.recover_password.success' | t }}
        </div>

        <div id="CustomerLoginForm" class="form-vertical">
          <h2 class="t--section-title t--section-title text-align--center f--main lg--font-size--header m0 pb3 mb4">
            {{ 'customer.login.title' | t }}
          </h2>
          {% form 'customer_login' %}


            {{ form.errors | default_errors }}

            <label for="CustomerEmail" class="text-align--left font-size--m block pl-holder main-fontstack">{{ 'customer.login.email' | t }}</label>
            <input type="email" name="customer[email]" id="CustomerEmail" class="mb7 full--w input-underline input-underline--primary {% if form.errors contains 'email' %} error{% endif %} full--w input-underline input-underline--primary" autocorrect="off" autocapitalize="off" autofocus autocomplete="off">

            {% if form.password_needed %}
              <label for="CustomerPassword" class="text-align--left font-size--m main-fontstack block pl-holder">{{ 'customer.login.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="CustomerPassword" class="mb7 full--w input-underline input-underline--primary {% if form.errors contains 'password' %} error{% endif %} full--w input-underline input-underline--primary" autocomplete="off">
            {% endif %}

            <p class="mb3">
              <input type="submit" class="mt3 btn btn--full button no-line-height" value="{{ 'customer.login.sign_in' | t }}" autocomplete="off">
            </p>
            <p><a class="caps font-weight--medium sub-color font-size--s ls2" href="/">{{ 'customer.login.cancel' | t }}</a></p>
            {% if form.password_needed %}
              <p><a class="caps font-weight--medium sub-color font-size--s ls2" href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %}
            <p class="caps font-weight--medium sub-color-link font-size--s ls2">{{ 'layout.customer.create_account' | t | customer_register_link }}</p>


          {% endform %}
        </div>

        {% comment %}
          JS shows/hides this form in timber.loginForms()
        {% endcomment %}
        <div id="RecoverPasswordForm" style="display: none;">

          <h2 class="t--section-title t--section-title text-align--center f--main lg--font-size--header m0 mb4">{{ 'customer.recover_password.title' | t }}</h2>
          <p class="font-weight--medium font-size--m main-fontstack ls2">{{ 'customer.recover_password.subtext' | t }}</p>

          <div class="form-vertical mt4">
            {% form 'recover_customer_password' %}

              {{ form.errors | default_errors }}

              {% comment %}
                Assign variable to be used after timber.init() is run in theme.liquid
              {% endcomment %}
              {% if form.posted_successfully? %}
                {% assign resetPassword = true %}
              {% endif %}

              <label for="RecoverEmail" class="text-align--left font-size--m main-fontstack block pl-holder">{{ 'customer.recover_password.email' | t }}</label>
              <input type="email" value="" name="email" id="RecoverEmail" class="mb7 full--w input-underline input-underline--primary" autocorrect="off" autocapitalize="off" autocomplete="off">

              <p class="mb3">
                <input type="submit" class="mt3 btn btn--full button no-line-height" value="{{ 'customer.recover_password.submit' | t }}" autocomplete="off">
              </p>
              <button type="button" id="HideRecoverPasswordLink" class="caps font-weight--medium sub-color font-size--s ls2 f--main ">{{ 'customer.recover_password.cancel' | t }}</button>
            {% endform %}
          </div>

        </div>

        {% comment %}
          If accounts are set as optional, the following will be shown as an option
          during checkout, not on the default /login page.
        {% endcomment %}
        {% if shop.checkout.guest_login %}
          <hr>

          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}" autocomplete="off">
          {% endform %}
        {% endif %}

      </div>

    </div>

  </div>
</section>
