<!-- /templates/customers/register.liquid -->

<section class="section bg--section m0 py4 f--main">
  <div class="wrapper section--wrapper text-align--center">
    <h2 class="t--section-title t--section-title text-align--center f--main lg--font-size--header m0 pb3">
      {{ 'customer.register.title' | t }}
    </h2>

    <div class="form-vertical customer-form mx--auto mt4">
      {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <label for="FirstName" class="text-align--left font-size--m main-fontstack block pl-holder">{{ 'customer.register.first_name' | t }}</label>
        <input type="text" name="customer[first_name]" id="FirstName" class="mb7 full--w input-underline input-underline--primary" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autocomplete="off">

        <label for="LastName" class="text-align--left font-size--m main-fontstack block pl-holder">{{ 'customer.register.last_name' | t }}</label>
        <input type="text" name="customer[last_name]" id="LastName" class="mb7 full--w input-underline input-underline--primary" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" autocomplete="off">

        <label for="Email" class="text-align--left font-size--m main-fontstack block pl-holder">{{ 'customer.register.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" class="full--w input-underline input-underline--primary {% if form.errors contains 'email' %} error{% endif %} mb7" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" autocomplete="off">

        <label for="CreatePassword" class="text-align--left font-size--m main-fontstack block pl-holder">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="full--w input-underline input-underline--primary {% if form.errors contains 'password' %} error{% endif %} mb7" autocomplete="off">

        <p class="mb3">
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="mt3 btn btn--full button no-line-height">
        </p>
        <a class="caps font-weight--medium sub-color font-size--s ls2" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>

      {% endform %}
    </div>

  </div>
</section>
