<!-- /templates/article.liquid -->
{% comment %}

  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

  More information:
    - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<section class="section bg--section article py4" itemscope itemtype="http://schema.org/Article">
  <div class="wrapper section--wrapper">
    {% assign article_blog = article.url  | split: '/' %}
    {% assign blog_slug = article_blog[2] %}
    {% assign blog_title = blogs[blog_slug].title %}
    <a class="back floating" href="{{ blogs[blog_slug].url }}">{% include 'svg-icon', icon: 'chevron-left' %}Back to: <span>{{ blog_title }}</span></a>

    <div class="article__header text-align--center mx--auto">
      <h4 class="f--main t--section-title  font-size--m lg--font-size--l desktop-paging">
        Article
      </h4>
      <h1 class="article-heading f--title font-size--xxl lg--font-size--xxxxl f--title m0 mt2 px2 font-weight--regular">{{ article.title }}</h1>
      {% if article.excerpt.size > 0 %}
      <hr class="rule bg--main-accent my3 mx--auto" />
        <div class="f--body font-size--ml">
          {{ article.excerpt }}
        </div>
      {% endif %}

    </div>

    {% if article.image %}
    <div class="full mt3">
        <img
            data-sizes="auto"
            alt="{{ article.image.alt }}"
            src="{{ article | img_url: '10x'  }}"
            data-src="{{ article | img_url: '600x'  }}"
            data-srcset="{{ article | img_url: '600x'  }} 600w,
                         {{ article | img_url: '900x'  }} 900w,
                         {{ article | img_url: '1200x'  }} 1200w,
                         {{ article | img_url: '1600x'  }} 1600w"
            class="lazyload full blur-up" />
    </div>
    {% endif %}

    <div class="grid article__content mt4 article-copy">
      <div class="tags-share desktop grid__item right f--main font-size--s  lg--two-twelfths t--meta ">
        <div>
          {% if section.settings.show_share_links %}
            {% include 'share' %}
          {% endif %}
          {% if section.settings.show_tags %}
            {% if article.tags %}
            <ul class="m0 p0 tags list--reset f--main  t--meta font-size--s md-dn--hide">
              {% for tag in article.tags %}
                <li class="inline-block mr1 dt--block dt--mb1">
                  <a href="/blogs/{{ blog_slug }}/tagged/{{ tag | url_encode | replace: '+', '%20' }}">#{{ tag }}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endif %}

        </div>

      </div>
      <div class="grid__item f--main font-size--s  lg--two-twelfths t--meta font-weight--medium ">

        {% capture author %}{{ article.author }}{% endcapture %}
        <p class="sub-color">Words {{ 'blogs.article.author_by_html' | t: author: author }}<br />{% include 'date', date_object: article.published_at  %}</p>
      </div>
      <div class="grid__item  lg--eight-twelfths">
        <div class="rte article-body" itemprop="articleBody">
          {{ article.content }}
        </div>
      </div>
      

    </div>


    <div class="tags-share mobile md-dn--show mt3 lg--hide">
      {% if section.settings.show_share_links %}
        {% include 'share' %}
      {% endif %}
      {% if section.settings.show_tags %}
        {% if article.tags %}
        <ul class="m0 p0 list--reset f--main t--meta font-size--s tags">
          {% for tag in article.tags %}
            <li class="mr1 dt--block dt--mb1">
              <a href="/blogs/{{ blog_slug }}/tagged/{{ tag | url_encode | replace: '+', '%20' }}">#{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endif %}
    </div>

    {% if blog.comments_enabled? %}
      <div class="article-comments lg--ten-twelfths push--lg--two-twelfths">
        {% include 'article-comments' %}
      </div>
    {% endif %}

  </div>
</section>

{% if section.settings.show_related_articles %}
{% include 'articles__related-articles' %}
{% endif %}

{% schema %}
  {
    "name": "Article pages",
    "class": "section-article",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_links",
        "label": "Show share links"
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags"
      },
      {
         "type":    "header",
         "content": "Related products"
      },
      {
         "type":      "text",
         "id":        "related_products_heading",
         "label":     "Title",
         "info":      "Title for related products sectin",
         "default":   "Related Products"
      },
      {
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Enable related products",
        "info":   "Show products that share the same tag as the article."
      },
      {
        "type": "checkbox",
        "id": "show_description_related",
        "label": "Show excerpt on related products",
        "info":   "Shown if there is only 1 related product"
      },
      {
        "type": "checkbox",
        "id": "show_quantity",
        "label": "Show quantity on related products",
        "info":   "Shown if there is only 1 related product"
      },
      {
         "type":    "header",
         "content": "Related articles"
      },
      {
        "type": "checkbox",
        "id": "show_related_articles",
        "label": "Enable related articles",
        "info":   "Show related articles from the same blog."
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .tags-share {
    position: relative;
  }
  .tags-share .share--mobile ul {
    text-align: center;
  }
  .tags-share .share {
    left: 32px;
    top: 0;
    right: auto;
  }
  .tags-share .tags {
    margin-top: 77px;
  }
  .tags-share .tags a {
    color: #00B0B7;
    font-weight: 500;
    line-height: 24px;
    text-decoration: underline;
    letter-spacing: 1px;
  }
  .article-body {
    font-size: 20px;
    line-height: 30px;
  }
  .article-heading {
    font-size: 48px;
    line-height: 54px;
    margin: 51px 0 33px;
  }
  .tags-share.mobile .share {
    display: none;
  }
  @media screen and (max-width: 1259px) {
    .article-heading {
      font-size: 36px;
      line-height: 42px;
    }
  }
  @media screen and (max-width: 768px) {
    .tags-share .share {
      left: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .article-heading {
      padding: 0;
      margin: 32px 0 42px;
    }
    .tags-share.mobile .share {
      display: block;
    }
    .tags-share.desktop .share {
      display: none;
    }
    .article-copy {
      margin-top: 38px;
    }
    .article-copy .article-body {
      margin-top: 14px;
    }
    .tags-share .tags {
      margin-top: 0;
    }
    .tags-share .share {
      left: auto;
      right: 0;
    }
  }
{% endstylesheet %}