<!-- /templates/blog.liquid -->
{% comment %}

  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.

{% endcomment %}

{% paginate blog.articles by section.settings.no_posts %}


<section class="section bg--section py3">
  <div class="wrapper section--wrapper">

    <header class="text-align--center pt3">
      {% if current_tags %}
        <h1 class="section-heading f--main t--section-title  font-size--xl">{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
      {% else %}
        <h1 class="section-heading f--main t--section-title font-size--xl">
          {{ blog.title }}
          {% if section.settings.show_rss_icon %}
          <a class="inline-block font-size--xxs ml1 pb1" href="{{ shop.url }}{{ blogs[blog.handle].url }}.atom" target="_blank">{% include 'svg-icon', icon: 'subscribe' %}</a>
          {% endif %}
        </h1>
      {% endif %}
    </header>

    {% if section.settings.enable_tag_filter %}
    <div class="tags text-align--center pt3 pb4  md-dn--hide">
      <ul class="list-reset m0 mx--auto f--main t--meta font-size--s">
        <li class="inline-block mx1">
          <a class="tag__item {% if current_tags == blank %}tag__item--active color--primary {% else %} color--main-accent{% endif %}" href="{{ blog.url  }}">All</a>
        </li>
        {% for tag in blog.all_tags %}
          {% if current_tags contains tag %}
            <li class="inline-block mx1">
              <a class="tag__item tag__item--active color--primary" href="{{ tag | handle }}">{{ tag }}</a>
            </li>
          {% else %}
            <li class="inline-block mx1">
              <a class="tag__item color--main-accent" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}



    {% for article in blog.articles %}

      {% capture thecycle %}{% cycle '1', '2', '3', '4', '5', '6' %}{% endcapture %}

      {% if thecycle == '1' %}
      <div class="article-grid grid mt3">
        <hr />
        <div class="grid__item dt--six-twelfths">
          <article class="article article--large mb3">

            <a href="{{ article.url }}">
              <div class="full">
                {% if article.image %}


                  <!-- responsive example: -->
                  <img
                      data-sizes="auto"
                      alt="{{ article.image.alt }}"
                      src="{{ article | img_url: '10x'  }}"
                      data-src="{{ article | img_url: '600x'  }}"
                      data-srcset="{{ article | img_url: '600x'  }} 600w,
                                   {{ article | img_url: '900x'  }} 900w,
                                   {{ article | img_url: '1200x'  }} 1200w"
                      class="lazyload article__image full blur-up" />

                {% endif %}
              </div>
              <h4 class="latest-header">Latest article</h4>
              <h3 class="main-article-title f--title article__title font-size--xl lg--font-size--xxxl mt2">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>

              <p class="f--body article__excerpt lg--font-size--ml">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt_or_content }}
                {% else %}
                  {{ article.excerpt_or_content | strip_html | truncatewords: 50 }}
                {% endif %}
              </p>

              <h5 class="f--main main-article-author t--meta font-size--xs lg--font-size--s lg--font-size--s mt3">Words by {{ article.author }} - {% include 'date', date_object: article.published_at  %}</h5>
              <a class="main-article-link mt3" href="{{ article.url }}">Read article {% include 'svg-icon', icon: 'chevron-right' %}</a>
            </a>
          </article>
        </div>
        <div class="grid__item dt--six-twelfths mt3 lg--mt2 dt--mt0">
      {% else %}
        <article class="article article--small mb3">
          <a href="{{ article.url }}">
            <div class="media ">

              <picture>
                <!--[if IE 9]><video style="display: none"><![endif]-->
                <source
                  data-srcset="{{ article | img_url: '180x180', crop: 'center'  }}"
                  media="(max-width: 768px)" />
                <source
                    data-srcset="{{ article | img_url: '440x280', crop: 'center'  }}" />
                <!--[if IE 9]></video><![endif]-->
                <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="{{ article | img_url: '10x10', crop: 'center'  }}"
                    class="lazyload media__img article__image article__image--small"
                    alt="image with artdirection blur-up" />
              </picture>

              <div class="bd">
                <h3 class="f--title font-size--ml lg--font-size--lxl">{{ article.title }}</h3>

                <h5 class="f--main t--meta mt2 font-size--xs lg--font-size--s color--main-accent">{% include 'date', date_object: article.published_at  %}</h5>
              </div>
            </div>
          </a>
        </article>
      {% endif %}
      {% if thecycle == '6' %}
        </div>
      </div>
      {% elsif forloop.last == true %}
        </div>
      </div>
      {% endif %}
    {% endfor %}

    {% if paginate.pages > 1 %}
    <div class="text-align--center">
      <ul class="pagination list-rest no-bullets mt4 max-width--4 mx--auto text-align--center f--main font-size--s inline-block relative">
        {% if paginate.previous.is_link %}
            <li class="pagination__link pagination__link--previous">
              <a class="pagination__item color--main-accent" href="{{ paginate.previous.url }}">{{ paginate.previous.title | replace: '&laquo;', ''}}</a>
            </li>
        {% endif %}
        {% assign count = paginate.pages %}
        {% for part in (1..count) %}
            <li class="inline-block mx1 md-dn--hide">
              <a class="pagination__item color--main-accent {% if paginate.current_page == part %}active{% endif %}" href="{{ collection.url }}?page={{ forloop.index }}">{{ forloop.index }}</a>
            </li>
        {% endfor %}
        {% if paginate.next.is_link %}
            <li class="pagination__link pagination__link--next">
              <a class="pagination__item color--main-accent" href="{{ paginate.next.url }}">{{ paginate.next.title | replace: '&raquo;', '' }}</a>
            </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}

  </div>
</section>

{% endpaginate %}

<!-- Latest releases on genres -->
{% assign products = collections.all.products | sort: "created_at" | reverse %}
{% for block in section.blocks %}
  {% if block.type == "genre" %}
    {% assign handles = "" %}
    {% assign genre = block.settings.genre | downcase %}
    {% for prod in products %}
        {% assign prod_genre = prod.metafields.custom_fields.genre | downcase %}
        {% if prod_genre == genre %}
            {% assign handles = handles | append: prod.handle | append: ";" %}
        {% endif %}
    {% endfor %}

    {% assign handles = handles | remove_last: ';' | split: ';' %}
    <section class="section m0 py4 bg--section latest-releases-blog">
      <div class="wrapper section--wrapper collection-wrapper">
          <hr />
          <h4>{{block.settings.heading_text}}</h4>
          {% for handle in handles limit:4 %}
            {% assign product = all_products[handle] %}
            <div class="album-item{% if forloop.last == true %} last{% endif %}{% if forloop.index == 2 %} mobile-last{% endif %}">
                <a href="{{product.url}}"><div class="cover" style="background-image: url({{ product.featured_image.src | img_url: 'large' }})"><div class="overlay"></div></div></a>
                <a href="{{product.url}}"><p class="title">{{product.title}}</p></a>
                <a href="{{product.url}}">
                  <p class="artist">
                    {% assign collections_size = product.collections | size %}
                    {% if collections_size > 4 %}
                      Various
                    {% else %}
                      {% for collection in product.collections %}
                        {{ collection.title }}
                        {% if forloop.last == false %}/{% endif %}
                      {% endfor %}
                    {% endif %}
                  </p>
                </a>
              </div>
          {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}

{% include 'newsletter' %}

{% schema %}
  {
    "name": "Blog pages",
    "class": "section-blog",
    "blocks" :  [
      {
        "type": "genre",
        "name": "Genre",
        "settings": [
          {
            "type": "text",
            "id": "heading_text",
            "label": "Heading text"
          },
          {
            "type": "text",
            "id": "genre",
            "label": "Choose genre:"
          }
        ]
      }
    ],
    "settings": [
      {
       "type": "select",
       "id": "no_posts",
       "options": [
          { "value": "5", "label": "5 Posts"},
          { "value": "10", "label": "10 Posts"},
          { "value": "15", "label": "15 Posts"},
          { "value": "20", "label": "20 Posts"}
       ],
       "label": "No of posts per page"
     },
     {
       "type": "checkbox",
       "id": "enable_tag_filter",
       "label": "Enable filtering by tag"
     },
     {
       "type": "checkbox",
       "id": "show_rss_icon",
       "label": "Show RSS subscribe icon"
     },
     {
        "type": "text",
        "id": "title",
        "label": "Newsletter title",
        "default": "Sign up to our newsletter"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Receive special offers and first look at new products."
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .article-grid hr {
    background-color: #8B9B92;
    height: 1px;
    margin: 0 0 43px 32px;
  }
  .section-heading {
   font-size: 48px;
   line-height: 54px; 
   font-weight: normal;
  }
  .latest-header {
    margin-top: 43px !important;
  }
  .main-article-title a {
    font-size: 36px !important;
    line-height: 42px !important;
  }
  .main-article-author {
    max-width: 48%;
    float: left;
    color: #5C6F7C;
    font-family: "Avenir Next";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .main-article-link {
    float: right;
    line-height: 24px;
    color: #5C6F7C;
    font-family: "Avenir Next";
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    border-bottom-width: 0px;
  }
  .main-article-link svg {
    margin-bottom: -5px;
  }
  .article--small h3 {
    margin-top: 0 !important;
  }
  .article--small h5 {
    color: #5C6F7C;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 23px;
  }
  @media screen and (max-width: 1259px) {
    .section-heading,
    .main-article-title a {
      font-size: 36px;
      line-height: 42px;
    }
    .article--small img {
      max-width: 266px;
      width: 45%;
    }
    .latest-releases-blog {
      padding-top: 0;
    }
  }
   @media screen and (max-width: 767px) {
    .main-article-title a {
      font-size: 28px !important;
      line-height: 36px !important;
    }
    .article--small img {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
      margin-bottom: 22px;
    }
    .media .bd {
      overflow: visible;
    }
    .main-article-author,
    .main-article-link {
      float: none;
    }
    .main-article-author {
      max-width: none;
      margin-bottom: 35px;
    }
    .main-article-link {
      margin-bottom: 45px;
    }
   }
{% endstylesheet %}

{% javascript %}
  function initSizes() {
    $(".collection-wrapper .album-item .cover").each(function(index, element) {
        $(element).height($(element).width());
    });
  };
  $(document).ready(function() {
    $(window).on("resize", initSizes);
    initSizes();
  });  
{% endjavascript %}