{% assign blocks_length = section.blocks | size %}

<section class="carousel">
    <section class="tape" style="width: {{section.blocks | size | times: 100}}%">
        {% for block in section.blocks %}
            <article class="slide" style="background-image: url({{block.settings.prod_image | img_url: '1024x'}});">
                <h1>{{block.settings.title | escape}}</h1>
                <p class="subtitle">{{block.settings.blurb | escape}}</p>
                <!-- FIXME: will need work to hide if no cta_url -->
                <a href="{{block.settings.cta_url}}">
                    <div class="button">
                        {{block.settings.cta | escape}}
                    </div>
                </a>
                <div class="overlay"></div>
            </article>
        {% endfor %}
    </section>
    {% if blocks_length > 1 %}
        <section class="carousel-controls">
            {% for block in section.blocks %}
                <div class="control{% if forloop.first == true %} active{% endif %}"></div>
            {% endfor %}
        </section>
    {% endif %}
</section>

{% schema %}
    {
        "name": "carousel",
        "blocks": [
            {
                "type": "slide",
                "name": "Slide",
                "limit": 3,
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Call out item"
                    },
                    {
                        "type": "text",
                        "id": "blurb",
                        "label": "Blurb",
                        "default": "Perfect comfort made for moments of calm"
                    },
                    {
                        "type": "text",
                        "id": "cta",
                        "label": "Call to action label Label",
                        "default": "Listen now"
                    },
                    {
                        "type": "url",
                        "id": "cta_url",
                        "label": "Optional: Call to action URL"
                    },
                    {
                        "type": "image_picker",
                        "id": "prod_image",
                        "label": "Background image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Carousel",
                "category": "Image carousel"
            }
        ]
    }
{% endschema %}

{% javascript %}
    $(document).ready(function() {
        var counter = 0;
        var carouselSize = $(".carousel .carousel-controls .control").length;
        function interval() {
            counter++;
            if (counter >= carouselSize) {
                counter = 0;
            }
            $(".carousel .carousel-controls .control").removeClass("active");
            $(".carousel .carousel-controls .control").eq(counter).addClass("active");
            $(".carousel .tape").animate({
                marginLeft: -100*counter + "%"
            }, 750);
        };
        carouselInterval = setInterval(interval, 7000);
        // Animate the carousel on clicking the controls
        (function() {
            $(".carousel .carousel-controls .control").each(function(index, element) {
                $(element).on("click", function() {
                    clearInterval(carouselInterval);
                    $(".carousel .carousel-controls .control").removeClass("active");
                    $(element).addClass("active");
                    var dist = (0 - (index * 100)) + "%";
                    // FIXME: TweenLite not working
                    // TweenLite.to($(".carousel .tape"), diff, {x: dist, ease: Power2.easeInOut});
                    $(".carousel .tape").animate({
                        marginLeft: dist
                    }, 750, function() {
                        carouselInterval = setInterval(interval, 7000);
                    });
                    counter = index;
                });
            });
        })();
        $(".carousel").touchwipe({
            wipeLeft: function() {
                var current = parseInt($(".carousel .tape").css("margin-left"))/$(window).width();
                if (current*-1 < carouselSize-1) {
                    clearInterval(carouselInterval);
                    $(".carousel .tape").animate({
                        marginLeft: (current-1)*100 + "%"
                    }, 500, function() {
                        carouselInterval = setInterval(interval, 7000);
                    });
                    $(".carousel .carousel-controls .control").removeClass("active");
                    $(".carousel .carousel-controls .control").eq((current-1)).addClass("active");
                }
            },
            wipeRight: function() {
                var current = parseInt($(".carousel .tape").css("margin-left"))/$(window).width();
                if (current < 0) {
                    clearInterval(carouselInterval);
                    $(".carousel .tape").animate({
                        marginLeft: (current+1)*100 + "%"
                    }, 500, function() {
                        carouselInterval = setInterval(interval, 7000);
                    });
                    $(".carousel .carousel-controls .control").removeClass("active");
                    $(".carousel .carousel-controls .control").eq((current+1)).addClass("active");
                }
            },
            wipeUp: function() {  },
            wipeDown: function() {  },
            min_move_x: 20,
            min_move_y: 20,
            preventDefaultEvents: false
        });
    });
{% endjavascript %}