<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}
{% assign months = "january|february|march|april|may|june|july|august|september|october|november|december" | split: '|' %}
{% assign current_month = "now" | date: "%-m" | plus: 0 %}
{% assign current_year = "now" | date: "%-Y" | plus: 0 %}
{% assign last_month_text = current_month | minus: 1 %}
{% assign two_months_ago_text = current_month | minus: 2 %}
{% assign three_months_ago_text = current_month | minus: 3 %}
{% assign four_months_ago_text = current_month | minus: 4 %}
{% assign five_months_ago_text = current_month | minus: 5 %}
{% assign last_month_year = current_year %}
{% assign two_months_year = current_year %}
{% assign three_months_year = current_year %}
{% assign four_months_year = current_year %}
{% assign five_months_year = current_year %}

{% if current_month == 1 %}
    {% assign last_month_text = 12 %}
    {% assign two_months_ago_text = 11 %}
    {% assign three_months_ago_text = 10 %}
    {% assign four_months_ago_text = 9 %}
    {% assign five_months_ago_text = 8 %}
    {% assign last_month_year = current_year | minus: 1 %}
    {% assign two_months_year = current_year | minus: 1 %}
    {% assign three_months_year = current_year | minus: 1 %}
    {% assign four_months_year = current_year | minus: 1 %}
    {% assign five_months_year = current_year | minus: 1 %}
{% endif %}
{% if current_month == 2 %}
    {% assign two_months_ago_text = 12 %}
    {% assign three_months_ago_text = 11 %}
    {% assign four_months_ago_text = 10 %}
    {% assign five_months_ago_text = 9 %}
    {% assign two_months_year = current_year | minus: 1 %}
    {% assign three_months_year = current_year | minus: 1 %}
    {% assign four_months_year = current_year | minus: 1 %}
    {% assign five_months_year = current_year | minus: 1 %}
{% endif %}
{% if current_month == 3 %}
    {% assign three_months_ago_text = 12 %}
    {% assign four_months_ago_text = 11 %}
    {% assign five_months_ago_text = 10 %}
    {% assign three_months_year = current_year | minus: 1 %}
    {% assign four_months_year = current_year | minus: 1 %}
    {% assign five_months_year = current_year | minus: 1 %}
{% endif %}
{% if current_month == 4 %}
    {% assign four_months_ago_text = 12 %}
    {% assign five_months_ago_text = 11 %}
    {% assign four_months_year = current_year | minus: 1 %}
    {% assign five_months_year = current_year | minus: 1 %}
{% endif %}
{% if current_month == 5 %}
    {% assign five_months_ago_text = 12 %}
    {% assign five_months_year = current_year | minus: 1 %}
{% endif %}

{% assign current_month_text = current_month | minus: 1 %}
{% assign current_month_text = months[current_month_text] %}
{% assign last_month_text = last_month_text | minus: 1 %}
{% assign last_month_text = months[last_month_text] %}
{% assign two_months_ago_text = two_months_ago_text | minus: 1 %}
{% assign two_months_ago_text = months[two_months_ago_text] %}
{% assign three_months_ago_text = three_months_ago_text | minus: 1 %}
{% assign three_months_ago_text = months[three_months_ago_text] %}
{% assign four_months_ago_text = four_months_ago_text | minus: 1 %}
{% assign four_months_ago_text = months[four_months_ago_text] %}
{% assign five_months_ago_text = five_months_ago_text | minus: 1 %}
{% assign five_months_ago_text = months[five_months_ago_text] %}

{% assign all_filters = false %}
{% assign any_filters = false %}

{% if section.settings.enable_tag_filter or section.settings.enable_sort_filter %}
{% assign any_filters = true %}
{% endif %}


{% if section.settings.enable_tag_filter and section.settings.enable_sort_filter %}
{% assign all_filters = true %}
{% endif %}

{% assign only_tags = false %}
{% if section.settings.enable_tag_filter and section.settings.enable_sort_filter == false %}
{% assign only_tags = true %}
{% endif %}

{% assign description_classes = ' mt2 mb4' %}
{% if any_filters %}
{% assign description_classes = ' mt2 mb3' %}
{% endif %}

{% assign header_class = '' %}
{% if any_filters == false and collection.description == blank %}
{% assign header_class = 'mb3' %}
{% endif %}


<section class="section bg--section{% if collection.handle == 'all' %} py4{% endif %}" {% if collection.handle != "all" %}style="padding-top: 16px;"{% endif %}>
  <div class="wrapper section--wrapper">

  {% comment %}
    Use .grid--rev so that the collection tags appear below the products on mobile
  {% endcomment %}
  {% if collection.handle != "all" %}
    <div class="grid">
      <div class="grid__item dt--six-twelfths">
        <a class="back" href="/collections?type=artists">{% include 'svg-icon', icon: 'chevron-left' %}Back to: <span>Artists</span></a>
      </div>
      <div class="grid__item dt--six-twelfths artist-description cart-table">
          <h1 class="f--main t--section-title font-size--xl {{ header_class }}">{{ collection.title }}</h1>
      </div>
    </div>
    <div class="grid">
      <div class="artist-photo grid__item dt--six-twelfths">
        {% if collection.image %}
          <img class="full left"  src="{{ collection.image | img_url: '1024x1024' }}" alt="{{ collection.title }}">
          <!--<div class="cover" style="background-image: url({{ collection.image | img_url: '1024x1024' }})"></div>-->
        {% else %}
          {% for product in collection.products limit:1 %}
            <!--<div class="cover" style="background-image: url({{ product.featured_image.src | img_url: '1024x1024' }})"></div>-->
            <img class="full left" src="{{ product.featured_image.src | img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}">
          {% endfor %}
        {% endif %}
      </div>
      <div class="grid__item dt--six-twelfths artist-description">

        
        <header class="">
          <h3>About the artist</h3>
          {% if collection.description != blank %}
          <div class="copy f--title   font-size--xl {{ description_classes }}">
            {{ collection.description }}
          </div>
          <a class="readmore" href="."><span>More</span> {% include 'svg-icon', icon: 'chevron-down-header' %}{% include 'svg-icon', icon: 'chevron-up' %}</a>
          {% endif %}
        </header>
        <hr class="mb0" />
      </div>

    </div>
  {% endif %}
  <div class="wrapper section--wrapper single-collection collection-wrapper{% if collection.handle == 'all' %} mt0{% endif %} mb4">
    {% if collection.handle != "all" %}
      <h4>By this artist</h4>
      {% assign products = collection.products | sort: "created_at" | reverse %}
      {% for product in products %}
        {% assign module = forloop.index | modulo: 4 %}
        {% assign mobile_module = forloop.index | modulo: 2 %}
        <div class="album-item mb3{% if mobile_module == 0 %} mobile-last{% endif %}{% if module == 0 %} last{% endif %}">
          <a href="{{product.url}}"><div class="cover" style="background-image: url({{ product.featured_image.src | img_url: 'large' }})"><div class="overlay"></div></div></a>
          <a href="{{product.url}}"><p class="title">{{product.title}}</p></a>
          <a href="{{collection.url}}"><p class="artist">{{ product.price | money }}</p></a>
        </div>
      {% endfor %}
      <hr class="special" />
      <h4>Related artists</h4>
      {% assign related_artists = collection.metafields.custom_fields.related_artist | remove_last: ';' | split: ';' %}
      {% assign related_artists_size = related_artists | size %}
      {% for handle in related_artists %}
        {% assign item = collections[handle] %}
        {% assign module = forloop.index | modulo: 4 %}
        {% assign mobile_module = forloop.index | modulo: 2 %}
        <div class="album-item mb3{% if mobile_module == 0 %} mobile-last{% endif %}{% if module == 0 %} last{% endif %}">
          <a href="{{item.url}}">
            {% if item.image %}
              <!--<img class="full left"  src="{{ collection.image | img_url: '1024x1024' }}" alt="{{ collection.title }}">-->
              <div class="cover" style="background-image: url({{ item.image | img_url: '1024x1024' }})"><div class="overlay"></div></div>
            {% else %}
              <div class="cover" style="background-image: url({{ item.products[0].featured_image.src | img_url: '1024x1024' }})"><div class="overlay"></div></div>
              <!--<img class="full left" src="{{ product.featured_image.src | img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}">-->
            {% endif %}
          </a>
          <a href="{{item.url}}"><p class="title">{{item.title}}</p></a>
          <a href="{{item.url}}"><p class="artist">{{item.products[0].metafields.custom_fields.genre | capitalize}}</p></a>
        </div>
      {% endfor %}
      {% if related_artists_size == 0 %}
        No related artists for {{collection.title}}.
      {% endif %}
    {% endif %}
    {% assign size = collection.products | size %}
    {% paginate collection.products by 16 %}
      {% if collection.handle == "all" %}
        <h2 class="text-align--center mb3 font-size--xxxxl font-weight--regular releases-header">Releases</h2>
        <div class="wrapper text-center mb4">
          <div class="release-filter inline-block f--main font-weight--medium">
            <span class="filter-word left">Filter:&nbsp;</span>
            <div class="dropdown left text-align--left">
              <span class="filterValue label--hidden color--shop-accent">By Month</span> {% include 'svg-icon', icon: 'chevron-down-header' %}
              <div class="label--hidden filter-options f--main font-weight--medium">
                <div class="option color--shop-accent genre"><span>By Genre</span></div>
                <div class="option active color--shop-accent"><span>By Month</span></div>
              </div>
            </div>
          </div>
        </div>
        <!-- By genre is hidden -->
        <div id="genre-filter" class="label--hidden wrapper text-align--center mb4 f--main font-weight--bold filter-links">
          {% assign counter = 0 %}
          {% for tag in collections.all.all_tags %}
            {% assign tag_type = tag | slice: 0, 5 %}
            {% if tag_type == "genre" %}
              {% assign counter = counter | plus: 1 %}
            {% endif %}
          {% endfor %}
          {% assign counter = counter | plus: 1 %}
          {% assign percentage = 100 | divided_by: counter %}
          {% for tag in collections.all.all_tags %}
            {% assign tag_type = tag | slice: 0, 5 %}
            {% if tag_type == "genre" %}
              {% assign tag_size = tag | size %}
              <div class="left one-seventh" style="width: {{percentage}}%"><a href="/collections/all/{{tag}}">{{tag | slice: 5, tag_size}}</a></div>
            {% endif %}
          {% endfor %}
          <div class="left one-seventh" style="width: {{percentage}}%"><a href="/collections/all/">All</a></div>
        </div>
        <!-- Monthly is showing up -->
        <div id="month-filter" class="wrapper text-align--center mb4 f--main font-weight--bold filter-links">
          {% assign month_5 = five_months_ago_text | downcase | append: five_months_year %}
          {% assign month_5_size = five_months_ago_text | size %}
          <div class="left one-seventh"><a href="/collections/all/{{month_5}}">{{five_months_ago_text | capitalize | slice: 0, 3}}<span class="half-word">{{five_months_ago_text | slice: 3, month_5_size}}</span></span></a></div>
          {% assign month_4 = four_months_ago_text | downcase | append: four_months_year %}
          {% assign month_4_size = four_months_ago_text | size %}
          <div class="left one-seventh"><a href="/collections/all/{{month_4}}">{{four_months_ago_text | capitalize | slice: 0, 3}}<span class="half-word">{{four_months_ago_text | slice: 3, month_4_size}}</span></a></div>
          {% assign month_3 = three_months_ago_text | downcase | append: three_months_year %}
          {% assign month_3_size = three_months_ago_text | size %}
          <div class="left one-seventh"><a href="/collections/all/{{month_3}}">{{three_months_ago_text | capitalize | slice: 0, 3}}<span class="half-word">{{three_months_ago_text | slice: 3, month_3_size}}</span></a></div>
          {% assign month_2 = two_months_ago_text | downcase | append: two_months_year %}
          {% assign month_2_size = two_months_ago_text | size %}
          <div class="left one-seventh"><a href="/collections/all/{{month_2}}">{{two_months_ago_text | capitalize | slice: 0, 3}}<span class="half-word">{{two_months_ago_text | slice: 3, month_2_size}}</span></a></div>
          {% assign month_1 = last_month_text | downcase | append: last_month_year %}
          {% assign month_1_size = last_month_text | size %}
          <div class="left one-seventh"><a href="/collections/all/{{month_1}}">{{last_month_text | capitalize | slice: 0, 3}}<span class="half-word">{{last_month_text | slice: 3, month_1_size}}</span></a></div>
          {% assign month_0 = current_month_text | downcase | append: current_year %}
          {% assign month_0_size = current_month_text | size %}
          <div class="left one-seventh"><a href="/collections/all/{{month_0}}">{{current_month_text | capitalize | slice: 0, 3}}<span class="half-word">{{current_month_text | slice: 3, month_0_size}}</span></a></div>
          <div class="left one-seventh"><a href="/collections/all/">All</a></div>
        </div>
        {% for product in collection.products %}
          {% assign module = forloop.index | modulo: 4 %}
          {% assign mobile_module = forloop.index | modulo: 2 %}
          <div class="album-item big mb3{% if mobile_module == 0 %} mobile-last{% endif %}{% if module == 0 %} last{% endif %}">
            <a href="{{product.url}}"><div class="cover" style="background-image: url({{ product.featured_image.src | img_url: 'large' }})"><div class="overlay"></div></div></a>
            <a href="{{product.url}}"><p class="title">{{product.title}}</p></a>
            <a href="{{product.url}}">
              <p class="artist">
                {% assign collections_size = product.collections | size %}
                {% if collections_size > 4 %}
                  Various
                {% else %}
                  {% for collection in product.collections %}
                    {{ collection.title }}
                    {% if forloop.last == false %}/{% endif %}
                  {% endfor %}
                {% endif %}
              </p>
            </a>
          </div>
        {% endfor %}
        {% if size == 0 %}
          <p class="text-center font-size--xl">No releases available</p>
        {% endif %}
      {% endif %}
    </div>
      <table class="pagination desktop-paging mb1">
        <tr>
          <td class="first">
            {% if paginate.previous.is_link %}
              <a href="{{ paginate.previous.url }}">{% include 'svg-icon', icon: 'chevron-left' %}</a>
            {% endif %}
          </td>
          {% for part in paginate.parts %}
            {% if part.title != paginate.current_page %}
              {% assign current = paginate.current_page | plus: 0 %}
              {% assign current_part = part.title | plus: 0 %}
              {% assign diff = current_part | minus: current %}
              {% if diff < 6 and diff > -6 %}
                <td><a href="{{ part.url }}">{{part.title}}</a></td>
              {% endif %}
            {% else %}
              <td class="active">{{paginate.current_page}}<hr /></td>
            {% endif %}
          {% endfor %}
          <td class="last">
            {% if paginate.next.is_link %}
              <a href="{{ paginate.next.url }}">{% include 'svg-icon', icon: 'chevron-right' %}</a>
            {% endif %}
          </td>
        </tr>
      </table>
      <table class="pagination mobile-paging">
        <tr>
          <td class="first">
            {% if paginate.previous.is_link %}
              <a href="{{ paginate.previous.url }}">{% include 'svg-icon', icon: 'chevron-left' %}</a>
            {% endif %}
          </td>
          {% for part in paginate.parts %}
            {% if part.title != paginate.current_page %}
              {% assign current = paginate.current_page | plus: 0 %}
              {% assign current_part = part.title | plus: 0 %}
              {% assign diff = current_part | minus: current %}
              {% if diff < 2 and diff > -2 %}
                <td><a href="{{ part.url }}">{{part.title}}</a></td>
              {% endif %}
            {% else %}
              <td class="active">{{paginate.current_page}}<hr /></td>
            {% endif %}
          {% endfor %}
          <td class="last">
            {% if paginate.next.is_link %}
              <a href="{{ paginate.next.url }}">{% include 'svg-icon', icon: 'chevron-right' %}</a>
            {% endif %}
          </td>
        </tr>
      </table>
    {% endpaginate %}
  </div> <!-- end section wrapper -->
</section>



{% schema %}
  {
    "name": "Collection pages",
    "class": "collection-template",
    "settings": [
      {
       "type": "select",
       "id": "no_posts",
       "options": [
          { "value": "4", "label": "4 Products"},
          { "value": "8", "label": "8 Products"},
          { "value": "12", "label": "12 Products"},
          { "value": "24", "label": "24 Products"}
       ],
       "default":   "8",
       "label": "No of products per page"
      },
      {
        "type": "checkbox",
        "id": "enable_tag_filter",
        "label": "Enable filtering by product tag"
      },
      {
        "type": "checkbox",
        "id": "enable_sort_filter",
        "label": "Enable collection sorting"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .artist-description {
    padding-left: 118px;
  }
  .artist-description h1 {
    color: #4A4A4A;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 74px;
    max-width: 85%;
  }
  .artist-description h3 {
    color: #5C6F7C;
    font-family: "Avenir Next";
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 27px;
  }
  .artist-description .copy {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-family: "Crimson Text";
    height: 427px;
    min-height: 427px !important;
    overflow: hidden;
  }
  .artist-description .readmore {
    margin-bottom: 32px;
  }
  .artist-photo img {
    max-height: 582px;
    min-height: 582px;
  }
  @media screen and (max-width: 1259px) {
    .releases-header {
      font-size: 36px;
      line-height: 42px;
    }
    .artist-description h1 {
      margin-bottom: 44px;
      font-size: 36px;
      line-height: 42px;
    }
    .artist-description .copy {
      height: 165px;
      min-height: 0 !important;
    }
    .artist-photo img {
      max-height: none;
      min-height: 0;
    }
  }
  @media screen and (max-width: 1109px) {
    .artist-description {
      padding-left: 32px;
    }
    .artist-photo {
      margin-bottom: 51px;
    }
  }
  @media screen and (max-width: 767px) {
    #genre-filter,
    #month-filter {
      margin-top: -32px;
      margin-bottom: 32px;
    }
    #genre-filter .one-seventh,
    #month-filter .one-seventh {
      width: 33% !important;
      line-height: 44px;
    }
    .half-word {
      display: none;
    }
    .artist-description h1 {
      margin-bottom: 32px;
    }
  }
{% endstylesheet %}

{% javascript %}
  function initSizes() {
    var initialHeight = 0,
        newHeight = 0;
    $(".collection-wrapper .album-item .cover").each(function(index, element) {
      $(element).height($(element).width());
      newHeight = $($(element).parent().parent()[0]).height();
      if (newHeight > initialHeight) {
        initialHeight = newHeight;
      }
    });
    $(".collection-wrapper .album-item").height(initialHeight);
  };
  $(document).ready(function() {
    $(window).on("resize", initSizes);
    initSizes();
    // Collapse/expand
    $(".readmore").click(function(event) {
      event.preventDefault();
      var description = document.querySelector(".artist-description .copy");
      if (description.style.height === "") {
        description.style.height = "auto";
        $(".readmore").addClass("active");
      } else {
        description.style.height = "";
        $(".readmore").removeClass("active");
      }
      $(".readmore > span").text($(".readmore > span").text() == "Less" ? "More" : "Less");
    });
    // Set active state on filter links
    var pagePath = location.pathname;
    var pathElements = pagePath.split("/");
    if (pathElements.length <= 4 && pathElements[0] === "") {
      if (pathElements[1] === "collections" && pathElements[2] === "all") {
        $(document).prop("title", "Releases – Floating World Records");
        $(".site-nav__link").each(function(index, element) {
          if ($(element).attr("href") === "/collections/all" || $(element).attr("href") === "/collections/all/") {
            $(element).parent().addClass("site-nav--active");
          }
        });
      }
      $(".filter-links a").each(function(index, element) {
        if (pathElements.length === 3 && $(element).attr("href") === "/collections/all/") {
          $(element).addClass("active");
        }
        if ($(element).attr("href") === "/collections/all/" + pathElements[3]) {
          $(element).addClass("active");
        }
        if (pathElements[pathElements.length - 1].indexOf("genre") !== -1) {
          $("#genre-filter").removeClass("label--hidden");
          $("#month-filter").addClass("label--hidden");
          $(".release-filter .filterValue").text("By Genre");
          $(".filter-options .option").removeClass("active")
          $(".filter-options .option.genre").addClass("active");
        }
      });
    }
    // Filter dropdown
    $(".release-filter").on("click", function(e) {
      e.preventDefault();
      $(".filter-options").toggleClass("label--hidden");
    });
    $(".filter-options .option").each(function(index, element) {
      $(element).on("click", function(e) {
        e.preventDefault();
        $(".release-filter .filterValue").text($(element).find("span").text());
        $(".filter-options .option").removeClass("active");
        $(element).addClass("active");
        if (index === 0) {
          $("#genre-filter").removeClass("label--hidden");
          $("#month-filter").addClass("label--hidden");
        } else {
          $("#genre-filter").addClass("label--hidden");
          $("#month-filter").removeClass("label--hidden");
        }
      });
    });
    $(".release-filter span").removeClass("label--hidden");    
  });
{% endjavascript %}