<!-- begin site-footer -->
{% capture bg_color %}bg--footer{% endcapture %}
{% capture text_color %}color--white{% endcapture %}
{% capture text_color_social %}white{% endcapture %}
{% capture accent_color %}bg--footer{% endcapture %}
<footer class="site-footer small--text-center {{ bg_color }} {{ text_color }} f--main font-weight--medium" role="contentinfo">
  <div class="wrapper footer-wrapper">

    <div class="site-footer__mobile hide">

      {% if section.settings.show_social_icons %}
        {% include 'social', color: text_color_social %}
      {% endif %}
      <div class="copyright px2 py3 font-size--s">
        <p>&copy; {{ 'now' | date: '%Y' }} <a href="/" class=" {{ text_color }}">{{ shop.name }}</a></p>

        {% if section.settings.extra_information != '' %}
          {{ section.settings.extra_information }}
        {% endif %}

        <div class="footer__credit">
          <!--<p class=" font-size--xs powered-by mt3 mb1">
            {{ powered_by_link }}
          </p>-->
           {% if section.settings.show_theme_credit %}
           <p class="theme-credit font-size--xs m0">
             {{ 'layout.footer.theme_credit_html' | t }}
           </p>
         {% endif %}
        </div>

      </div>
      <ul class="mobile-nav mobile-nav--footer mt2 font-size--s list--reset">
        <!-- begin mobile-nav -->
        {% if section.settings.main_linklist != blank %}
          {% assign selected_linklist = section.settings.main_linklist %}
          {% include 'linklist-footer', selected_linklist: selected_linklist %}
        {% endif %}
        <hr />
        <!-- begin secondary-nav -->
        {% if section.settings.secondary_linklist != blank %}
          {% assign selected_linklist = section.settings.secondary_linklist %}
          {% include 'linklist-footer', selected_linklist: selected_linklist %}
        {% endif %}
        <hr />
      </ul>
      {% comment %}
        Loop through available payment methods and show their icons.
      {% endcomment %}
      {% unless shop.enabled_payment_types == empty %}
        {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
        <ul class="inline-list payment-icons font-size--xl list-rest m0">
          {% for type in shop.enabled_payment_types %}
            {% if payment_icons_available contains type %}
              <li class="{{ text_color }}">
                {% include 'svg-icon', icon: type %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endunless %}
      <!-- FIXME: testing purposes -->
      <ul class="inline-list payment-icons font-size--xl list-rest m0">
        <li>{% include 'svg-icon', icon: 'visa' %}</li>
        <li>{% include 'svg-icon', icon: 'master' %}</li>
        <li>{% include 'svg-icon', icon: 'american_express' %}</li>
        <li>{% include 'svg-icon', icon: 'paypal' %}</li>
        <li>{% include 'svg-icon', icon: 'diners_club' %}</li>
        <li>{% include 'svg-icon', icon: 'discover' %}</li>
      </ul>

    </div>

    <div class="site-footer__desktop ">

      {% assign col_size = 'lg--one-quarter' %}

      <div class="grid">
        {% assign color = "primary-overlay" %}
        <div class="social-here grid__item {{ col_size }}  font-size--s">
          {% if social_icons %}
            {% if settings.social_instagram_link != blank %}
                <a class="social-icons__link color--{{ color }}" href="{{ settings.social_instagram_link }}" title="{{ 'layout.social.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  {% include 'svg-icon', icon: 'instagram' %}
                </a>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
                <a class="social-icons__link color--{{ color }}" href="{{ settings.social_youtube_link }}" title="{{ 'layout.social.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                  {% include 'svg-icon', icon: 'youtube' %}
                </a>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
                <a class="social-icons__link color--{{ color }}" href="{{ settings.social_facebook_link }}" title="{{ 'layout.social.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                  {% include 'svg-icon', icon: 'facebook' %}
                </a>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
                <a class="social-icons__link color--{{ color }}" href="{{ settings.social_twitter_link }}" title="{{ 'layout.social.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  {% include 'svg-icon', icon: 'twitter' %}
                </a>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
                <a class="social-icons__link color--{{ color }}" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.social.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  {% include 'svg-icon', icon: 'pinterest' %}
                </a>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
                <a class="social-icons__link color--{{ color }}" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.social.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% include 'svg-icon', icon: 'tumblr' %}
                </a>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
                <a class="social-icons__link color--{{ color }}" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.social.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% include 'svg-icon', icon: 'snapchat' %}
                </a>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
                <a class="social-icons__link color--{{ color }}" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.social.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% include 'svg-icon', icon: 'vimeo' %}
                </a>
            {% endif %}
          {% endif %}
          <br style="clear: both;" />
          {% if section.settings.extra_information != '' %}
            {{ section.settings.extra_information }}
          {% endif %}
          <p>&copy; {{ 'now' | date: '%Y' }} <a href="/" class=" {{ text_color }}">{{ shop.name }}</a></p>

        </div>

        <div class="menus grid__item one-eighth">
          <ul class="mobile-nav mobile-nav--footer mt2 font-size--s list--reset">
            {% assign all_menus = linklists[section.settings.main_linklist].links | concat: linklists[section.settings.secondary_linklist].links %}
            {% for link in all_menus %}
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}  {{ bg_color }} t--nav" aria-haspopup="true">
                  <div class="mobile-nav__has-sublist  {{ text_color }}">
                    <a href="{{ link.url }}" class="mobile-nav__link {{ text_color }}">{{ link.title }}</a>
                    <div class="mobile-nav__toggle color--white">
                      <button type="button" class="mobile-nav__toggle-open font-size--xs {{ text_color }}">
                        {% include 'svg-icon', icon: 'chevron-down' %}
                      </button>
                      <button type="button" class="mobile-nav__toggle-close font-size--xs {{ text_color }}">
                        {% include 'svg-icon', icon: 'chevron-up' %}
                      </button>
                    </div>
                  </div>
                  <ul class="mobile-nav__sublist">
                    {% for childlink in linklists[child_list_handle].links %}
                      <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                        <a href="{{ childlink.url }}" class="mobile-nav__link {{ text_color }} font-weight--medium"><span class="mr1 inline-block">&#8212;</span>{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}  {{ bg_color }} t--nav">
                  <a href="{{ link.url }}" class="mobile-nav__link {{ text_color }} font-weight--medium">{{ link.title }}</a>
                </li>
              {% endif %}
              {% assign module = forloop.index | modulo: 4 %}
              {% if module == 0 and forloop.last == false %}
                </ul></div><div class="menus grid__item one-eighth"><ul class="mobile-nav mobile-nav--footer mt2 font-size--s list--reset">
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="grid" style="margin-top: -62px;">
        <div class="grid__item one-half">
          <div class="footer__credit">
            <!--<p class=" font-size--xs powered-by mb1">
              {{ powered_by_link }}
            </p>-->
             {% if section.settings.show_theme_credit %}
             <p class="theme-credit font-size--xs m0">
               {{ 'layout.footer.theme_credit_html' | t: text_color: text_color }}
             </p>
           {% endif %}
          </div>
        </div>
        <div class="grid__item one-half text-align--right payments-bar">

          {% comment %}
            Loop through available payment methods and show their icons.
          {% endcomment %}
          {% unless shop.enabled_payment_types == empty %}
            {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
            <ul class="inline-list payment-icons font-size--xl list-rest m0">
              {% for type in shop.enabled_payment_types %}
                {% if payment_icons_available contains type %}
                  <li class="{{ text_color }}">
                    {% include 'svg-icon', icon: type %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endunless %}
          <!-- FIXME: testing purposes -->
          <ul class="inline-list payment-icons font-size--xl list-rest m0">
            <li>{% include 'svg-icon', icon: 'visa' %}</li>
            <li>{% include 'svg-icon', icon: 'master' %}</li>
            <li>{% include 'svg-icon', icon: 'american_express' %}</li>
            <li>{% include 'svg-icon', icon: 'paypal' %}</li>
            <li>{% include 'svg-icon', icon: 'diners_club' %}</li>
            <li>{% include 'svg-icon', icon: 'discover' %}</li>
          </ul>
        </div>
      </div>

    </div>


    <div class="grid">


      <div class="grid__item text-center">


      </div>
    </div>
  </div>



</footer>

{% schema %}
{
  "name": "Footer",
  "class": "section-site-footer",
  "settings": [
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "secondary_linklist",
      "label": "Secondary Menu"
    },
    {
      "id": "extra_information",
      "type": "richtext",
      "label": "About text",
      "default": "<p>Use this to add additional information about your store, e.g. address / contact details.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_theme_credit",
      "label": "Show theme credit"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social icons",
      "info": "Social icons are configured under General Settings"
    }
  ]
}
{% endschema %}