
<!-- FIXME: disabled, for now -->
{% comment %} {% assign notice_bar_enabled = false %}
{% for block in section.blocks %}
  {% case block.type %}
  {% when 'notice_bar' %}
    {% assign notice_bar_enabled = true %}
    {% assign notice_bar_text = block.settings.text | escape %}
  {% endcase %}
{% endfor %} {% endcomment %}

{% comment %}
{% section 'sidebar-menu' %}
{% endcomment %}

{% include 'sidebar-menu' %}



<div class="site-nav-measure">
<ul class="site-nav site-nav--header inline-block font-size--m t--nav">
  {% for link in linklists[section.settings.main_linklist].links %}
    {% comment %}
      Create a dropdown menu by naming a linklist the same as a link in the parent nav

      More info on dropdowns:
        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
    {% endcomment %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
        <a href="{{ link.url }}" class="site-nav__link">
          {{ link.title }}
          {% include 'svg-icon', icon: 'chevron-down-header' %}
        </a>
        <ul class="site-nav__dropdown">
          {% for childlink in linklists[child_list_handle].links %}
            <li{% if childlink.active %} class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>




<header class="site-header f--main" role="banner">

  {% if notice_bar_enabled %}
  <div class="site-header__notice font-size--s bg--secondary-accent color--secondary-accent-overlay">
    <div class="wrapper t--meta">
      {{ notice_bar_text }}
    </div>
  </div>
  {% endif %}



  <div class="site-header__main grid--full grid--table ">

    {% comment %}
      Mobile menu icon
    {% endcomment %}
    <div class="grid__item site-header__mobile-icon site-header__mobile-icon--menu" style="float: left; margin-right: -44px;">
      <button type="button" class="site-header__icon js--drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
        {% include 'svg-icon', icon: 'menu' %}
      </button>
    </div>

    {% comment %}
      Main navigation
    {% endcomment %}

    <div class="grid__item lg--one-half md-dn--hide site-nav-holder">


      <!-- begin site-nav -->
      <ul class="site-nav site-nav--header inline-block font-size--m t--nav font-weight--medium" id="AccessibleNav">
        {% for link in linklists[section.settings.main_linklist].links %}
          {% comment %}
            Create a dropdown menu by naming a linklist the same as a link in the parent nav

            More info on dropdowns:
              - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
          {% endcomment %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}" class="site-nav__link">
                {{ link.title }}
                {% include 'svg-icon', icon: 'chevron-down-header' %}
              </a>
              <ul class="site-nav__dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                  <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                    <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
              <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>


      <button type="button" class="site-header__icon site-header__icon--nav-menu hide js--drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
        {% include 'svg-icon', icon: 'menu' %}
      </button>
      <!-- //site-nav -->
    </div>


    <div class="grid__item site-header__logo-col text-center">

      {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
      {% capture image_size_px %}{{ section.settings.logo_max_width | escape }}px{% endcapture %}
      {% capture image_size_2x %}{{ section.settings.logo_max_width | times: 2 }}x{% endcapture %}

      {% comment %}
      Style the logo grid item to be the same width set as the logo
      {% endcomment %}
      <style>
        .site-header__logo-col {
          width: {{ image_size_px }};
        }
      </style>

      {% if template == 'index' %}
        <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
      {% endif %}
        {% if section.settings.logo %}
          <a href="/" itemprop="url" class="site-header__logo-link">
            <img src="{{ section.settings.logo | img_url: image_size_2x }}" alt="{{ shop.name }}" itemprop="logo" width="{{ image_size }}">
          </a>
        {% else %}
          <a href="/" itemprop="url" class="text-align--center">{{ shop.name }}</a>
        {% endif %}
      {% if template == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}

    </div>

    {% comment %}
      Desktop meta (cart, search, social)
    {% endcomment %}
    <div class="grid__item lg--one-half md-dn--hide text-right">
    


      <ul class="header_desktop-meta list-reset align--middle inline-block inline-list">
        {% if shop.customer_accounts_enabled %}
        <li class="header_desktop-meta-item relative">
          <button type="button" class="login js-login font-size--s">
            {% include 'svg-icon', icon: 'user' %}
          </button>
          <div class="account-expanded p2">
              <ul class="inline-list child-nav child-list-customer font-size--s t--meta m0 p0">
              {% if customer %}
                <li class="customer-item first">
                  {% if customer.first_name != blank %}
                    {% capture first_name %}{{ customer.first_name }}{% endcapture %}
                    <a href="/account" class="account-link">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
                  {% else %}
                    <a href="/account" class="">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                </li>
                <span class="px1">&#124;</span>
                <li class="customer-item">
                  {{ 'layout.customer.log_out' | t | customer_logout_link }}
                </li>
              {% else %}
                <li class="customer-item first">
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                </li>
                {% if shop.customer_accounts_optional %}
                <span class="px1">&#124;</span>
                <li class="customer-item">
                  {{ 'layout.customer.create_account' | t | customer_register_link }}
                </li>
                {% endif %}
              {% endif %}
              </ul>
          </div>
        </li>
        {% endif %}
        {% if section.settings.show_search %}
        <li class="header_desktop-meta-item">
          <button type="button" class="js--search-trigger font-size--s">
            {% include 'svg-icon', icon: 'search' %}
          </button>
        </li>
        {% endif %}
        <li class="header_desktop-meta-item">
          <a href="/cart" class="js--drawer-open-right font-size--s" aria-controls="NavDrawer" aria-expanded="false">
            {% include 'svg-icon', icon: 'cart' %}
            <span id="CartCount" class="cart-count">{{ cart.item_count }}</span>
          </a>
        </li>
      </ul>

    </div>
    {% comment %}
      Mobile cart icon
    {% endcomment %}
    <div class="grid__item site-header__mobile-icon site-header__mobile-icon--cart text-align--center">
       <a href="/cart"  class="site-header__icon cart-icon__mobile js--drawer-open-right relative" aria-controls="NavDrawer" aria-expanded="false">
        {% include 'svg-icon', icon: 'cart' %}
        <span id="CartCountMobile" class="cart-count cart-count--mobile">{{ cart.item_count }}</span>
      </a>
    </div>
    <div class="drawer__close js--close-drawer fixed top--0 left--0 right--0 bottom--0 full"></div>

  </div>


</header>

{% schema %}
{
  "name": "Header",
  "class": "section-site-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo",
      "info": "800 x 300px recommended."
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "100"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu",
      "info": "Note: when menu exceeds max available space, mobile menu button will be shown instead."
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search"
    },
    {
      "type": "header",
      "content": "Sidebar Menu"
    },
    {
      "type": "link_list",
      "id": "secondary_linklist",
      "label": "Secondary Menu"
    },
    {
      "type": "checkbox",
      "id": "show_search_sidebar",
      "label": "Show search"
    },
    {
      "type": "checkbox",
      "id": "show_social_sidebar",
      "label": "Show social icons"
    }
  ],
  "blocks": [
    {
      "type": "notice_bar",
      "name": "Notice bar",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Free shipping on all orders"
        }
      ]
    }
  ]
}
{% endschema %}

{% javascript %}
  
{% endjavascript %}
