<!-- /sections/homepage-blog.liquid -->
{% comment %}
Receive articles on all blogs selected
{% endcomment %}

{% assign all_articles = false %}
{% assign all_articles_sorted = false %}

{% if section.settings.blog_1 and section.settings.blog_1  != empty %}
  {% if all_articles %}
    {% assign all_articles = all_articles | concat:blogs[section.settings.blog_1].articles %}
  {% else %}
    {% assign all_articles = blogs[section.settings.blog_1].articles %}
  {% endif %}
  {% assign onboarding = false %}
{% endif %}

{% assign all_articles_sorted = all_articles | sort:'published_at' | reverse %}

{% assign latest_articles_title = section.settings.title | escape %}
{% assign feature_article = all_articles_sorted[0] %}
{% assign article_blog = feature_article.url  | split: '/' %}
{% assign blog_slug = article_blog[2] %}
{% assign blog_title = blogs[blog_slug].title %}

<section class="section m0 py4 bg--section blog-wrapper">
  <hr />
  <div class="wrapper section--wrapper">

    <div class="grid blog-grid">

      <div class="grid__item dt--six-twelfths article-photo">
        <article class="article article--large">
          <div class="full">
            {% if feature_article.image %}


              <!-- responsive example: -->
              <img
                  data-sizes="auto"
                  alt="{{ feature_article.image.alt }}"
                  src="{{ feature_article | img_url: '10x'  }}"
                  data-src="{{ feature_article | img_url: '600x'  }}"
                  data-srcset="{{ feature_article | img_url: '600x'  }} 600w,
                                {{ feature_article | img_url: '900x'  }} 900w,
                                {{ feature_article | img_url: '1200x'  }} 1200w"
                  class="lazyload article__image blur-up" />

            {% endif %}
          </div>
        </article>
      </div>
      <div class="grid__item dt--six-twelfths article-text">
        <article class="main-article article article--large">
          <h4 class="f--main t--meta font-size--xs  lg--font-size--s   mt3"><a href="/blogs/{{ article_blog[2] }}">{{ blog_title }}</a></h4>
          <h3 class="f--title article__title article__title--feature font-size--xl lg--font-size--xxxl mt2">
            <a href="{{ feature_article.url }}">{{ feature_article.title }}</a>
          </h3>

          <p class="f--body article__excerpt article__excerpt--feature lg--font-size--ml">
            {% if feature_article.excerpt.size > 0 %}
              {{ feature_article.excerpt }}
            {% else %}
              {{ feature_article.content | strip_html | truncatewords: 50 }}
            {% endif %}
          </p>

          <h5 class="author f--main t--meta font-size--xs lg--font-size--s lg--font-size--s mt3">{{ feature_article.author  }} - {% include 'date', date_object: feature_article.published_at  %}</h5>
          <a class="read-article" href="{{ feature_article.url }}">Read article {% include 'svg-icon', icon: 'chevron-right' %}</a>
        </article>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Blog",
    "class": "section-blog",
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog"
      }
    ],
    "settings": [
      {
         "type":     "header",
         "content": "Setup"
      },
      {
        "type":      "paragraph",
        "content":   "Select the blog to pull the latest aricle from."
      },
      {
        "type":      "blog",
        "id":        "blog_1",
        "label":     "Select blog:"
      }
    ]
  }
{% endschema %}
