{% assign months = "january|february|march|april|may|june|july|august|september|october|november|december" | split: '|' %}
{% assign current_month = "now" | date: "%-m" | plus: 0 %}
{% assign current_year = "now" | date: "%-Y" | plus: 0 %}
{% assign last_month_text = current_month | minus: 1 %}
{% assign two_months_ago_text = current_month | minus: 2 %}
{% assign three_months_ago_text = current_month | minus: 3 %}
{% assign last_month_year = current_year %}
{% assign two_months_year = current_year %}
{% assign three_months_year = current_year %}
{% if current_month == 1 %}
    {% assign last_month_text = 12 %}
    {% assign two_months_ago_text = 11 %}
    {% assign three_months_ago_text = 10 %}
    {% assign last_month_year = current_year | minus: 1 %}
    {% assign two_months_year = current_year | minus: 1 %}
    {% assign three_months_year = current_year | minus: 1 %}
{% endif %}
{% if current_month == 2 %}
    {% assign two_months_ago_text = 12 %}
    {% assign three_months_ago_text = 11 %}
    {% assign two_months_year = current_year | minus: 1 %}
    {% assign three_months_year = current_year | minus: 1 %}
{% endif %}
{% if current_month == 3 %}
    {% assign three_months_ago_text = 12 %}
    {% assign three_months_year = current_year | minus: 1 %}
{% endif %}

{% assign current_month_text = current_month | minus: 1 %}
{% assign current_month_text = months[current_month_text] %}
{% assign last_month_text = last_month_text | minus: 1 %}
{% assign last_month_text = months[last_month_text] %}
{% assign two_months_ago_text = two_months_ago_text | minus: 1 %}
{% assign two_months_ago_text = months[two_months_ago_text] %}
{% assign three_months_ago_text = three_months_ago_text | minus: 1 %}
{% assign three_months_ago_text = months[three_months_ago_text] %}

{% assign this_months_products = "" %}
{% assign last_months_products = "" %}
{% assign two_months_products = "" %}
{% assign three_months_products = "" %}
{% assign counter_1 = 0 %}
{% assign counter_2 = 0 %}
{% assign counter_3 = 0 %}
{% assign counter_4 = 0 %}
{% for collection in collections %}
    {% for prod in collection.products %}
        {% if prod.handle != section.settings.product %}
            {% for tag in prod.tags %}
                {% assign month_1 = current_month_text | downcase | append: current_year %}
                {% assign month_2 = last_month_text | downcase | append: last_month_year %}
                {% assign month_3 = two_months_ago_text | downcase | append: two_months_year %}
                {% assign month_4 = three_months_ago_text | downcase | append: three_months_year %}
                {% if tag == month_1 and counter_1 < 4 %}
                    {% assign this_months_products = this_months_products | append: prod.handle | append: ";" %}
                    {% assign counter_1 = counter_1 | plus: 1 %}
                {% endif %}
                {% if tag == month_2 and counter_2 < 4 %}
                    {% assign last_months_products = last_months_products | append: prod.handle | append: ";" %}
                    {% assign counter_2 = counter_2 | plus: 1 %}
                {% endif %}
                {% if tag == month_3 and counter_3 < 4 %}
                    {% assign two_months_products = two_months_products | append: prod.handle | append: ";" %}
                    {% assign counter_3 = counter_3 | plus: 1 %}
                {% endif %}
                {% if tag == month_4  and counter_4 < 4 %}
                    {% assign three_months_products = three_months_products | append: prod.handle | append: ";" %}
                    {% assign counter_4 = counter_4 | plus: 1 %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% assign latest_product = all_products[section.settings.product] %}

<section id="latest-releases" class="section m0 pt6 bg--section">
    <div class="wrapper section--wrapper">
        <h2 class="section-name t--section-title t--section-title text-align--center f--main font-size--l lg--font-size--xl m0 pb3">Latest Releases</h2>
        <div class="grid releases-grid">
            <div class="grid__item dt--six-twelfths featured-release pt3">
                <a href="{{latest_product.url}}"><img width="560" src="{{ latest_product.featured_image.src | img_url: 'large' }}"></a>
                <article class="release-article">
                    <h1>{{latest_product.title}}</h1>
                    <div class="metadata">
                        Artist - {% for collection in latest_product.collections %}{{ collection.title }}{% if forloop.last == false %}/{% endif %}{% endfor %}<br />
                        Label - {{ latest_product.metafields.custom_fields.label }}<br />
                        Genre - {{ latest_product.metafields.custom_fields.genre | capitalize }}
                    </div>
                    <div class="rich-text-content">
                        {{section.settings.column_richtext}}
                    </div>
                </article>
                <a class="readmore mb2" href="{{latest_product.url}}">Listen now {% include 'svg-icon', icon: 'chevron-right' %}</a>
            </div>
            <div class="divider hidden"></div>
            <div class="album-list grid__item dt--six-twelfths mb2">
                {% assign month_one_products = this_months_products | remove_last: ';' | split: ';' %}
                {% assign month_one_size = month_one_products | size %}
                <h2>{{ current_month_text }}</h2>
                {% if month_one_size > 0 %}
                    {% for p_handle in month_one_products limit:4 %}
                        {% assign product = all_products[p_handle] %}
                        <a href="{{product.url}}">
                            <div class="album{% if forloop.index == 2 %} mobile-last{% endif %}{% if forloop.index == 4 %} last{% endif %}">
                                <div class="cover" style="background-image: url({{product.images[0].src | product_img_url: 'medium'}})">
                                    <div class="overlay"></div>
                                </div>
                                <p class="album-title">{{ product.title }}</p>
                                <p class="album-artist">
                                    {% assign collections_size = product.collections | size %}
                                    {% if collections_size > 4 %}
                                        Various
                                    {% else %}
                                        {% for collection in product.collections %}
                                            {{ collection.title }}
                                            {% if forloop.last == false %}/{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    No new releases in {{ current_month_text | capitalize }}.
                {% endif %}
                <div class="divider"></div>
                <h2>{{ last_month_text }}</h2>
                {% assign month_two_products = last_months_products | remove_last: ';' | split: ';' %}
                {% assign month_two_size = month_two_products | size %}
                {% if month_two_size > 0 %}
                    {% for p_handle in month_two_products limit:4 %}
                        {% assign product = all_products[p_handle] %}
                        <a href="{{product.url}}">
                            <div class="album{% if forloop.index == 2 %} mobile-last{% endif %}{% if forloop.index == 4 %} last{% endif %}">
                                <div class="cover" style="background-image: url({{product.images[0].src | product_img_url: 'medium'}})">
                                    <div class="overlay"></div>
                                </div>
                                <p class="album-title">{{ product.title }}</p>
                                <p class="album-artist">
                                    {% assign collections_size = product.collections | size %}
                                    {% if collections_size > 4 %}
                                        Various
                                    {% else %}
                                        {% for collection in product.collections %}
                                            {{ collection.title }}
                                            {% if forloop.last == false %}/{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    {% endfor%}
                {% else %}
                    No new releases in {{ last_month_text | capitalize }}.
                {% endif %}
                <div class="divider"></div>
                <h2>{{ two_months_ago_text }}</h2>
                {% assign month_three_products = two_months_products | remove_last: ';' | split: ';' %}
                {% assign month_three_size = month_three_products | size %}
                {% if month_three_size > 0 %}
                    {% for p_handle in month_three_products limit:4 %}
                        {% assign product = all_products[p_handle] %}
                        <a href="{{product.url}}">
                            <div class="album{% if forloop.index == 2 %} mobile-last{% endif %}{% if forloop.index == 4 %} last{% endif %}">
                                <div class="cover" style="background-image: url({{product.images[0].src | product_img_url: 'medium'}})">
                                    <div class="overlay"></div>
                                </div>
                                <p class="album-title">{{ product.title }}</p>
                                <p class="album-artist">
                                    {% assign collections_size = product.collections | size %}
                                    {% if collections_size > 4 %}
                                        Various
                                    {% else %}
                                        {% for collection in product.collections %}
                                            {{ collection.title }}
                                            {% if forloop.last == false %}/{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    {% endfor%}
                {% else %}
                    No new releases in {{ two_months_ago_text | capitalize }}.
                {% endif %}
                <div class="divider"></div>
                <h2>{{ three_months_ago_text }}</h2>
                {% assign month_four_products = three_months_products | remove_last: ';' | split: ';' %}
                {% assign month_four_size = month_four_products | size %}
                {% if month_four_size > 0 %}
                    {% for p_handle in month_four_products limit:4 %}
                        {% assign product = all_products[p_handle] %}
                        <a href="{{product.url}}">
                            <div class="album{% if forloop.index == 2 %} mobile-last{% endif %}{% if forloop.index == 4 %} last{% endif %}">
                                <div class="cover" style="background-image: url({{product.images[0].src | product_img_url: 'medium'}})">
                                    <div class="overlay"></div>
                                </div>
                                <p class="album-title">{{ product.title }}</p>
                                <p class="album-artist">
                                    {% assign collections_size = product.collections | size %}
                                    {% if collections_size > 4 %}
                                        Various
                                    {% else %}
                                        {% for collection in product.collections %}
                                            {{ collection.title }}
                                            {% if forloop.last == false %}/{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    {% endfor%}
                {% else %}
                    No new releases in {{ three_months_ago_text | capitalize }}.
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Latest releases",
        "settings": [
            {
                "type":      "product",
                "id":        "product",
                "label":     "Choose latest release:"
            },
            {
                "type": "richtext",
                "id": "column_richtext",
                "label": "Text"
            }
        ],
        "presets": [
            {
                "name": "Latest releases",
                "category": "Pull in latest releases and a blog post"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
    .hidden {
        display: none;
    }
    .section-name {
        font-size: 36px;
        line-height: 42px;
    }
    .releases-grid {
        margin-left: 0;
    }
    .divider {
        clear: both;
        margin-bottom: 40px;
    }
    .album-list {
        padding-left: 0;
        width: 59%;
        float: right;
    }
    .featured-release {
        padding-left: 0;
        width: 41%;
        float: right;
    }
    .album-list h2 {
        color: #5C6F7C;
        font-family: "Avenir Next";
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 13px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .album-list .album {
        float: left;
        //width: 132px;
        //margin-right: 20px;
        width: 20%;
        margin-right: 2.5%;
    }
    .album-list .album .overlay {
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0;
    }
    .album-list .album:hover .overlay {
        opacity: 0.25;
    }
    .album-list .album:hover p {
        color: #00b0b7;
    }
    .album-list .album.last {
        margin-right: 0;
    }
    .album-list .album .cover {
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .album-list .album .album-title,
    .album-list .album .album-artist {
        color: #5C6F7C;
        font-family: "Avenir Next";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
    }

    .album-list .album .album-artist {
        font-size: 14px;
        line-height: 14px;
        margin-top: 9px;
    }

    .release-article h1,
    .release-article .rich-text-content {
        color: #4A4A4A;
    }
    .release-article h1 {
        font-size: 24px;
        line-height: 30px;
        font-weight: normal;
        margin-top: 26px;
    }

    .release-article .metadata {
        font-family: "Avenir Next";
        color: #5C6F7C;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 18px 0;
        margin-top: 20px;
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
    }
    .release-article .rich-text-content {
        margin-top: 28px;
        font-size: 16px;
        line-height: 24px;
    }

    @media screen and (max-width: 1109px) {
        .hidden {
            display: block;
        }
        .album-list,
        .featured-release {
            width: 100%;
            float: none;
        }
        .album-list .album {
            width: 23%;
        }
    }
    @media screen and (max-width: 767px) {
        .album-list .album {
            width: 46%;
            margin-right: 8%;
            margin-bottom: 34px;
        }
        .album-list .album.mobile-last {
            margin-right: 0;
        }
        .album-list {
            min-height: 457px;
            overflow: hidden;
        }
    }
{% endstylesheet %}

{% javascript %}
    function initSizes() {
        $(".album-list .album .cover").each(function(index, element) {
            $(element).height($(element).width());
        });
    };
    $(document).ready(function() {
        $(window).on("resize", initSizes);
        initSizes();
    });
{% endjavascript %}