{% include 'newsletter' %}

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Sign up to our newsletter"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Receive special offers and first look at new products."
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Promotional"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}
