<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% capture selectID %}select-{{ product.handle }}{% endcapture %}
{% capture sectionID %}section-{{ product.handle }}{% endcapture %}

{% comment %}
Check for any supporting pages
{% endcomment %}
{% assign supporting_links = false %}
{% for block in section.blocks %}
  {% case block.type %}
  {% when 'supporting_links' %}
    {% assign supporting_links = true %}
  {% endcase %}
{% endfor %}

{% assign artist = product.collections[0] %}
{% assign current_index = 0 %}
{% assign products = artist.products | sort: "created_at" | reverse %}

{% for prod in products %}
  {% if prod.handle == product.handle %}
    {% assign current_index = forloop.index %}
  {% endif %}
{% endfor %}

{% assign show_quantity = section.settings.show_quantity %}

<section itemscope itemtype="http://schema.org/Product" class="section bg--section section-product section--product-page relative pb4" id="{{ sectionID }}" data-section-id="{{ section.id }}" data-money-format="{{ shop.money_format }}">

  <div class="wrapper section--wrapper">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="grid">
    <div class="grid__item dt--six-twelfths">
      {% assign artists_size = product.collections | size %}
      {% if artists_size > 1 %}
        <a class="back" href="/collections/all">{% include 'svg-icon', icon: 'chevron-left' %}Back to: <span>Releases</span></a>
      {% else %}
        <a class="back" href="{{ artist.url }}">{% include 'svg-icon', icon: 'chevron-left' %}Back to: <span>{{ artist.title }}</span></a>
      {% endif %}
    </div>
    <div class="grid__item dt--six-twelfths artist-description relative">
      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
        {% endif %}
        <div class="h2 f--main caps regular font-size--ml ProductPrice">
          {% if product.compare_at_price_max > product.price %}
            <s id="ComparePrice" class="ComparePrice f--main t--meta color--primary-faded">{{ current_variant.compare_at_price | money }}</s>
            &nbsp;
          {% endif %}
          <span class="t--meta" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>
        </div>
      </span>
      <h1 class="f--title ProductTitle">
        {%- if in_list -%}
        <a href="{{ product.url | within: collection }}">
        {%- endif -%}
        {{ product.title }}
        {%- if in_list -%}
        </a>
        {%- endif -%}
      </h1>
      {% if section.settings.show_share_links %}
        {% include 'share' %}
      {% endif %}
    </div>
  </div>

  <div class="product-sticky-fake">
    <div class="wrapper">
      <div class="wrapper section--wrapper">
        <div class="grid grid--rev">
          <div class="grid__item lg--six-twelfhts dt--two-fifths">
            {% include 'product-page-form' %}
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item dt--one-fifth mt3 lg--mt0 right t--meta text-center support-links" style="padding-left: 10px;">
      {% if supporting_links %}
      <ul class="m0 p0 list--reset f--main font-size--s   t--meta">
      {% for block in section.blocks %}
        {% case block.type %}
        {% when 'supporting_links' %}
          <li class="mb2" {{ block.shopify_attributes }}>
            <a href="{{ block.settings.url }}">{{ block.settings.title | escape }}</a>
          </li>
        {% endcase %}
      {% endfor %}
      </ul>
      {% endif %}

      </div>
  </div>


  <div class="grid product-single">
    <div class="grid__item lg--three-fifths dt--two-quarters text-center relative">
        {% if  product.images.size > 1 %}
        <div class="relative product-slider-holder mb4 lg--pb0 lg--mb4">
          <div class="product-images-slider m0 p0">
            {% for image in product.images %}

              {% if image.attached_to_variant? %}
                {% assign variant_classes = '' %}
                {% for variant in image.variants %}
                  {% capture variant_class %} variant-{{ variant.id }}{% endcapture %}
                  {% assign variant_classes = variant_classes | append: variant_class %}
                {% endfor %}
              {% endif %}

              <div class="product-images-slider__item {% if image.attached_to_variant? %}attached-to-variant{{ variant_classes }}{% endif %}">
                {% comment %}
                <img
                    src="{{ image.src | img_url: '1000x' }}"
                    class="lazyload product-images-slider__image"
                 />
                 {% endcomment %}
                 <picture>
                   <!--[if IE 9]><video style="display: none"><![endif]-->
                   <source
                     data-srcset="{{ image.src | img_url: '800x'  }}"
                     media="(max-width: 768px)" />
                   <source
                       data-srcset="{{ image.src | img_url: '2000x' }}" />
                   <!--[if IE 9]></video><![endif]-->
                   <img
                       src="{{ image.src | img_url: '10x'  }}"
                       data-src="{{ image.src | img_url: '10x'  }}"
                       class="lazyload product-images-slider__image product-images-slider__image--single full blur-up"
                       alt="{{ image.alt }}"/>
                 </picture>

              </div>
            {% endfor %}
          </div>

          <div class="product-images-slider__status f--main t--meta lg--hide font-weight--real-bold font-size--m">
            <span class="current color--shop-accent active "></span>
            &nbsp;/&nbsp;
            <span class="total color--main-accent"></span>
          </div>

          {% include 'svg-icon', icon: 'chevron-left', class: 'slick--left-svg' %}
          {% include 'svg-icon', icon: 'chevron-right', class: 'slick--next-svg' %}
        </div>
        {% else %}
          <div class="mb3">
            {% for image in product.images %}
            <picture>
              <!--[if IE 9]><video style="display: none"><![endif]-->
              <source
                data-srcset="{{ image.src | img_url: '800x'  }}"
                media="(max-width: 768px)" />
              <source
                  data-srcset="{{ image.src | img_url: '2000x' }}" />
              <!--[if IE 9]></video><![endif]-->
              <img
                  src="{{ image.src | img_url: '10x'  }}"
                  data-src="{{ image.src | img_url: '10x'  }}"
                  class="lazyload full blur-up"
                  alt="{{ image.alt }}" />
            </picture>
            {% endfor %}
          </div>
        {% endif %}


    </div><!-- end product images -->

    <div class="grid__item text-align--center middle-width">

      {% include 'product-page-form' %}

    </div><!-- end product form -->
    <div class="grid__item dt--one-half mt3 lg--mt0 right t--meta text-center support-links middle-width" style="padding-left: 10px;">
      {% if supporting_links %}
      <ul class="mt2 p0 list--reset f--main font-size--s  t--meta">
      {% for block in section.blocks %}
        {% case block.type %}
        {% when 'supporting_links' %}
          <li class="mb2" {{ block.shopify_attributes }}>
            <a href="{{ block.settings.url }}">{{ block.settings.title | escape }}</a>
          </li>
        {% endcase %}
      {% endfor %}
      </ul>
      {% endif %}

      </div>
  </div><!-- end images and form grid -->


  <div class="grid grid--rev product-description">
    {% assign prods = products | size %}
    {% assign counter = 0 %}
    <div class="grid__item lg--two-fifths rte right pl0" itemprop="description">
      <h3>About this release</h3>
      <article class="description-collapse">
        {{ product.description }}
        {% if section.settings.show_tags %}

          {% if product.tags %}
          <ul class="m0 mt3 p0 list--reset f--main  t--meta font-size--s">
            {% for tag in product.tags %}
              {% assign tag_start = tag | slice: 0, 5 %}
              {% assign tag_word = tag %}
              {% if tag_start == "genre" %}
                {% assign tag_size = tag | size %}
                {% assign tag_word = tag | slice: 5, tag_size %}
              {% endif %}
              <li class="inline-block dt--block text-align--right font-weight--medium ls2">
                <a class="color--main-accent underline" href="/collections/all/{{ tag | replace: ' ', '-' }}">#{{ tag_word | downcase | replace: ' ', '-' }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
      </article>
      <a class="readmore" href="."><span>More</span> {% include 'svg-icon', icon: 'chevron-down-header' %}{% include 'svg-icon', icon: 'chevron-up' %}</a>
    </div>
    <div class="grid__item lg--three-fifths dt--two-quarters rte rte--shop left row-four same-artist-works">
      <h3>By the same artist</h3>
      {% for prod in products %}
        {% if prod.handle != product.handle %}
          {% assign counter = counter | plus: 1 %}
          {% assign module = counter | modulo: 4 %}
          {% assign mobile_module = counter | modulo: 2 %}
          <div class="album-item mb3{% if mobile_module == 0 %} mobile-last{% endif %}{% if module == 0 %} last{% endif %}">
            <a href="{{prod.url}}"><div class="cover" style="background-image: url({{ prod.featured_image.src | img_url: 'large' }})"><div class="overlay"></div></div></a>
            <a href="{{prod.url}}"><p class="title text-left">{{prod.title}}</p></a>
            <a href="{{prod.url}}">
              <p class="artist text-left">
                {% assign collections_size = prod.collections | size %}
                {% if collections_size > 4 %}
                  Various
                {% else %}
                  {% for collection in prod.collections %}
                    {{ collection.title }}
                    {% if forloop.last == false %}/{% endif %}
                  {% endfor %}
                {% endif %}
              </p>
            </a>
          </div>
        {% endif %}
      {% endfor %}
      {% if prods <= 1 %}
        No more albums from this artist.
      {% endif %}
    </div>

  </div>
  <div class="wrapper section--wrapper single-collection collection-wrapper row-four">
    <hr />
    <h4>Related artists</h4>
    {% assign related_artists = artist.metafields.custom_fields.related_artist | remove_last: ';' | split: ';' %}
    {% assign related_artists_size = related_artists | size %}
    {% assign artist_counter = 0 %}
    {% assign collections_size = product.collections | size %}
    {% if collections_size > 1 %}
      {% for collection in product.collections %}
        {% assign artist_counter = artist_counter | plus: 1 %}
        {% assign module = artist_counter | modulo: 4 %}
        {% assign mobile_module = artist_counter | modulo: 2 %}
        <div class="album-item mb3{% if mobile_module == 0 %} mobile-last{% endif %}{% if module == 0 %} last{% endif %}">
          <a href="{{collection.url}}">
            {% if collection.image %}
              <!--<img class="full left"  src="{{ collection.image | img_url: '1024x1024' }}" alt="{{ collection.title }}">-->
              <div class="cover" style="background-image: url({{ collection.image | img_url: '1024x1024' }})"><div class="overlay"></div></div>
            {% else %}
              <div class="cover" style="background-image: url({{ collection.products[0].featured_image.src | img_url: '1024x1024' }})"><div class="overlay"></div></div>
              <!--<img class="full left" src="{{ product.featured_image.src | img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}">-->
            {% endif %}
          </a>
          <a href="{{collection.url}}"><p class="title">{{collection.title}}</p></a>
          <a href="{{collection.url}}"><p class="artist">{{collection.products[0].metafields.custom_fields.genre | capitalize}}</p></a>
        </div>
      {% endfor %}
    {% endif %}
    {% for handle in related_artists %}
      {% assign artist_counter = artist_counter | plus: 1 %}
      {% assign module = artist_counter | modulo: 4 %}
      {% assign mobile_module = artist_counter | modulo: 2 %}
      {% assign item = collections[handle] %}
      <div class="album-item mb3{% if mobile_module == 0 %} mobile-last{% endif %}{% if module == 0 %} last{% endif %}">
        <a href="{{item.url}}">
          {% if item.image %}
            <!--<img class="full left"  src="{{ collection.image | img_url: '1024x1024' }}" alt="{{ collection.title }}">-->
            <div class="cover" style="background-image: url({{ item.image | img_url: '1024x1024' }})"><div class="overlay"></div></div>
          {% else %}
            <div class="cover" style="background-image: url({{ item.products[0].featured_image.src | img_url: '1024x1024' }})"><div class="overlay"></div></div>
            <!--<img class="full left" src="{{ product.featured_image.src | img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}">-->
          {% endif %}
        </a>
        <a href="{{item.url}}"><p class="title">{{item.title}}</p></a>
        <a href="{{item.url}}"><p class="artist">{{item.products[0].metafields.custom_fields.genre | capitalize}}</p></a>
      </div>
    {% endfor %}
    {% if related_artists_size == 0 %}
      No related artists for {{product.title}}.
    {% endif %}
    </div>
  </div> <!-- end section wrapper -->
  {% if product.metafields.custom_fields.related_article %}
    {% assign feature_article = articles[product.metafields.custom_fields.related_article] %}
    <div class="grid grid--rev product-description articles">
      <hr />
      <div class="grid__item lg--three-fifths dt--two-quarters rte rte--shop left">
        <article class="article article--large">
            <div class="full">
              {% if feature_article.image %}


                <!-- responsive example: -->
                <img
                    data-sizes="auto"
                    alt="{{ feature_article.image.alt }}"
                    src="{{ feature_article | img_url: '10x'  }}"
                    data-src="{{ feature_article | img_url: '600x'  }}"
                    data-srcset="{{ feature_article | img_url: '600x'  }} 600w,
                                  {{ feature_article | img_url: '900x'  }} 900w,
                                  {{ feature_article | img_url: '1200x'  }} 1200w"
                    class="lazyload article__image blur-up" />

              {% endif %}
            </div>
          </article>
      </div>
      <div class="grid__item lg--two-fifths rte right pl0" itemprop="description">
        <h3>Related articles</h3>
          <article class="related-article main-article article article--large">
            <h2 class="f--title article__title article__title--feature font-size--xl lg--font-size--xxxl mt2">{{ feature_article.title }}</h2>

            <p class="f--body article__excerpt lg--font-size--ml">
              {% if feature_article.excerpt.size > 0 %}
                {{ feature_article.excerpt }}
              {% else %}
                {{ feature_article.content | strip_html | truncatewords: 50 }}
              {% endif %}
            </p>

            <h5 class="author f--main t--meta font-size--xs lg--font-size--s lg--font-size--s mt3">{{ feature_article.author  }} - {% include 'date', date_object: feature_article.published_at  %}</h5>
            <a class="read-article" href="{{ feature_article.url }}">Read article {% include 'svg-icon', icon: 'chevron-right' %}</a>
          </article>
      </div>
    {% endif %}

  </div>
  </div>
</section>


<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>

<script type="application/json" id="FirstVariant-{{ section.id }}">
  {{ product.selected_or_first_available_variant | json }}
</script>

{% schema %}
  {
    "name": "Product pages",
    "class": "section-single-product",
    "settings": [
      {
        "type": "header",
        "content": "General"
      },
      {
        "type": "checkbox",
        "id": "show_quantity",
        "label": "Show quantity"
      },
      {
        "type": "checkbox",
        "id": "show_share_links",
        "label": "Show share links"
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags"
      }
    ],
    "blocks": [
      {
        "type": "supporting_links",
        "name": "Supporting pages",
        "settings": [
          {
             "type":      "paragraph",
             "content":   "Add a related page that will be shown on all product pages. E.g. 'Shipping info'"
          },
          {
             "type":      "text",
             "id":        "title",
             "label":     "Link label"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Url"
          }
        ]
      }
    ]
  }
{% endschema %}

{% javascript %}
  function initSizes() {
    var initialHeight = 0,
        initialHeightSmall = 0,
        newHeight = 0,
        newHeightSmall = 0;
    $(".row-four .album-item").height("");
    $(".single-collection .album-item .cover").each(function(index, element) {
      $(element).height($(element).width());
      newHeight = $($(element).parent().parent()[0]).height();
      if (newHeight > initialHeight) {
        initialHeight = newHeight;
      }
    });
    $(".single-collection .album-item").height(initialHeight);
    $(".same-artist-works .album-item .cover").each(function(index, element) {
      $(element).height($(element).width());
      newHeightSmall = $($(element).parent().parent()[0]).height();
      if (newHeightSmall > initialHeightSmall) {
        initialHeightSmall = newHeightSmall;
      }
    });
    setTimeout(function() {
      $(".same-artist-works .album-item").height(initialHeightSmall);
    }, 1000);
  };
  $(document).ready(function() {
    $(window).on("resize", initSizes);
    initSizes();
    // Collapse/expand
    $(".readmore").click(function(event) {
      event.preventDefault();
      var description = document.querySelector(".description-collapse");
      if (description.style.height === "") {
        description.style.height = "auto";
        $(".readmore").addClass("active");
      } else {
        description.style.height = "";
        $(".readmore").removeClass("active");
      }
      $(".readmore > span").text($(".readmore > span").text() == "Less" ? "More" : "Less");
    });
  });
{% endjavascript %}

{% stylesheet %}
  .middle-width {
    display: none;
  }
  .articles hr {
    border-top: 1px solid #EAEAEA;
    margin: 0 0 46px 32px;
  }
  .related-article h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 24px;
    margin-top: -6px;
  }
  .related-article a {
    border: 0;
  }
  .description-collapse {
    height: 170px;
    overflow: hidden;
  }
  .readmore {
    float: right;
  }
  .readmore .icon-chevron-up {
    display: none;
  }
  .readmore.active .icon-chevron-up {
    display: inline-block;
  }
  .readmore.active .icon-chevron-down-header {
    display: none;
  }
  .product-page {
    float: left;
    color: #00B0B7;
    font-family: "Avenir Next";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 16px;
    text-align: center;
    width: 20px;
    padding: 5px 0;
    margin: 0 30px 0 0
  }
  .product-page:hover,
  .product-page.active {
    color: #EF4123;
    border-bottom: 1px solid #EAEAEA;
  }
  .artist-description .share {
    top: auto;
    bottom: 74px;
    margin-bottom: 0;
    z-index: 1
  }
  @media screen and (max-width: 1259px) {
    .middle-width {
      display: block;
    }
    .description-collapse {
      height: 165px;
    }
    .readmore {
      margin-bottom: 45px;
    }
    .product-description.articles img {
      width: 100%;
      height: auto;
    }
    .product-description.articles .right {
      margin-top: 52px;
    }
    .product-page {
      margin-bottom: 24px;
    }
    .artist-description .share {
      bottom: 44px;
    }
    .product-description .pl0 {
      padding-left: 32px;
    }
  }
  @media screen and (max-width: 767px) {
    .artist-description .share {
      bottom: auto;
      top: -8px;
    }
  }
{% endstylesheet %}