{% assign handles = "" %}
{% assign genre = section.settings.genre | downcase %}
{% for collection in collections %}
    {% for prod in collection.products %}
        {% assign prod_genre = prod.metafields.custom_fields.genre | downcase %}
        {% if prod_genre == genre %}
            {% assign handles = handles | append: prod.handle | append: ";" %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% assign handles = handles | remove_last: ';' | split: ';' %}

<section class="section m0 pb4 bg--section">
    <div class="wrapper section--wrapper collection-wrapper">
        <hr />
        <h1>{{section.settings.heading_text}}</h1>
        {% for handle in handles limit:4 %}
            {% assign product = all_products[handle] %}
            <div class="album-item{% if forloop.index == 2 %} mobile-last{% endif %}{% if forloop.last == true %} last{% endif %}">
                <a href="{{product.url}}">
                    <div class="cover" style="background-image: url({{ product.featured_image.src | img_url: 'large' }})">
                        <div class="overlay"></div>
                    </div>
                </a>
                <a href="{{product.url}}"><p class="title">{{product.title}}</p></a>
                <a href="{{product.url}}">
                    <p class="artist">
                    {% assign collections_size = product.collections | size %}
                    {% if collections_size > 4 %}
                        Various
                    {% else %}
                        {% for collection in product.collections %}
                            {{ collection.title }}
                            {% if forloop.last == false %}/{% endif %}
                        {% endfor %}
                    {% endif %}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
    {
        "name": "Genre releases",
        "class": "single-collection",
        "presets": [
            {
                "name": "Latest releases from a genre",
                "category": "Genre releases"
            }
        ],
        "settings": [
            {
                "type": "text",
                "id": "heading_text",
                "label": "Heading text"
            },
            {
                "type": "text",
                "id": "genre",
                "label": "Choose genre:"
            }
        ]
    }
{% endschema %}

{% javascript %}
    function initSizes() {
        $(".collection-wrapper .album-item .cover").each(function (index, element) {
            $(element).height($(element).width());
        });
    };
    $(window).on("resize", initSizes);
    initSizes();
{% endjavascript %}