<!-- /snippets/store.liquid -->

<section class="store section m0 py4 bg--section">
  <div class="wrapper section--wrapper">

    {% if section.settings.title != '' %}
    <h2 class="t--section-title text-align--center f--main font-size--l lg--font-size--xl m0 mb3">{{ section.settings.title | escape }}</h2>
    {% endif %}


    {% assign count = 0 %}
    {% for block in section.blocks %}
      {% case block.type %}
      {% when 'feature_text' %}


        {% if block.settings.rich_text_mobile != '' %}
        <h3 class="store__feature-text f--title text-align--center font-size--l lg--font-size--xl m0 {% if count == 0 %}pb3{% else %}py3{% endif %}" {{ block.shopify_attributes }}>
          <div class="md-dn--hide">{{ block.settings.rich_text }}</div>
          <div class="hide md-dn--show">{{ block.settings.rich_text_mobile }}</div>
        </h2>
        {% else %}
          <h3 class="store__feature-text f--title text-align--center font-size--l lg--font-size--xl m0  {% if count == 0 %}pb3{% else %}py3{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.rich_text }}</h3>
        {% endif %}

      {% when 'featured_collection' %}

        <div class="grid grid-uniform product-grid py2 text-align--center" {{ block.shopify_attributes }}>
          <div class="product-grid__inner">
            {% if block.settings.selected_collection and block.settings.selected_collection  != empty %}
              {% for product in collections[block.settings.selected_collection].products limit:4 %}
                {% assign grid_item_width = 'md-dn--one-half lg--one-quarter dt--one-quarter mt4' %}
                {% include 'product-grid-item' %}
              {% endfor %}
            {% else %}
              {% for i in (1..4) %}
              {% assign grid_item_width = 'md-dn--one-half lg--one-quarter  dt--one-quarter mt4' %}
              {% include 'product-grid-item_placeholder' %}
              {% endfor %}
            {% endif %}
          </div>
          {% if block.settings.show_collection_link %}
            <div class="grid__item text-align--center">
              <a href="{{ collections[block.settings.selected_collection].url }}" class="btn mt3 mx--auto bg--primary color--primary-overlay hv-bg--shop-accent hv--shop-accent-overlay">
                {{ 'collections.general.all_of_collection' | t: collection:  collections[block.settings.selected_collection].title }}
              </a>
            </div>
          {% endif %}
        </div>

      {% when 'collection_list' %}

        {% assign grid_class = '' %}
        {% if block.settings.collection_2 and block.settings.collection_2 != empty %}
          {% assign grid_class = 'lg--one-half' %}
        {% endif %}

        <div class="grid  py2" {{ block.shopify_attributes }}>
          {% assign onboarding = true %}
          {% if block.settings.collection_1 and block.settings.collection_1 != empty%}
            {% assign onboarding = false %}
          {% endif %}

          {% if onboarding %}
            {% assign grid_class = 'lg--one-half' %}
            {% include 'collection-list_item--onboarding', text_color: text_color %}
            {% include 'collection-list_item--onboarding', text_color: text_color %}
          {% else %}
            {% if block.settings.collection_1 != empty %}
              {% assign selected_collection = collections[block.settings.collection_1] %}
              {% assign text_color = block.settings.collection_1_text_color %}
              {% include 'collection-list_item', collection: selected_collection, text_color: text_color %}
            {% endif %}

            {% if block.settings.collection_2 != empty %}
              {% assign selected_collection = collections[block.settings.collection_2] %}
              {% assign text_color = block.settings.collection_2_text_color %}
              {% assign extra_class = 'mt3 lg--mt0' %}
              {% include 'collection-list_item', collection: selected_collection, text_color: text_color %}
            {% endif %}
          {% endif %}


        </div>



      {% when 'single_product' %}

        {% assign product = all_products[block.settings.selected_product] %}
        {% capture selectID %}select-{{ product.handle }}{% endcapture %}
        {% capture sectionID %}section-{{ product.handle }}{% endcapture %}
        {% capture single_product_id %}section-{{ section.id }}-{{ product.handle }}{% endcapture %}
        {% assign current_variant = product.selected_or_first_available_variant %}
        {% assign show_quantity = block.settings.show_quantity %}
        {% assign in_list = true %}

        {% if block.settings.show_description  %}
          {% assign paragraphs = product.description | split: '<p>' %}
          {% assign short_description = paragraphs[1] | replace: '</p>', '' %}
        {% endif %}

        {% if block.settings.rich_text != '' %}
          {% assign short_description = block.settings.rich_text %}
        {% endif %}

        {% comment %}
          Check if the product is on sale and set a variable to be used below.
        {% endcomment %}
        {% assign on_sale = false %}
        {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
        {% endif %}

        {% if block.settings.selected_product and block.settings.selected_product  != empty %}

        <div itemscope itemtype="http://schema.org/Product" class="grid section-product single-product py2 clearfix" id="{{ sectionID }}" data-section-id="{{ single_product_id }}" data-money-format="{{ shop.money_format }}" {{ block.shopify_attributes }}>

          <div class="grid__item">
            <div class="grid product-single">
              <div class="grid__item lg--one-half dt--seven-twelfths text-center relative">
                <div class="mb3 lg--mb0 product-single__imageHolder relative clearfix">
                  {% if on_sale %}
                    <div class="product__on-sale color--white bg--shop-accent f--main t--meta font-size--xs lg--font-size--s">{{ 'products.product.on_sale' | t }}</div>
                  {% endif %}
                  {% for image in product.images limit:1 %}
                  <picture class="ProductPhotoImg">
                    <!--[if IE 9]><video style="display: none"><![endif]-->
                    <source
                      data-srcset="{{ image.src | img_url: '800x'  }}"
                      media="(max-width: 768px)" />
                    <source
                        data-srcset="{{ image.src | img_url: '2000x' }}" />
                    <!--[if IE 9]></video><![endif]-->
                    <img
                        src="{{ image.src | img_url: '10x'  }}"
                        data-src="{{ image.src | img_url: '10x'  }}"
                        class="full blur-up lazyload left" />
                  </picture>
                  {% endfor %}
                </div>
              </div><!-- end product images -->

              <div class="grid__item lg--one-half dt--five-twelfths text-align--center pt2 lg--pt1 dt--pt4">

                <div class="mx--auto lg--four-fifths dt--three-fifths">
                  {% include 'product-page-form' %}
                </div>

              </div><!-- end product form -->

            </div><!-- end images and form grid -->


            <script type="application/json" id="ProductJson-{{ single_product_id }}">
              {{ product | json }}
            </script>

            <script type="application/json" id="FirstVariant-{{ single_product_id }}">
              {{ product.selected_or_first_available_variant | json }}
            </script>

          </div>

        </div>
        {% else %}
          {% include 'onboarding_single-product' %}
        {% endif %}
      {% endcase %}

      {% assign count = count | plus: 1 %}
    {% endfor %}

  </div>
</section>

{% schema %}
{
  "name": "Store",
  "class": "section-store",
  "settings": [
    {
       "type":      "text",
       "id":        "title",
       "default":   "Store",
       "label":     "Title"
    }
  ],
  "presets": [
    {
      "name": "Featured store content",
      "category": "Products and collections",
      "blocks": [
        {
          "type": "feature_text"
        },
        {
          "type": "collection_list"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ],
  "blocks" :  [
    {
      "type": "feature_text",
      "name": "Feature text",
      "settings": [
        {
           "type":      "richtext",
           "id":        "rich_text",
           "label":     "Text",
           "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "id": "rich_text_mobile",
          "type": "richtext",
          "label": "Text - Mobile",
          "info": "Optional - use this if you would like different formatting / text on mobile devices."
        }
      ]
    },
    {
      "type": "single_product",
      "name": "Single product",
      "settings": [
        {
           "type": "product",
           "id": "selected_product",
           "label": "Choose product:"
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity"
        },
        {
          "type": "checkbox",
          "id": "show_description",
          "label": "Show description",
          "info": "Show first paragraph of product description"
        },
        {
           "type":      "richtext",
           "id":        "rich_text",
           "label":     "Short Description",
           "info": "Optional: enter custom short description which will override product description."
        }
      ]
    },
    {
      "type": "featured_collection",
      "name": "Featured collection",
      "settings": [
        {
           "type": "collection",
           "id": "selected_collection",
           "label": "Choose collection:"
        },
        {
          "type": "checkbox",
          "id": "show_collection_link",
          "label": "Show link to Collection"
        }
      ]
    },
    {
      "type": "collection_list",
      "name": "Collection list",
      "settings": [
        {
           "type": "paragraph",
           "content": "Select up to two collections:"
        },
        {
           "type": "header",
           "content": "Collection 1:"
        },
        {
           "type": "collection",
           "id": "collection_1",
           "label": "Choose collection:"
        },
        {
           "type": "select",
           "id": "collection_1_text_color",
           "options": [
              { "value": "primary", "label": "Primary"},
              { "value": "shop-accent ", "label": "Shop Accent"},
              { "value": "white ", "label": "White"},
              { "value": "black", "label": "Black"}
           ],
           "label": "Text color"
        },
        {
           "type": "header",
           "content": "Collection 2:"
        },
        {
           "type": "collection",
           "id": "collection_2",
           "label": "Choose collection:"
        },
        {
           "type": "select",
           "id": "collection_2_text_color",
           "options": [
              { "value": "primary", "label": "Primary"},
              { "value": "shop-accent ", "label": "Shop Accent"},
              { "value": "white ", "label": "White"},
              { "value": "black", "label": "Black"}
           ],
           "label": "Text color"
        }
      ]
    }
  ]
}
{% endschema %}